[2020-04-08 21:09] #6771 closed

[2020-04-08 21:56] JLunda opened #8180 "Selenium WebDriver Manager not working with Chrome 81"
As of today, Chrome seems to have updated to version 81.0.4044.69 and now the version of Selenium included as part of NPM package protractor@5.4.3 (the latest version as of this writing) is failing with error message:
[code]

Before this portion, it is clearly unzipping a version 81 of the ChromeDriver with a statement reading:
[code]

Specifying version in two different places in the Protractor.c

[2020-04-08 21:57] #8180 closed

[2020-04-08 21:59] JLunda opened #8181 "Selenium in npm Protractor 5.4.3 not working with Chrome 81"
## 💥 Regression Report

As of today, Chrome seems to have updated to version 81.0.4044.69 and now the version of Selenium included as part of NPM package protractor@5.4.3 (the latest version as of this writing) is failing with error message:
[code]

Before this portion, it is clearly unzipping a version 81 of the ChromeDriver with a statement reading:
[code]

Specifying version in two different pl

[2020-04-09 01:13] HermioneSW opened #8182 "A potential null pointer dereference bug. Please confirm, much appreicated!"
Hi,
We are developing a new static analysis tool for catching bugs in Java code. Upon scanning your codebase we find some minor stuff list below

1. In ```DeviceRotation.java``` (/java/client/src/org/openqa/selenium/DeviceRotation.java), line 52 ```DeviceRotation``` function when ```map``` is ```null``` at line 53, the if body will be executed which will trigger a bug in ```map.toString()``` at li

[2020-04-09 01:14] #8182 closed

[2020-04-09 01:24] HermioneSW opened #8183 "potential null pointer dereference in DeviceRotation.java"
## 🐛 Bug Report

A clear and concise description of what the bug is.

 In ```DeviceRotation.java``` (/java/client/src/org/openqa/selenium/DeviceRotation.java), line 52 ```DeviceRotation``` function when ```map``` is ```null``` at line 53, the if body will be executed which will trigger a bug in ```map.toString()``` at line 55.

## To Reproduce
Detected by our static analysis tool.

## Expected beh

[2020-04-09 01:26] HermioneSW opened #8184 "potential null pointer dereference in NetworkInterface.java"
## 🐛 Bug Report

In ```NetworkInterface.java``` (/java/client/src/org/openqa/selenium/net/NetworkInterface.java
), line 62 when ```networkInterface ``` is checked against ```null``` we guess it can be a null value. If that's indeed the case, then at line 74, the expression ```networkInterface.getInetAddresses()``` will throw a null pointer dereferencing.

## To Reproduce
Detected by our static ana

[2020-04-09 01:27] HermioneSW opened #8185 "potential null pointer dereference in UploadFile.java"
## 🐛 Bug Report

A clear and concise description of what the bug is.

 In ```UploadFile.java``` (/java/server/src/org/openqa/selenium/remote/server/handler/UploadFile.java), line 50 if ```allFiles``` equals to ```null``` the expression ```allFiles.length``` will throw a null pointer at line 52

## To Reproduce
Detected by our static analysis tool.

## Expected behavior
null pointer is not thrown

[2020-04-09 04:03] sandipchitale commented on #8181
A combination of:

package.json

[code]
and e2e/protractor.conf.js
[code]
And I have downloaded and put:
[code]

This worked for me.

[2020-04-09 04:56] chaitanyac-git opened #8186 "Cesium 3D map elements not identified in selenium"
Hi,

My application has HTML controls and 3D maps shown in cesium viewer . Facing issue with recognition of elements on 3D maps as it is not html and can not get details using Inspect element option of browser. 3D map treated as Canvas and nothing comes up with right click
Can any one please suggest if any alternative way to inspect elements of 3D maps .

Thanks
Chaitanya

[2020-04-09 04:56] #8186 closed

[2020-04-09 08:21] diemol commented on #5373
Going back to this thread after a while...
The question that comes to my head is, how is the Grid even able to start if the hub cannot talk to the nodes? The node can register but after a while the hub is doing some health checks on the nodes, and if they fail, the node is taken offline.
How are you able to have the Grid passing the health checks?

[2020-04-09 08:23] diemol commented on #5389
Is this still an issue?
If so, how are people being able to use cloud providers like Sauce Labs, which in many cases people create the `RemoteWebDriver` by putting their user and key next to the connection url.

[2020-04-09 08:27] diemol commented on #5459
I will close this since we are not making any more changes to Grid 3.x
Nevertheless, Grid 4 has tracing enabled, which should allow you to understand better where the timeout happens on the Grid side.
You can see an example repo showing this here https://github.com/manoj9788/tracing-selenium-grid

[2020-04-09 08:27] #5459 closed

[2020-04-09 08:33] diemol commented on #5461
Is still an issue?
It is not clear how we can help. If some URLs work and other ones don't, it is an indication that the issue could be related to the environment and the network rules (maybe certificates?) in the topology of your network.
If there is a way for us to reproduce, we are happy to help.

[2020-04-09 08:36] diemol commented on #5496
Is this still an issue in Grid 3.141.59 and Grid 4 (alphas)?

[2020-04-09 08:43] diemol commented on #5764
Apologies for the late reply, but this all looks as an issue of TestNG configuration and not Grid.
To be sure of that, could you please share more information? Logs from test execution and Grid can help.

[2020-04-09 09:07] diemol commented on #6188
@Kalste apologies for the late reply, Grid 4 is already available in the alphas https://www.selenium.dev/downloads/

and per the previous comments, I will close this issue since the behaviour won't be changed for Grid 3.x

[2020-04-09 09:07] #6188 closed

[2020-04-09 09:09] diemol commented on #6665
Isn't this what the distributor is already doing @shs96c?

[2020-04-09 09:22] diemol commented on #8181
Thank you for the reply @sandipchitale!
Closing as this is a Protractor related issue.

[2020-04-09 09:22] #8181 closed

[2020-04-09 10:01] diemol commented on #8167
This is actually more relevant now since the new Grid (when using all the pieces apart) needs to be started in a specific order.
We need to work on this before continuing to work on the docker images.

[2020-04-09 11:30] ShockwaveNN commented on #8044
@p0deje Yeah, ok thank, but setting things straight - workaround will be:

[code]

Since `key_down` accept only `[:shift, :alt, :control, :command, :meta]`

[2020-04-09 11:31] AutomatedTester commented on #8185
False positive. There is already a null check on line 50

[2020-04-09 11:35] p0deje commented on #8044
Where do you see that? It supports both symbols for modifier keys and strings for regular keys.

[2020-04-09 11:36] shs96c commented on #6665
Let's say "yes" and figure things out from where we are :)

[2020-04-09 11:36] #6665 closed

[2020-04-09 11:47] #8183 closed

[2020-04-09 12:29] ShockwaveNN commented on #8044
Here:
https://github.com/SeleniumHQ/selenium/blob/rb-3.x/rb/lib/selenium/webdriver/common/action_builder.rb#L76

[2020-04-09 12:59] p0deje commented on #8044
This is an older version of actions. The ones that are used by W3С is in https://github.com/SeleniumHQ/selenium/blob/rb-3.x/rb/lib/selenium/webdriver/common/interactions/key_actions.rb#L47.

[2020-04-09 13:40] ShockwaveNN commented on #8044
@p0deje yeah, I using w3c: false since this issue https://github.com/SeleniumHQ/selenium/issues/7270, since seems there is no correct way to get browser logs

[2020-04-09 14:11] diemol commented on #1573
Hi all,
We had a discussion if we should include this feature in Grid 4, but we concluded that a better approach is to provide a `/health` endpoint, which would be used by orchestrated environments (Mesos, Kubernetes, etc...) to verify if the container/pod should be torn down and a new one to be started.
I am closing this issue since we will provide another approach for it in Grid 4. For Grid 3.x,

[2020-04-09 14:11] #1573 closed

[2020-04-09 14:13] diemol commented on #7513
Current docs for Grid 3.x can be seen here https://www.selenium.dev/documentation/en/grid/setting_up_your_own_grid/

[2020-04-09 14:13] #7513 closed

[2020-04-09 16:45] shs96c commented on #8130
First question: are you pulling this into a project by a maven dependency, or just grabbing the jar?
Presumably, you're using `org.seleniumhq.selenium:selenium-grid:4.0.0-alpha-5` and pulling in a maven dep to a project. Is that right?

[2020-04-09 18:32] HermioneSW commented on #8185
@AutomatedTester I think you should take a closer look at your code. In the null check on line 50 (as you said) what happens ```allFiles``` is null? line 51 will be executed, clearly ```allFiles.length``` will throw a null pointer dereference. We agree it's a minor issue still it's not a false positive but a real bug. Thanks!

[2020-04-09 18:35] HermioneSW commented on #8183
@AutomatedTester similar to the issue #8185, would you please double check this one as well.

[2020-04-09 18:54] yyhmsg opened #8187 ""Unable to find a matching set of capabilities" - flatpak firefox"
This may be a bug related to previous bugs from a couple years ago not looking in enough places to find firefox.

Either way, I recently updated my manjaro system to use the new flatpak version of firefox.  When running:
browser = webdriver.Firefox()

I get:
File "<pyshell#136>", line 1, in <module>
    browser = webdriver.Firefox()
  File "/usr/lib/python3.8/site-packages/selenium/webdriver/firef

[2020-04-09 18:54] #8187 closed

[2020-04-09 18:57] yyhmsg opened #8188 "flatpak firefox - unable to find a matching set of capabilities"
This may be a bug related to previous bugs from a couple years ago not looking in enough places to find firefox.

Either way, I recently updated my manjaro system to use the new flatpak version of firefox.  When running:
browser = webdriver.Firefox()

I get:
File "<pyshell#136>", line 1, in <module>
    browser = webdriver.Firefox()
  File "/usr/lib/python3.8/site-packages/selenium/webdriver/firef

[2020-04-09 18:57] #8188 closed

[2020-04-09 19:40] asolntsev commented on #8130
@shs96c yes, I use `selenium-grid-4.0.0-alpha-5.jar` as Gradle dependency.

[2020-04-09 21:36] #8130 closed

[2020-04-10 11:23] GBR-613 opened #8190 "Complex XPATH is not found by Python Selenium"
Problem summary:
Selenium does not find elements with "too complex" XPATH

This is the HTML document to reproduce the problem:
`
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<script>

function getElementByXpath(path) {
    result1 = document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
	try {
      evaluator = new XPathEvaluator(

[2020-04-10 11:23] #8190 closed

[2020-04-10 11:32] AutomatedTester commented on #8190
This is likely due to phantomJs can’t do that. Since phantomJs is no longer maintained try Chrome or Firefox headless.
On Apr 10, 2020, 12:23 PM +0100, selenium-assistant[bot] <notifications@github.com>, wrote:

[2020-04-10 14:24] GBR-613 opened #8191 "Complex XPATH is not found by Python Selenium"
## 🐛 Bug Report

Selenium does not find elements with "too complex" XPATH.
I supply a testcase (sample HTML document) with two typical cases: one with id selector and second with class selector.

## To Reproduce

Please look into the following ticket:
#https://github.com/SeleniumHQ/selenium/issues/8190

There is the sample HTML document and Python code that uses Selenium.
If you press "Text XPATH"

[2020-04-10 14:51] barancev commented on #8191
Selenium can work with element nodes only, you can't use it to search for a text node.

[2020-04-10 14:51] #8191 closed

[2020-04-10 16:51] JLunda commented on #8181
Thank you for the solution, @sandipchitale! This worked for our needs.

[2020-04-10 21:53] Telavian opened #8192 "Invalid argument error when navigating to a url without 'http[s]'"
Probably related to #7789

I am testing the EdgeDriver version 4.0.0-alpha05 and noticed that when trying to navigate to non fully qualified url then I receive the Invalid argument exception.

`driver.Navigate().GoToUrl(url);`

Url: www.google.com gives the error.
Url: https://www.google.com works fine.

[2020-04-10 21:53] #8192 closed

[2020-04-10 21:55] barancev commented on #8192
This works as designed. Please use a well-formed URL as an argument.

[2020-04-10 21:57] Telavian opened #8193 "Invalid argument received when navigating to a url without http[s]"
## 🐛 Bug Report

Probably related to #7789

I am testing the EdgeDriver version 4.0.0-alpha05 and noticed that when trying to navigate to non fully qualified url then I receive the Invalid argument exception.

Navigation code:
driver.Navigate().GoToUrl(url);

Url: www.google.com gives the error.
Url: https://www.google.com works fine.

## To Reproduce

Url: www.google.com gives the error.
Url: htt

[2020-04-10 22:08] HermioneSW commented on #8183
@AutomatedTester and @barancev can either of you reopen issue and hopefully fix it. We believe the problem is similar to the issue #8185. Thanks so much!

[2020-04-10 22:14] barancev commented on #8183
The issue has been fixed, see 92240ce1836ca28195778bb69e2fdd23b34d20a2 and dd47b123b24bd58defd09ce4e52c205ac1967ded

[2020-04-10 22:15] barancev commented on #8193
This works as designed. Please use a well-formed URL as an argument.

[2020-04-10 22:15] #8193 closed

[2020-04-10 22:16] HermioneSW commented on #8183
@barancev thanks!

[2020-04-10 22:17] #8185 closed

[2020-04-10 22:18] barancev commented on #8171
Step 1: deprecation -- 77301cdabe064e706537f3fc00e296cbe10ca1c6

[2020-04-11 05:56] stream1990 commented on #7335
未将对象引用设置到对象的实例。
the logs is null

ChromeDriver 81.0.4044.69

so
how can i get the response header?

thankyou

[2020-04-11 17:22] #8184 closed

[2020-04-11 18:20] diemol commented on #6853
@SiKing the value comes directly from the SafariDriver and not from `BrowserType.SAFARI`...
What the Grid does is simply to parse the response from SafariDriver and forward it back to the local end.

Example:
(in one terminal)
[code]
(in a second terminal)
[code]

Please note the **"browserName": "Safari"**

Closing as this is not an issue.

[2020-04-11 18:20] #6853 closed

[2020-04-11 18:21] diemol commented on #7030
I'll close this since the OP didn't come back and the code for Grid 3.x does not exist in the tree anymore.

[2020-04-11 18:21] #7030 closed

[2020-04-11 18:24] diemol commented on #7194
Apologies for the late reply. This is a known issue in Grid 3.x, which we have very much in mind and won't happen in Grid 4 (currently in the alphas). Since Grid 3.x is not underdevelopment anymore, this issue will be closed (however, the related issue is part of the feature set of Grid 4).

[2020-04-11 18:24] #7194 closed

[2020-04-11 18:28] diemol commented on #7209
Apologies for the late reply, is this issue still happening?
Is there something else running in port 5555? What if you try a different port?

[2020-04-11 18:34] diemol commented on #7258
@lpanger Grid 3.x is not under development anymore, and since the code is not present in the tree anymore, we cannot check if this is a bug in Grid or not.
However, we are currently working on Grid 4, so could you please try again and see if the behavior is the same one? If so, please provide detailed steps (with code as well).

How to start Grid 4 (alphas)
[code]
It can be downloaded from https:/

[2020-04-11 18:36] diemol commented on #7262
@budtmo
what happens if you use the Appium server directly, does it work?
Can you please provide the code used to build the capabilities? Which versions of Selenium and the language bindings are you using?

[2020-04-11 18:40] diemol commented on #7534
@RST90 could you please provide the detailed steps to reproduce the issue?
- Command to start the Appium server (with capabilities)
- Command to start the Selenium server (with complete configuration)
- Automation code to run a test against the running servers

[2020-04-11 18:42] diemol commented on #7821
Can you please provide the test code you used to get this issue? Are you running any CDP commands?

[2020-04-11 18:44] diemol commented on #7827
@kovalev007 Could you please try again with `selenium-server-4.0.0-alpha-5.jar`? I am not gettiing this issue anymore

[2020-04-11 18:52] diemol commented on #7867
@cjmme is this issue still happening?
I see in the node logs that the session creation starts but it is not clear if it was fully created. Do you have all the environment variables configured and working? Does it happen only on your machine or also in a colleague's machine?

[2020-04-11 19:29] diemol commented on #7941
How can we reproduce this @cod-r?
There is no automation script attached to the issue template.

[2020-04-11 19:34] GBR-613 commented on #8191
@barancev there is the same problem with SPAN and DIV nodes.

HTML:

[code]

Python:

[code]

[2020-04-11 21:05] barancev commented on #8191
PhantomJS is not supported anymore, please use "real" browsers (Firefox, Chrome) that can run in "headless" mode too.

[2020-04-11 21:52] mahdisky opened #8194 "selenium error WebDriverException: unknown error: no chrome binary in asp core"
I am using selenium in asp core 3.1, in local it's working, but in server windows 2012 there's an error:

`WebDriverException: unknown error: no chrome binary`

I set binary and driver:
`var chromeOptions = new ChromeOptions();
chromeOptions.BinaryLocation = @"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe";
_driver = new ChromeDriver(Path.Combine(hostingEnvironment.WebRootPath), chro

[2020-04-11 21:52] #8194 closed

[2020-04-11 21:56] mahdisky commented on #8194
its important
answer

[2020-04-11 22:00] diemol commented on #8194
@mahdisky why don't you create an issue with the full template filled out? It requires all the needed information so people are able to reply properly.

[2020-04-11 22:07] mahdisky commented on #8194
i'm question in first issue.
it is not work in server ;
just error
how do it work ?

[2020-04-11 22:11] diemol commented on #8194
If it is a question, please understand that this is not a support forum, we don't have the capacity to answer questions here.
I see you already asked here https://stackoverflow.com/questions/61148615/selenium-error-webdriverexception-unknown-error-no-chrome-binary-in-asp-core, so please continue the conversation there.

[2020-04-11 22:13] mahdisky commented on #8194
ok

[2020-04-12 00:53] kovalev007 commented on #7827
@diemol I think it is already fixed in https://github.com/SeleniumHQ/selenium/commit/62867fd906441759031f4be1978f527c4b3f7a17

[2020-04-12 05:09] diemol commented on #7827
Thanks for confirming it!
Closing the issue as solved.

[2020-04-12 05:09] #7827 closed

[2020-04-12 05:59] raz235 opened #8195 "Selenium makes firefox unresponsive when recording on salesforce org"
## 🐛 Bug Report

When trying to record using firefox at a salesforce org the page becomes unresponsive after a few click and I receive the following alert: "A script in the extension Selenium IDE is causing Firefox to slow down".

-->

## To Reproduce

Create an account on salesforce
Create and open a trailhead playground org
Start recording the website and click on a random tab( pref Opportunitie

[2020-04-12 06:58] cod-r commented on #7941
Unfortunately I cannot reproduce it anymore. But I solved it by using the solution from this post: https://github.com/SeleniumHQ/selenium/issues/2332
That means deleting `session.terminate()` from class [RequestHandler.java](https://github.com/SeleniumHQ/selenium/blob/aee3d8790d021beb899110c774b13441399b14d9/java/server/src/org/openqa/grid/web/servlet/handler/RequestHandler.java#L131-136). This wa

[2020-04-12 10:16] GBR-613 commented on #8191
@barancev as the issue text mentions:

[2020-04-12 12:19] barancev commented on #8191
The provided example works well in Chrome:
![image](https://user-images.githubusercontent.com/617090/79068612-e679b880-7cd0-11ea-8fb0-2b5832e24b31.png)

I checked it works in Firefox too.

[2020-04-12 12:26] barancev commented on #8191
The link to the test page: https://output.jsbin.com/tumixuz

[2020-04-12 13:29] GrantTem commented on #7335
I suggest you check the webdriver version (4.0.0-alpha05), you can find it in NuGet  (checked 'Include prerelease')

[2020-04-12 14:09] stream1990 commented on #7335
i have update the webdriver(4.0.0-alpha05),but it also do not work , same  error
未将对象引用设置到对象的实例。
the logs is null

-_-

thank you for you reply

[2020-04-12 20:15] diemol commented on #1665
Closing this issue as it was a question and no action item came out of it.

[2020-04-12 20:15] #1665 closed

[2020-04-12 20:18] diemol commented on #2876
Closing as we never got more feedback from the OP

[2020-04-12 20:18] #2876 closed

[2020-04-12 20:19] diemol commented on #3068
Closing as we didn't get more information from the OP

[2020-04-12 20:19] #3068 closed

[2020-04-12 20:22] diemol commented on #3683
Closing as the fix got implemented/merged in all bindings.

[2020-04-12 20:22] #3683 closed

[2020-04-12 20:27] diemol commented on #4485
Closing as issue got stale and no more user comments were added which could indicate the importance of the issue.

[2020-04-12 20:27] #4485 closed

[2020-04-13 06:40] barancev commented on #8159
Yes, there are long-running threads, but they should not prevent stopping the VM.

Can you please get a complete thread dump and attach it here for investigation?

[2020-04-13 06:57] barancev commented on #8122
Yes, to prevent blocking in waits we've re-implemented them using async futures. This implies that you can't get a driver from `TreadLocal` being inside the `until` method.

That's why we pass a reference to a driver in the waiting condition. Use this driver instead of getting one from `ThreadLocal`. Yuo can e.g. implement another constructor in your class:

[code]

[2020-04-13 06:57] #8122 closed

[2020-04-13 15:58] diemol commented on #7802
@DeathBeforeDecaf sorry, I am not getting the idea. Are you suggesting to get rid of the JSON config file for nodes?

[2020-04-13 17:43] DeathBeforeDecaf commented on #7802
Hi Diego,

I'm not suggesting getting rid of config files for nodes, I'm just suggesting allowing valid json command line parameter values.  With Selenium 2 I was able to initialize everything via the command line but with Selenium 3 some webdriver instances are requiring json-specific settings in their initialization.  I want to give people the option to continue to initialize everything with the

[2020-04-14 00:33] shluh opened #8197 "can't kill an exited process (Selenium::WebDriver::Error::UnknownError)._Ruby+Capybara+Firefox+Linux"
## 💬 I'm Working with Ruby+Capybara+Firefox for automated tests
I'm getting the error below, when running a feature cucumber, using ruby+capybara+firefox on Linux

_invalid argument: can't kill an exited process (Selenium::WebDriver::Error::UnknownError)_

## system specifications are below:
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=19.04
capybara (3.32.1, 3.31.0, 3.30.0, 3.29.0, 3.12.0, 2.18.0)
capybara-

[2020-04-14 00:33] #8197 closed

[2020-04-14 07:15] budtmo commented on #7262
Hi @diemol ,

yups, it worked fine with Appium last time I have checked.

I had some issues by using Appium through Selenium Hub and besides it is not stable for running a lot of parallel tests. Because of that reasons, I decided long time ago by not using Selenium Hub anymore, so I do not follow the issue. We can close the issue if you want.

[2020-04-14 07:39] #7262 closed

[2020-04-14 16:47] irisda opened #8198 "browser.sleep(1000)"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-04-14 16:47] irisda opened #8199 "webdrive"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-04-14 16:48] #8199 closed

[2020-04-14 16:48] #8198 closed

[2020-04-15 08:16] diemol commented on #7941
OK, thanks for replying. Closing the issue then.

[2020-04-15 08:16] #7941 closed

[2020-04-15 13:48] adamklinkosz commented on #7798
Any new on this one? Browsers will start to require this attribute to be set and we need to be able to test whether it is present.

[2020-04-15 16:58] cvaleu opened #8200 "iedriver"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-04-15 16:58] #8200 closed

[2020-04-16 09:34] stefko18 opened #8201 "Insecure Certificate error with Geckodriver"
## 🐛 Bug Report

A clear and concise description of what the bug is.
I am unable to bypass Insecure Certificate issue.

## To Reproduce
C# from selenium dotnet 3.14, webdriver net45 (I tried also net35)

	OpenQA.Selenium.Firefox.FirefoxProfile ffProfile = new OpenQA.Selenium.Firefox.FirefoxProfile();
	ffProfile.AcceptUntrustedCertificates = true;
	ffProfile.AssumeUntrustedCertificateIssuer = false

[2020-04-16 10:06] baolinhu opened #8202 "Using headless and normal mode to open the Google login website interface is different"
## 🐛 Bug Report

Using headless and normal mode to open the Google login website interface is different, resulting in unable to find the element

## To Reproduce

when use normal mode to open the Google login site，the interfacelike this：
![image](https://user-images.githubusercontent.com/16516384/79443365-514a2d00-800c-11ea-85ef-0ecb6594cfde.png)

But when use headless mode to open the Google logi

[2020-04-16 10:27] AutomatedTester commented on #8202
Google deliver different sites depending on the UA that is passed in. It looks like in headless mode you no longer get a tier 1 experience. Please raise this with Google

[2020-04-16 10:27] #8202 closed

[2020-04-16 10:53] AutomatedTester commented on #8201
This is a question rather than an issue. Please send questions to the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users). What is the exact issue with the SSL certificate as there are cases where we can't get around if the SSL hasnt been configured properly

For issues please provide a [concise reproducible test case](http://sscce.org/) and describe what results you are

[2020-04-16 10:53] #8201 closed

[2020-04-16 12:39] diemol commented on #7269
Is this still happening @amarose?
Can you please provide a way to reproduce the issue? Narrative descriptions are not enough.

[2020-04-16 12:42] diemol commented on #7324
Is this still happening @LJenkins89?
The provided reproduction test case has code dependencies and cannot be executed on its own. If the issue is still present, please provide something that is self-contained and uses a public website.

[2020-04-16 12:42] diemol commented on #8038
Closing as no SSCCE was provided.

[2020-04-16 12:42] #8038 closed

[2020-04-16 14:10] orifn1 opened #8204 "Selenium server node failed to start new session for edge chromium"
## Selenium server node failed to start new session for edge CHROMIUM

## Expected Behavior
New session starts for edge chromium browser.

## Actual Behavior

**Test failed with message:**
    Unable to create new service: EdgeDriverService
    Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'
    System info: host: 'qh-automationV3', ip: '10.0.0.5', os.name: 'Wi

[2020-04-16 14:10] #8204 closed

[2020-04-16 14:20] orifn1 opened #8205 "Selenium server node failed to start new session for edge CHROMIUM"
## 🐛 Bug Report

**Unable to create new service: EdgeDriverService**
Selenium server node failed to start new session for Edge **Chromium**

## To Reproduce

Test is started
Test failed with message:
[code]

## Expected behavior

New session starts for edge chromium browser.

## Test script or set of commands reproducing this issue

Run selenium-standalone-server.jar as hub:
[code]

DefaultHub.jso

[2020-04-16 18:19] amarose commented on #7269
@diemol
I checked it and yes, it is still happening. To reproduce it u should run that code:

`from selenium import webdriver
from time import sleep

# This is crucial. You have to use custom profile
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("user-data-dir=base/tmp_data/chrome")  # Path to your Chrome Custom Profile
driver = webdriver.Chrome(options=chrome_options)

dr

[2020-04-16 19:23] balametly opened #8207 "Timeout error in chrome browser while launching any URL through webdriver"
## 🐛 Bug Report

Throwing Timeout error when trying to open any url in chrome browser through selenium webdriver as "[1587062820.974][SEVERE]: Timed out receiving message from renderer: 0.100"

## To Reproduce

when i try launch google url in chrome browser get page title through webdriver, session is created successfully, chrome launched and Google page also opened. but web driver is throwing tim

[2020-04-16 20:05] AutomatedTester commented on #8207
Please log chromedriver issues with the chromedriver project.

https://sites.google.com/a/chromium.org/chromedriver/help

Please be sure to include a completely reproducible test script for them, without a way to reproduce the issue you are seeing there is no good way for them to fix the problem. A reproducible test script includes a WebDriver script and a link to the page in question. If you can

[2020-04-16 20:05] #8207 closed

[2020-04-16 20:38] diemol commented on #7269
I just wrote the test in Java and I cannot reproduce the issue:

[code]

What am I missing?

[2020-04-16 21:30] ZigmundL opened #8208 "IJavaScriptExecutor.ExecuteScript() throws Access Violation Exception"
## 🐛 Bug Report

I have an app that runs 50+ ChromeDriver browsers in different threads. Each thread quits browser in the end. I was trying to stop chromedriver lose processes, so I've made a wrapper around chromedriver with custom Quit() method:

[code]

Sometimes my app crashes and here is an error:

I've commented line: ((IJavaScriptExecutor)webDriver).ExecuteScript("return window.stop");
And t

[2020-04-16 23:34] jimevans commented on #8208
First, the .NET bindings make no claims about thread-safety. That, coupled with the lack of a direct repro case that can be easily cloned/pulled/downloaded and directly compiled and run, I’m afraid this issue will have to be if a low priority for investigation. I write this not to be difficult, but to set proper expectations of attention this issue will be given.

Second, I would omit the `return`

[2020-04-16 23:47] ZigmundL commented on #8208
Direct repro is present:
https://github.com/ZigmundL/selenium_repro/blob/master/Program.cs

[2020-04-17 00:26] LJenkins89 commented on #7324
whoa, I totally forgot about this bug.

Sure I'll take a look. I logged this when I was young and foolish, and didnt know how to report well, so I'll clean up my code too.

[2020-04-17 12:03] amarose commented on #7269
Your code looks perfectly fine so i assume problem is here
[code]

Firstly you should create a chrome custom profile in chrome browser
https://www.chromium.org/developers/creating-and-using-profiles

 "base/tmp_data/chrome" is path to mine chrome custom profile files. Instead of that path, provide path to your custom profile after you will create it

[2020-04-17 12:09] diemol commented on #7269
When you set a path like that the profile is created automatically.
Nevertheless, I have little time to create a profile and figure it out on my own, that's why we ask for your help by providing a complete self container test case that we can use to reproduce the issue.
Aside from that, I highly doubt it is a Selenium issue, if there is a problem, it seems it is between Chrome and the profile crea

[2020-04-17 13:10] paulsbruce commented on #6666
Hallo @barancev ! Just a ping on this, I'd like to start in on this work, at least for my own prototyping and need guidance on how to do this in a way that fits in with the Se4 grid architecture as it currently stands.

What would be the best forum/format/channel to discuss this together?

* Google Groups Selenium Developers
* IRC
* Slack
* This issue
* Something else

[2020-04-17 14:16] ZigmundL commented on #8208
@jimevans well, there probably could be a mutex\lock at OpenQA.Selenium.Remote.RemoteWebDriver.ExecuteScriptCommand
Which would make it more thread-safe even if it is not claimed.
This is the only threading issue i've encoutered yet.

[2020-04-17 14:49] paulsbruce opened #8209 "Add support for custom RemoteProxy"
## 🚀 Feature Proposal

In Se4, I would like a way to provide a custom implementation of node command processing handlers (before & after) command is executed. Similar to Se3 RemoteProxy, but currently the only way to do this is to fork the whole project and add a custom class that inherits from Node or extends SessionFactory. Instead, a separate jar file containing just the Node (or Handler) imple

[2020-04-17 14:51] paulsbruce commented on #8209
@barancev @shs96c this is a split from #6666 based on our discussions over IRC today.

[2020-04-17 15:11] shs96c commented on #8209
We've got `Node` as a basic replacement for `RemoteProxy`, but we also have things like integration with distributed tracing, which provides access to things like the timings for each call.

Typically, you'd compile against the Selenium Grid jar (as a `provided` jar if your build system supports that) and then add your custom `Node` to the classpath via the Selenium server's `--ext` flag.

There i

[2020-04-17 22:59] jpratt2 opened #8210 "wiki suggestion for IE 11 configuration"
May I suggest some enhancements to the 2nd and 3rd paragraphs found at https://github.com/SeleniumHQ/selenium/wiki/InternetExplorerDriver#required-configuration?

This is the original text:
-On IE 7 or higher on Windows Vista or Windows 7, you must set the Protected Mode settings for each zone to be the same value. The value can be on or off, as long as it is the same for every zone. To set the Pr

[2020-04-17 22:59] #8210 closed

[2020-04-17 23:00] jpratt2 commented on #8210
I don't know if the previous instructions regarding Win 7 and Vista are still true, but I can say that in Windows 10, it is not enough for the "Enable Protected Mode" settings to be the same.

[2020-04-17 23:16] jpratt2 opened #8211 "wiki suggestion for IE 11 configuration in Windows 10"
## 🐛 Bug Report

May I suggest some enhancements to the 2nd paragraph found at https://github.com/SeleniumHQ/selenium/wiki/InternetExplorerDriver#required-configuration?

This is the original text:
-On IE 7 or higher on Windows Vista or Windows 7, you must set the Protected Mode settings for each zone to be the same value. The value can be on or off, as long as it is the same for every zone. To se

[2020-04-17 23:17] jpratt2 commented on #8211
I don't know if the instructions for Windows 7 and Vista are still true, but in Windows 10, that was required.

[2020-04-18 10:19] leiwang008 opened #8212 "Cannot get 'assert' messages from the 'browser' logs."
## 🐛 Bug Report

Cannot get 'assert' messages from the 'browser' logs.

## To Reproduce
According to page https://github.com/SeleniumHQ/selenium/wiki/Logging
Enable all levels for 'browser'  log type, then try to get 'browser' type logs by following java code

`LogEntries logs = webdriver.manage().logs().get("browser");`

against a page running the following javascript code

[code]

## Expected be

[2020-04-18 10:53] sandeepbonagiri opened #8214 "Is any please give solution for this issue"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-04-18 10:53] #8214 closed

[2020-04-18 10:57] sandeepbonagiri opened #8215 "Data extraction from webtable header"
Hi ,
I have a requirement where all the data  in table   header which is
displayed on ui  has to be captured. Problem with this is I could
capture content  which is displayed on the screen but
not all the data in the table header (we get some data after moving the
scroll bar right).
For example say I have 30 header values in a table.I could see 15 on UI
and remaining 15  rows I could see only afte

[2020-04-18 10:57] #8215 closed

[2020-04-18 12:59] mmajcherczyk opened #8216 "UnreachableBrowserException instead of NoSuchElementException"
## 🐛 Bug Report

if xpath is not found in selenium 3.141.59 i have NoSuchElementException
`org.openqa.selenium.NoSuchElementException: no such element: Unable to locate element: {"method":"xpath","selector":"//span[normalize-space()='Supply of alcoholic beverages']"}
  (Session info: chrome=80.0.3987.163)
For documentation on this error, please visit: https://www.seleniumhq.org/exceptions/no_such_

[2020-04-18 13:35] jimevans commented on #8210
@jpratt2 i disagree with your assertion. I routinely use Windows 10, and all I do is set Protected Mode settings as documented for years.

[2020-04-18 14:21] nfk commented on #7742
I can see the same random issue ~2 fails on 30 jobs. This one occurs between 2 tests suite, when the test suite init a new instance of the webdriver. Do you know if this a bug or if I can prevent this issue ?

python bactktrace:
[code]

webdriver backtrace:
[code]

# Environment

[docker-selenium](https://github.com/SeleniumHQ/docker-selenium/)

* Selenium: 3.141.59
* Mozilla Firefox: 75.0
* Gecko

[2020-04-18 15:08] AutomatedTester commented on #8216
Looks like the browser crashed.

For issues please provide a [concise reproducible test case](http://sscce.org/) and describe what results you are seeing and what results you expect.

See [CONTRIBUTING.md](https://github.com/SeleniumHQ/selenium/blob/master/CONTRIBUTING.md#issue-contributions)

[2020-04-18 15:08] #8216 closed

[2020-04-18 21:08] mmajcherczyk opened #8217 "UnreachableBrowserException when implicitlyWait > 60s"
## 🐛 Bug Report

UnreachableBrowserException instead of NoSuchElementException when implicitlyWait greater than 60s

## To Reproduce

run this test(selenium 4.0.0-alpha-5)

    @Test
    public void test() {
        WebDriverManager.chromedriver().setup();
        ChromeOptions options = new ChromeOptions();
        WebDriver driver = new ChromeDriver(options);
        driver.manage().timeouts().i

[2020-04-19 00:03] AchuthSankar opened #8218 "[SEVERE]: Timed out receiving message from renderer: 0.100"
## 💥 Regression Report

A clear and concise description of what the regression is.

## Last working Selenium version

Worked up to version: Chrome Version 80.0.3987.163 (Official Build) (64-bit)

Stopped working in version: Chrome Version 81.0.4044.113 (Official Build) (64-bit)

## To Reproduce

                System.setProperty("webdriver.chrome.driver", "./chromedriver.exe");
		ChromeOptions ch

[2020-04-19 04:27] uunicorn commented on #8218
I can reproduce the problem on Chrome Version 80.0.3987.163 with **ChromeDriver 80.0.3987.163**

I cannot reproduce the problem with **ChromeDriver** version 79.xxxx regardless of the Browser version.

I've done some debugging and I think I have found a problem responsible for this behavior in the chromedriver's NavigationTracker. In particular it appears to rely on 'Page.frameStoppedLoading' and/

[2020-04-19 04:50] uunicorn commented on #8218
Changing `kLoading` to `kUnknown` on this line works around the problem for me:
https://chromium.googlesource.com/chromium/src/+/master/chrome/test/chromedriver/chrome/navigation_tracker.cc#253

[2020-04-19 06:35] shahabhijeet opened #8219 "Publishing Full PDBs"
Currently Selenium publishes a [nuget package](https://www.nuget.org/packages/Selenium.WebDriver/4.0.0-alpha05#show-github-usage) but does not publish symbols package.
Would you please start publishing full debug symbols (/DEBUG:FULL) to nuget?

[2020-04-19 06:35] #8219 closed

[2020-04-19 06:36] shahabhijeet opened #8220 "Publish webdriver.dll full symbols package (.snupkg) to nuget"
## 🚀 Feature Proposal

Currently Selenium publishes a nuget package but does not publish symbols package.
Would you please start publishing full debug symbols (/DEBUG:pdbonly) to nuget?

## Motivation
Get symbols along with WebDriver.dll nuget package

## Example
Publish symbols package to nuget (.snupkg) with /DEBUG:pdbonly

[2020-04-19 06:38] uunicorn commented on #8218
Further investigation revealed that in my case the webpage under test was using CloudFlare's [Rocket Loader](https://support.cloudflare.com/hc/en-us/articles/200168056-What-does-Rocket-Loader-do-) feature. This feature injects a piece of JavaScript into the page. This javascript redefines the behavior of document.readyState. This new behavior breaks the ChromeDriver's NavigationTracker heuristics.

[2020-04-19 12:03] bongosway commented on #7493
@barancev if this is desired, I can work on it. Thoughts?

[2020-04-19 13:32] uunicorn commented on #8218
Related ChromeDriver issue: https://bugs.chromium.org/p/chromedriver/issues/detail?id=3432

[2020-04-19 14:48] amkhlv opened #8221 "selenium-server-standalone dumps Firefox profile on stderr"
## 🐛 Bug Report

When using custom Firefox profile, `java -jar selenium-server-standalone-3.141.59.jar -role node` dumps the whole (zipped?) profile to stderr, as part of Capabilities. This is several Megabytes...

## To Reproduce

`java -jar selenium-server-standalone-3.141.59.jar -role node`

with `prepareLoadedProfile_` as `ffProfile` (using Haskell bindings)

This seems to be [Bug 3027](https:

[2020-04-19 18:31] AchuthSankar commented on #8218
I am using fiddler, will that too impact it ?

On Sun, 19 Apr 2020 at 7:02 PM, uunicorn <notifications@github.com> wrote:

--
hoida !!!

[2020-04-19 23:29] uunicorn commented on #8218
Sorry, I don't know what Fillder is. You can check if your page is doing something dodgy by opening a DevTools' console and evaluating `Object.getOwnPropertyDescriptor(document, 'readyState')`:

Here's mine "misbehaving" page:
![image](https://user-images.githubusercontent.com/9938451/79702443-fad53b00-82f8-11ea-8970-f7d2b707115c.png)

Here's a "normal" page:
![image](https://user-images.githubuse

[2020-04-20 07:07] #7269 closed

[2020-04-20 15:37] petrisorionel commented on #7534
Steps to reproduce:

https://docs.docker.com/docker-for-windows/release-notes/#docker-desktop-community-2203

docker-compose.yml

`version: "3"
services:
  selenium-hub:
    image: selenium/hub:3.141.59-20200409
    container_name: selenium-hub
#    environment:
#      - GRID_DEBUG=true
#      - GRID_NEW_SESSION_WAIT_TIMEOUT=300000
#      - GRID_BROWSER_TIMEOUT=360
    ports:
      - "4444:4444"

[2020-04-20 18:10] EkremDincel commented on #6232
Is there any way to do that now?

[2020-04-20 20:37] diemol commented on #8211
@jpratt2 did you check this comment?
https://github.com/SeleniumHQ/selenium/issues/8210#issuecomment-615872917

[2020-04-20 20:39] diemol commented on #7742
@isakemal how can we reproduce the issue? Is it happening with the latest NodeJS alpha bindings?
@nfk the original issue seems to be happening in JavaScript, is it really the same you are having but now in Python?

[2020-04-20 20:44] AutomatedTester commented on #8212
Please log chromedriver issues with the chromedriver project.

https://sites.google.com/a/chromium.org/chromedriver/help

Please be sure to include a completely reproducible test script for them, without a way to reproduce the issue you are seeing there is no good way for them to fix the problem. A reproducible test script includes a WebDriver script and a link to the page in question. If you can

[2020-04-20 20:44] #8212 closed

[2020-04-20 20:45] AutomatedTester commented on #8217
This is likely an issue in Chromedriver not keeping the connection open for long enough. Please raise an issue with the ChromeDriver team

Please log chromedriver issues with the chromedriver project.

https://sites.google.com/a/chromium.org/chromedriver/help

Please be sure to include a completely reproducible test script for them, without a way to reproduce the issue you are seeing there is no g

[2020-04-20 20:45] diemol commented on #7534
@petrisorionel I'm marking your previous comment as off topic since it clearly does not show how to reproduce the issue.

[2020-04-21 05:03] mmajcherczyk commented on #8217
@AutomatedTester it's not the chromedriver fault. I have the same error on firefox

in selenium 3.141.59 the problem does not occur

[2020-04-21 06:12] leiwang008 commented on #8212
@AutomatedTester Thanks for your suggestion.
I have opened a defect https://bugs.chromium.org/p/chromedriver/issues/detail?id=3434 for chromedriver.

[2020-04-21 10:05] Yousef1986 opened #8223 "upload file selenium python without input"
I'm trying to upload files using selenium, but there is no input on the website that I want to upload files to. is there is another way to upload the files? and if the input is hidden, how I can get it from inspect?

I can't attach the website, because it needs a user name and password to log in.

[2020-04-21 10:05] #8223 closed

[2020-04-21 10:51] nfk commented on #7742
@diemol I had tried a lot of thing trying to reproduce on my local machine but I was not able to find the way to reach this bug easily. On my side, it occurs on gitlab runner where I allow to run 2 concurrents jobs where each job has their own selenium standalone node, maybe it can happen with onlt one job too. Each node uses the same `/dev/shm` partition I don't know if that can affect the Firefo

[2020-04-21 11:43] alstafeev commented on #8159
thread dump
[thread_dump.txt](https://github.com/SeleniumHQ/selenium/files/4509748/thread_dump.txt)

[2020-04-21 13:07] AutomatedTester commented on #8217
This is likely hitting a HTTP client hitting a timeout after 1 minute.

[2020-04-21 13:07] hisrarul opened #8224 "How we can share volumes between nodes and hub in kubernetes? I need to download some of the files during the test and that will be accessible from another node."
How we can share volumes between nodes and hub in kubernetes? I need to download some of the files during the test and that will be accessible from another node.

[2020-04-21 13:08] #8224 closed

[2020-04-21 13:26] SalmonMode commented on #7462
I agree with @hugovk's assessment. People using Python 2 would still be able to install Selenium 3 through `pip` and PyPI, and if something goes wrong there, they can always install specific releases from GitHub directly. I would recommend adding some instructions for how to do this in the docs somewhere first, though.

[2020-04-21 13:46] tomas-hartman opened #8225 "WebElement.getAttribute() fails on multiline attribute"
## 🐛 Bug Report

When trying to get element's `title` attribute, I end up with empty string, while doing the same with other attributes, I get the desired string/boolean. When digging into the issue, I noticed, that the `title` attribute is multiline, ending with EoL (LF). Trying to reproduce the issue on the same element directly from browser console (with pure js) ended up negative as I got the

[2020-04-21 15:04] diemol commented on #7821
@kovalev007 I checked again and the host header is not [being added](https://github.com/SeleniumHQ/selenium/blob/master/java/server/src/org/openqa/selenium/grid/web/ReverseProxyHandler.java#L39-L49) in the latest alpha 5.
Could you please provide the automated script being used to get this error?

[2020-04-21 15:05] diemol commented on #7856
@adamgoucher Could you please provide some hints on how can this be implemented? Next steps?

[2020-04-21 15:11] jpratt2 commented on #8211
I agree with that comment. It is working as Jim said.
I will close this ticket.

[2020-04-21 15:11] #8211 closed

[2020-04-21 15:22] hugovk commented on #7462
For March 2020:

| category | percent | downloads |
|----------|--------:|----------:|
| 3.7      |  31.19% |   957,325 |
| 3.6      |  28.55% |   876,274 |
| 2.7      |  20.48% |   628,524 |
| 3.8      |   9.31% |   285,874 |
| 3.5      |   7.16% |   219,714 |
| null     |   2.25% |    69,101 |
| 3.4      |   1.03% |    31,750 |
| 3.9      |   0.01% |       442 |
| 2.6      |   0.01% |       217

[2020-04-21 15:24] adamgoucher commented on #7856
My idea was to use the Stonehouse pattern (http://hintjens.com/blog:49#toc5) and use the certificates people were providing to speak https to the server. If you don’t speak https to the server, then you don’t care about security so just use unencrypted (Grassland) connections with 0mq.

[2020-04-21 15:34] diemol commented on #7926
I've spent a while understanding where this comes from, and the issue is how the session gets created (JWP or W3C I believe), but most importantly, the UI [part](https://github.com/SeleniumHQ/selenium/blob/master/javascript/remote/hub.html) uses this [client.js](https://github.com/SeleniumHQ/selenium/blob/master/javascript/remote/ui/client.js#L337) to parse the response after the screenshot is cre

[2020-04-21 15:34] #7926 closed

[2020-04-21 15:37] diemol commented on #7926
I've spent a while understanding where this comes from, and the issue is how the session gets created (JWP or W3C I believe), but most importantly, the UI [part](https://github.com/SeleniumHQ/selenium/blob/master/javascript/remote/hub.html) uses this [client.js](https://github.com/SeleniumHQ/selenium/blob/master/javascript/remote/ui/client.js#L337) to parse the response after the screenshot is cre

[2020-04-21 16:05] anandanhp commented on #8201
This is real issue. I have tried more than 100 times by setting the following values in multiple ways. But the self signed SSL certificates warning still appears

profile = webdriver.FirefoxProfile()
**profile.accept_untrusted_certs=True
profile.assume_untrusted_cert_issuer=False**
driver = webdriver.Firefox()
driver.get('https://15.77.44.252')

Browser: Firefox 75 (64bit)
Browser Driver version:

[2020-04-21 17:13] diemol commented on #7926
I've spent a while understanding where this comes from, and the issue is how the session gets created (JWP or W3C I believe), but most importantly, the UI [part](https://github.com/SeleniumHQ/selenium/blob/master/javascript/remote/hub.html) uses this [client.js](https://github.com/SeleniumHQ/selenium/blob/master/javascript/remote/ui/client.js#L337) to parse the response after the screenshot is cre

[2020-04-21 17:13] diemol commented on #8139
@Robot1que how can we reproduce this? Can you provide an automated script using any of the Selenium bindings?

[2020-04-21 19:31] barancev commented on #8225
Can you reproduce this issue with a regular browser (Chrome or Firefox)?

[2020-04-22 04:25] kovalev007 commented on #7821
This problem exist in alpha 5 and in MASTER.

Host header is not being added to **IGNORED_REQ_HEADERS** if I added host header to **IGNORED_REQ_HEADERS** then problem will be fixed.

I not good know selenium code - and solution with **IGNORED_REQ_HEADERS** it is place which I found to fix these problem. May be real fix will be in other place.

I repeat the problem -
...........Rejecting request wi

[2020-04-22 05:02] Dude-X commented on #7462
I think once 4.0.0 becomes "stable" we should probably drop Python 2 support from the main repo, in the next minor release by:
1. Remove all version checks for imports
2. Restore the use of u' string prefixes (so that Python 2 can work correctly in the fork) (mostly in the Keys.py)
3. Drop all `from __future__ import unicode_literals`
4. Fix the few `encode('utf-8').decode('utf-8')`  uses.
5. Any

[2020-04-22 05:03] kovalev007 opened #8226 "[4.0.0-alpha5] FluentWait.java broken"
## 🐛 Bug Report

Both problems related with - FluentWait.until execute not in main thread.

Two problems:
1) If an error occurs in WebDriverWait - then we not have full error callstack. this is very bad.
![1_1](https://user-images.githubusercontent.com/12604192/79942062-28a0b800-8490-11ea-9092-9f4817321333.jpg)
2) From now I should pass WebDriver parameter to all methods in FluentWait.until. Becau

[2020-04-22 06:27] kavimuru2020 opened #8227 "How to open Devtools to a new window through selenium chrome webdriver"
Hi,

Is there anyway we can dock the developer tools to new window through selenium chrome webdriver?
I see there are options to auto open the tool --auto-open-devtools-tab but is there any way to mention the position or make it open it to a new window?
I have tried with window-size option but it is applying for whole web page not for the devtools.
Could someone pls help me out here?

Thanks,

[2020-04-22 06:27] #8227 closed

[2020-04-22 07:06] indy659 commented on #8017
So we've found a workaround for this.

our html was as follows

<body>
    <iFrame>
</body>

wrapping the iframe in a div solved the issue.

<body>
    <div>
        <iFrame>
    </div>
</body>

all tests now pass. A weird one, but just in case it helps someone...

[2020-04-22 10:34] porn commented on #8055
Very same problem here :disappointed:

Our use case:
- we're autoscaling (in AWS) based on current selenium usage
- the usage is determined from the selenium grid page
- the non-responding grid leads to missing metrics and "INSUFFICIENT_DATA" alarms:
![image](https://user-images.githubusercontent.com/983285/79797818-3eab5d00-8358-11ea-87f4-0af766c1df72.png)

Hotfix:
we dramatically decreased node

[2020-04-22 11:55] denniskreutz opened #8228 "Export C# Nunit Compiler Error for Pause Commands"
## 🐛 Bug Report
Hello guys,

when you add a pause element/command and try to export the steps to a c# nunit cs File. This File has compile errors because the Exception  object is not there.

Exported code:
  try {
      Thread.Sleep(3000);
    } catch {
      Console.WriteLine("{0} Exception caught.", e);
    }

fixed code by myself:
   try
        {
            Thread.Sleep(3000);
        }

[2020-04-22 12:12] tomas-hartman commented on #8225
Hmph.. I tried to reproduce it with Chrome (in simplified conditions) and it works correctly. I'll try it with Firefox later, but I expect it to work correctly as well. The main difference between my chrome test and the nwjs project, that might be causing the problem, is that the custom `<bookmark-item>` in the nwjs project is a part of a shadow DOM component. I am not sure if shadow DOM could cau

[2020-04-22 12:45] diemol commented on #8221
@amkhlv do you see the same problem if you use Grid 4, it can be downloaded at https://www.selenium.dev/downloads/

[2020-04-22 12:46] diemol commented on #8221
I ask because Grid 3 is not under development anymore, so even if it is a bug there, it won't be fixed, but we should make sure it is not present in Grid 4.

[2020-04-22 12:55] diemol commented on #8218
If the issue happens only when the Chrome version is changed, and after reading all the comments, it is much likely that it is a Chrome/ChromeDriver issue. I will close this in favor of the linked issue in the Chrome/ChromeDriver bug tracker.

[2020-04-22 12:55] #8218 closed

[2020-04-22 13:19] diemol commented on #7742
I am still not clear how both issues are related. The one above is using Protractor and plain Ubuntu, and the other one mentions GitLab.

Regarding GitLab, seems like an environment issue? If it works locally but not on GitLab there is not much we could do, but we would advise to double-check the environment with the GitLab admins.

If there is a way to reproduce this and providing a self-containe

[2020-04-22 13:19] #7742 closed

[2020-04-22 13:25] diemol commented on #7821
Ok, so the issue is that the header is **not** present, this was not so clear from the previous comment.
In any case, we need the complete test case using any given HTML or a public page, so we run it and also are able to fix it.

I cannot personally figure out what is happening by just these 4 lines:
[code]

So please 🙏, could you please provide the code you used to bump into this issue?

[2020-04-22 14:47] diemol commented on #8055
Hi @jantman and @porn

I completely understand the issue and was one of the things I learned to adapt while developing Zalenium. We are very much aware of the undesirable behavior, which has its root on the several checks that the hub does to the node and the attempts the node does to register.

The first thing is `-nodePolling`, if it is a small number, that means the hub will poll very often for

[2020-04-22 14:47] #8055 closed

[2020-04-23 01:05] kovalev007 commented on #7821
https://github.com/kovalev007/selenium7821

[2020-04-23 04:21] porn commented on #8055
Okay, thanks @diemol for detailed explanation! Looking fwd to Grid 4 :wink: :crossed_fingers:

[2020-04-23 10:42] diemol opened #8230 "[Grid] Redirect from /wd/hub to /"
## 🚀 Feature Proposal

Grid 4 at the moment has its main endpoint at `/`, we should add a `Route.prefix` to redirect `/wd/hub/` to `/`

## Motivation

Grid 4 should be a drop-in replacement, and WebDriver clients are pointing by default to `/wd/hub/` when starting a `RemoteWebDriverSession`, this would help Selenium 3 clients to start using Grid 4 right away.

[2020-04-23 11:01] GKarolis opened #8231 "RemoteWebDriver proxy issue with Selenium 3.10-3.141"
## 🐛 Bug Report

Getting "The remote name could not be resolved: hub-cloud.browserstack.com" while trying to connect behind proxy,

![image](https://user-images.githubusercontent.com/38624103/80092040-c36dc500-856a-11ea-89fd-7b9dbd62969a.png)

## To Reproduce
[code]

App.config:

[code]

## Expected behavior

Need to connect to BrowserStack in our company's network (behind proxy). How these proxy

[2020-04-23 12:37] #8230 closed

[2020-04-23 15:21] diemol opened #8232 "Document how to create a TOML config for Grid"
## 🚀 Feature Proposal

The Grid 4 is able to read its configuration from a TOML file, we should document that.

## Motivation

It would be nice for users to know how to start Grid 4 with a TOML file

## Example

`java -jar selenium-server.jar info toml` outputs a guide to do that

[2020-04-23 21:20] AutomatedTester commented on #8228
Is this when you're using Selenium IDE?

[2020-04-23 21:27] AutomatedTester commented on #8231
Please could you try  https://gist.github.com/jimevans/eea715368ea3ae664099ab5ce409d686

If that doesn't work it gives you a hint on how to solve the your problem. Please send further questions to the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users)

For issues please provide a [concise reproducible test case](http://sscce.org/) and describe what results you are seeing

[2020-04-23 21:27] #8231 closed

[2020-04-24 04:51] amkhlv commented on #8221
Hmm, I am trying, it does not work... Says `UnknownCommand "Request { .... }"`
I guess binding should also be updated...

[2020-04-24 05:49] denniskreutz commented on #8228
Good morning,

Yes it is. It’s the Export from Selenium IDE.

Best regards,
Dennis Kreutz

Von: David Burns <notifications@github.com>
Gesendet: Donnerstag, 23. April 2020 23:21
An: SeleniumHQ/selenium <selenium@noreply.github.com>
Cc: Dennis Kreutz <dennis.kreutz@ci-consulting.eu>; Author <author@noreply.github.com>
Betreff: Re: [SeleniumHQ/selenium] Export C# Nunit Compiler Error for Pause Comma

[2020-04-24 07:24] diemol commented on #8228
I'll move this issue to the IDE repo then.

[2020-04-24 08:52] diemol commented on #3526
Closing this, for now, feel free to open a new issue in case the issue is still present.

[2020-04-24 08:52] #3526 closed

[2020-04-24 08:53] diemol commented on #8091
Based on the comments and the absence of the requested sample code, I'll close this. Feel free to open a new one with the complete info in case this still happens.

[2020-04-24 08:53] #8091 closed

[2020-04-24 08:55] diemol commented on #5312
Closing as we did not get answers, but if the issue is still present, please open a new one with all the requested info.

[2020-04-24 08:55] #5312 closed

[2020-04-24 08:56] diemol commented on #5334
Closing as the issue went stale.

[2020-04-24 08:56] #5334 closed

[2020-04-24 09:22] shirink28 opened #8234 "javascript error: jQuery is not defined error on using workaround of draganddrophelper.js to simulate drag and drop on HTML5 through selenium C#"
## 🐛 Bug Report

I am using the workaround mentioned in Issue https://github.com/SeleniumHQ/selenium-google-code-issue-archive/issues/3604 to simulate drag and drop on Chrome using jquery/javascript.

## Expected behavior

jquery to load and drag and drop performed

## Test script or set of commands reproducing this issue

public void WaitForJQuery(IWebDriver driver)
        {
            int num

[2020-04-24 10:01] diemol commented on #5389
Closing this as the issue went stale.

[2020-04-24 10:01] #5389 closed

[2020-04-24 10:01] diemol commented on #5461
Closing this as the issue went stale.

[2020-04-24 10:01] #5461 closed

[2020-04-24 10:16] supriya268 opened #8235 "Problem connecting to selenium server"
Hi,
I'm not able to connect to the server..getting below error in terminal

020-04-24 15:13:57.447:WARN:osjs.HttpChannel:qtp1685232414-11: /grid/register/
org.openqa.selenium.json.JsonException: Expected to read a START_MAP but instead have: END. Last 0 characters read: |Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'|System info: host: 'xxxxx', ip: 'xxxxxxx',

[2020-04-24 10:16] #8235 closed

[2020-04-24 11:00] diemol commented on #5373
Closing as the issue went stale

[2020-04-24 11:00] #5373 closed

[2020-04-24 11:01] diemol commented on #5764
Closing as no more info was provided.

[2020-04-24 11:01] #5764 closed

[2020-04-24 12:33] AutomatedTester commented on #8234
I can't see where you add jQuery to the page. This is a question rather than an issue. Please send questions to the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users)

For issues please provide a [concise reproducible test case](http://sscce.org/) and describe what results you are seeing and what results you expect.

See [CONTRIBUTING.md](https://github.com/SeleniumHQ/se

[2020-04-24 12:33] #8234 closed

[2020-04-24 15:38] ShizaTariq18 opened #8237 "Selenium server node failed to start new session for MS edge CHROMIUM"
## 🐛 Bug Report

Unable to create new service: EdgeDriverService

## To Reproduce

Detailed steps to reproduce the behavior:

## Expected behavior

A clear and concise description of what you expected to happen.

## Test script or set of commands reproducing this issue
edgeOptions.AddAdditionalCapability(CapabilityType.EnableProfiling, true);
edgeOptions.AddAdditionalCapability("BrowserExecutableL

[2020-04-24 19:27] mittaperf opened #8238 "Selenium4 DevTools command to run AUDIT or Lighthouse"
## 🚀 Feature Proposal

Selenium4 DevTools command to run AUDIT or Lighthouse

## Motivation

use selenium to trigger lighthouse reports for webpages

## Example

Please provide an example for how this feature would be used.

Like in Puppeteer we trigger to generate html report
runlighthouse(page.url(),opts,config,'lighthouse Report homepage.html')

[2020-04-25 16:58] anand-naik commented on #8017
I am still facing the issue.
Could somebody please illustrate the solution by providing sample code in java.

[2020-04-26 08:50] mikenlanggio opened #8246 "Couldn't register this node: The hub is down or not responding"

[2020-04-26 08:50] #8246 closed

[2020-04-26 09:01] mikenlanggio opened #8247 "Couldn't register this node: The hub is down or not responding"
## 🐛 Bug Report

I started `Selenium/Hub` with port default 4444 and `selenium/node-firefox-debug` with port 5900.
I use C# to control the selenium.
Okay, It's working fine.
But, My job to control have a lot of time (maybe 5 minutes).
And it's throw a expection:
`
Selenium Error - The HTTP request to the remote WebDriver timed out after 60 seconds
`
Okay, next.

And after that, the `firefox` can't

[2020-04-26 09:37] renjujv commented on #7558
The new documentation URL is:
```https://www.selenium.dev/selenium/docs/api/javascript/module/selenium-webdriver/index_exports_By.html```

And the correct link to point to by the View Source button seems to be:
```https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/lib/by.js```

Anyone interested in making the change commit?

[2020-04-26 10:17] renjujv commented on #7533
@sciatro Can you please confirm if this is possible using Options?

@AutomatedTester If the profile size gets to 500 MB when Firefox is used as a daily driver, wouldn't this be a valid issue?

Of course, using the capabilities/Options instead of the profile is a workaround and this issue is not a blocker per se. But this seems like a limitation in the approach with the size limit for profile direc

[2020-04-26 13:24] sciatro commented on #7533
From my point of view the Options API is orthogonal. This size limit issue arose while attempting to run forward from a "real" profile that a human had driven into a particular state (where the issue with / nature of that state was totally unknown) then running repeatable testing from it.

The automated testing work around is to manually - via the FF ui - whittling down the irrelevant contributors

[2020-04-27 07:27] 19952104 opened #8248 "test functionality"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-04-27 07:27] #8248 closed

[2020-04-27 14:10] Dharin-shah opened #8250 "[4.0.0-alpha5] Socket hangup from Selenium jar when using w3c and node js http"
## 🐛 Bug Report

While using selenium 4 alpha 5 jar with w3c on nodejs, I am seeing socket hangups from jar  (status code - 500) with few commands (execute/sync & /element)

gist to reproduce
https://gist.github.com/Dharin-shah/328a9c02faa764d7ff146fd90fd770cb

It seems to be an issue with payload specifically when using http lib. Although I am not quite sure what is happening, however 500 is usua

[2020-04-27 15:40] Dharin-shah opened #8251 "[4.0.0-alpha5]Default to 'standalone' flag if nothing is passed as CliCommand"
## 🚀 Feature Proposal

In Selenium-4.0.0-alpha-5 we need to pass a standalone flag if the jar needs to run in standalone mode. It makes sense that selenium starts in standalone mode by default when run
`java -jar selenium-server-4.0.0-alpha-5.jar`
instead of
`java -jar selenium-server-4.0.0-alpha-5.jar standalone`

## Motivation

This was a behaviour in the previous versions. If someone is running

[2020-04-27 17:44] manikandan-kaliamoorthy opened #8252 "ERROR: Could not find a version that satisfies the requirement webdriver (from versions: none)"
###Failed to install package webdriver
pycharm version: 2020.0.1
selenium version: 3.141.0
pip version: 20.0.2

## below console output is shown:
ERROR: Could not find a version that satisfies the requirement webdriver (from versions: none)
ERROR: No matching distribution found for webdriver

### Kindly please help to resolve this issue. Please let me know if I had missed.

[2020-04-27 17:45] #8252 closed

[2020-04-28 07:26] FrySabotage opened #8253 "[4.0.0.alpha5] Failed start IE with empty port"
## 🐛 Bug Report

Failed start IE, using Python if port not set.
Reason is:
[code]

service will be started with another port (free_port)

## To Reproduce
from selenium import webdriver
driver = webdriver.Ie()

## Expected behavior

IE started without errors

## Test script or set of commands reproducing this issue
[code]
## Environment

OS: Windows 10
Browser: IE
Browser version: 11.719.18362.0
Br

[2020-04-28 07:45] ron51593 opened #8254 "Selenium Message: no such element: Unable to locate element:"
I'm solving this for 1 week from now, it's challenge to me to locate 1 button in the website that I want to access. I had tried many ways xpath, actionchains, none of them works. anyone to help me.
<img width="870" alt="delete" src="https://user-images.githubusercontent.com/56577019/80460953-22667c00-8967-11ea-9b55-6a629972da4c.PNG">

[2020-04-28 07:45] #8254 closed

[2020-04-28 08:43] eoyzyc opened #8256 "how do i add chromedriver to path"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-04-28 08:43] #8256 closed

[2020-04-28 09:20] christian7877 opened #8257 "## 💬 Questions and Help ## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one. ### Please note that this issue tracker is not a help form and this issue will be closed. For questions or help please see: - [SeleniumHQ IRC channel](https://webchat.freenode.net/) - [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0ZjdjYjFhMjVlMjFkZWJmNDYyMmU1OTYyM2Y) - The [Selenium Users](https://groups.google.com/forum/#!forum/selenium-users) google group"
[](## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shar

[2020-04-28 09:21] #8257 closed

[2020-04-28 12:29] diemol commented on #8251
Hi @Dharin-shah,
We discussed this proposal and we decided to not implement it, it is true that some scripts out there will break since the parameter `standalone` is needed.

But the complexity to change those scripts is low since the only change needed will be to actually add the `standalone` parameter.  In any case, no other parameters (like port or host) can be added without specifying a role f

[2020-04-28 12:29] #8251 closed

[2020-04-28 12:36] diemol commented on #8221
@amkhlv could you please elaborate? What commands did you try?

[2020-04-28 12:38] diemol commented on #8247
@mikenlanggio could you please provide the commands you used to run into this issue?

[2020-04-28 12:39] diemol commented on #7821
I was able to reproduce the issue, I will have a look soon.

[2020-04-28 12:41] diemol commented on #8049
Closing as we didn't get more information from the OP.
If this is still happening, feel free to create a new issue with all the required information so we can have a look.

[2020-04-28 12:41] #8049 closed

[2020-04-28 12:45] diemol commented on #7209
Closing as the issue went stale.

[2020-04-28 12:45] #7209 closed

[2020-04-28 12:48] bonjonbovi87 commented on #7209
Nothing else is running on port 5555 and using selenium 2.53.1 I can bind to port 5555.  I've tried several other ports

[2020-04-28 12:49] diemol commented on #7209
This looks like an environment issue, how can we reproduce it?

[2020-04-28 12:54] bonjonbovi87 commented on #7209
Run Windows 10 in Openstack where the VM has a private IP and a public IP.  Bind to the public IP using the host parameter

It works with selenium v2.53.1 but doesn't in v3

[2020-04-28 12:57] diemol commented on #7209
Fair point, sadly we don't have the means to afford that type of environment.
Could you please try with the new Selenium Grid 4 alphas and if not working, report in a new issue with all details?

[2020-04-28 12:57] diemol commented on #7209
Downloads link https://www.selenium.dev/downloads/

[2020-04-28 12:59] diemol commented on #7499
@beregeyko this is something out of the scope of Grid 3 because `deviceName` is not a capability used to decide on which node the test will run. This has never been supported, and the implementation of this requires implementing your own capability matcher or own proxy to handle this.

I believe there should be a collaboration between Appium and Selenium for this. Could you please create a feature

[2020-04-28 12:59] #7499 closed

[2020-04-28 13:01] diemol commented on #7867
Closing as we didn't get more information.

[2020-04-28 13:01] #7867 closed

[2020-04-28 13:04] ioquatix commented on #8049
I can test it again, but I don't believe this issue is fixed.

[2020-04-28 13:08] diemol commented on #7802
Grid 4 is allowing the use of TOML for configuration (docs coming soon).

On the other hand, what is the benefit of passing JSON blobs as command line parameters, the command to start a Grid will look very complex and prone to error Why not using JSON (or from now on, TOML files)?.

[2020-04-28 13:40] bonjonbovi87 commented on #7209
Sure, I can follow up later today or tomorrow

[2020-04-28 15:10] rmunge opened #8258 "ChromeDriver leaves alive threads that prevent normal termination of Java applications"
## 🐛 Bug Report

The Java method ChromeDriver.quit() leaves alive non-daemon threads. This keeps the JVM running. Every Java application that makes use of ChromeDriver is forced to explicitely quit the JVM. JUnit tests only terminate because of JUnit's explicit use of  System.exit.

## To Reproduce

Execute the following Java program. It will not stop, because multiple non-daemon threads are still

[2020-04-28 15:36] DeathBeforeDecaf commented on #7802
Hi Diego,

Thanks for asking why I use JSON command line parameters instead of JSON configuration files!  The short answer is by using JSON command line parameters there is no chance that a selenium client will be started with stale configuration data loaded from an old configuration file.

The long answer is that in the company where I work, some fool in management left me in charge of maintainin

[2020-04-28 16:53] barancev commented on #7802
You can run a series of two commands: one stores data in a temp file and the next one starts selenium with this temp file as a config.

[2020-04-28 17:22] DeathBeforeDecaf commented on #7802
Hi @barancev,

That is a solution.  However that solution requires write permissions to the file system and knowledge of the file format being written.  If the file format changes (like for selenium version 4) then it will require more adjustments.  The alternate implementation that I've provided allows the data to pass through on the command line without those requirements and should have no impa

[2020-04-28 17:43] barancev commented on #7802
The arguments don't sound strong enough.

1) Selenium requires write permissions to the file system anyway because it creates temp browser profiles.
2) Using command line options requires knowledge of the options format, especially if they have complex format like a JSON-string.
3) And command line format (JSON or not) can be changed with the same probability as config file format.

[2020-04-28 17:51] barancev commented on #7802
Also:

1) It's much easier to write complex configuration in a multiline form with indentation (JSON) or section headers (TOML) that visualize structure, in a text editor.
2) Dealing with spaces and quotes in command line is depressing...
3) On Windows the maximum command-line length is 32767 characters.

[2020-04-28 17:54] DeathBeforeDecaf commented on #7802
Sorry, I didn't know I was here for an argument. :^}

I just thought that since Selenium 2 allowed instantiation of selenium clients with the command line, that some people might find that same functionality beneficial if provided in selenium 3.

Thanks,
-AntonW

[2020-04-28 18:06] barancev commented on #7802
Yes, "Motivation" section was incuded in the feature proposal template because we want arguments :)

Yes, "it used to work this way in version 2" is an argument. And exactly the experience of using version 2 with overcomplicated error prone CLI options led us to config files.

[2020-04-28 18:34] AutomatedTester commented on #7247
Duplicate of #8053

[2020-04-28 18:34] #7247 closed

[2020-04-28 18:37] AutomatedTester commented on #8253
I am not sure about the PR attached to this issue. Can you explain how you were using it as no one seems to have hit this issue before.

[2020-04-28 18:40] #8253 closed

[2020-04-28 18:41] AutomatedTester commented on #8253
I misread the code, sorry. I have merged the PR. Thank you for fixing the issue!

[2020-04-28 20:54] donky106 commented on #7911
Hi, I would like to work on this issue

[2020-04-28 23:04] pekkaklarck commented on #8053
Support for common `http(s)_proxy` environment variables would be great. As I [commented](https://github.com/SeleniumHQ/selenium/issues/7247#issuecomment-566947259) #7247, Selenium used to support them but that support was unexpectedly (and possibly accidentally) dropped in v3.14.

[2020-04-28 23:09] mleblebici opened #8259 "Cross-Site Scripting (XSS) in hub's web interface"
## 🐛 Bug Report

A cross-site scripting (XSS) vulnerability exists in Selenium Grid hub's web interface. The vulnerability is located in /grid/console page where unvalidated user input from node's configuration is displayed back to the users.

## To Reproduce
A node can register to a hub using the following configuration file, where an XSS payload is given in the hub parameter. Since the payload i

[2020-04-29 16:43] bonjonbovi87 commented on #7209
@diemol It appears to be working for nodes in v4 alpha, however I can't figure out how to specify a hub IP for this node to connect to so I can't say for 100% certain.

[code]

When specifying the --host parameter in hub mode, it does not appear to say it has bound to the specified host (public ip) but it could have

[code]

I also have no idea what the new endpoints are as `/` and `/grid/console`

[2020-04-29 22:35] Letme commented on #4689
Can we get this issue a bit more traction? I has 11 upvotes...

[2020-04-30 01:36] mmerrell commented on #4689
Pull requests are always welcome!
MM

Sent from my iPhone

[2020-04-30 14:22] ghostwords opened #8261 "acceptInsecureCerts capability is ignored"
Setting `acceptInsecureCerts` to `False` is ignored by geckodriver. The same pattern works with ChromeDriver.

We need to disable `acceptInsecureCerts` in order to better simulate an actual person's experience browsing the Web. (People are unlikely to go past insecure cert warnings.)

In the following example, the `unhandledPromptBehavior` setting is respected, while `acceptInsecureCerts` remains

[2020-04-30 14:26] ghostwords commented on #8261
"Thank you for your contributions."

[2020-04-30 14:41] ojintoad commented on #5499
Should this be on the https://bugs.chromium.org/p/chromedriver/issues/list rather than here?

[2020-04-30 16:04] AutomatedTester commented on #8261
In future please don't delete the template and just follow the questions in the bug.

[2020-04-30 22:03] yatharthmaheshwari opened #8262 "When i downloaded selenium from official website there were only two jar files after extracting"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0ZjdjYjFhMjVlMjFkZWJmNDYyMmU1OTYyM2Y)
- The

[2020-04-30 22:03] #8262 closed

[2020-05-01 14:20] mburns02 opened #8263 "Incorrect error is thrown when platform does not match any capabilites [Selenium 4.0.5]"
driver.version: unknown is incorrectly thrown when the platform supplied does not match any node.

selenium/hub:4.0.0-alpha-5-20200409 and node-chrome:4.0.0-alpha-5-20200409

Steps
Run the above commands on Mac
Attempt a connection supplying 'windows' as the platform.

Expected
An error showing no matching capabilities is reported.

Actual
Below

Build info: version: '4.0.0-alpha-5', revision: 'b3

[2020-05-01 14:21] #8263 closed

[2020-05-01 14:28] mburns02 opened #8264 "Incorrect error is thrown when platform does not match any capabilites [Selenium 4.0.5]"
## 🐛 Bug Report

_driver.version: unknown_ is incorrectly thrown when the platform supplied does not match any node.

selenium/hub:4.0.0-alpha-5-20200409 and node-chrome:4.0.0-alpha-5-20200409
## To Reproduce

Steps
Run the above commands on Mac
Attempt a connection supplying 'windows' as the platform.

## Expected behavior

More meaningful error message is shown

## Test script or set of commands

[2020-05-01 17:25] gjyalpha commented on #7798
Ah, yes.

1. The WebDriver spec switched the JSON key from "samesite" to "sameSite". My previous PR followed the previous "samesite". Now we need to change it to "sameSite". I can try to make another PR to fix this.

2. Another minor issue is that no the samesite attribute accepts a string value. And in general, browser should treat these values as case insensitive values. But ChromeDriver uses Ch

[2020-05-01 21:51] gjyalpha commented on #7798
Fixing the JSON key in https://github.com/SeleniumHQ/selenium/pull/8265

[2020-05-02 15:15] yatharthmaheshwari commented on #8262
Same here please address the issue

On Fri, May 1, 2020 at 3:33 AM selenium-assistant[bot] <
notifications@github.com> wrote:

[2020-05-02 15:25] Harsha509 commented on #8262
Hi @yatharthmaheshwari,

Thanks for raising the issue. I have fixed the link in document. This is resolved!.

Regards,
Harsha.

[2020-05-04 10:59] Tae69 opened #8266 "[NodeJS] WebElement.getAttribute('muted') always return true when HTML video element default is muted"
## 🐛 Bug Report
When `video` element is muted by default,  calling `getAttribute('muted')` on that element will always return `true`. But if I remove the `muted` attribute, it's working properly. Tried the get `paused` property and its working properly too.

Tried with chrome and firefox, both have same behavior.

Not sure if the issue is from the chrome/geckodriver or from selenium.

## To Reprod

[2020-05-04 19:13] CodyJLeeApps opened #8268 "IWebDriver does not find new IWebElement location when the browser zoom level not set to 100%"
## 🐛 Bug Report

Given an IWebElement that is easily found by the IWebDriver, if the browser zoom level is not the default value of 100% the IWebElement is still considered to be in the same location, but an exception is thrown when performing actions on the IWebElement.

Note: This issue exists if you attempt to call `.Click()` on the IWebElement directly, or if you attempt to move to the center

[2020-05-04 20:53] Harsha509 commented on #8266
Hi @Tae69,

Thanks for raising the issue!

On seeing the example provided I've observed that there are two `muted` references available for element.

1. Attribute
2. Property

And `Attribute!==property`

The value you are trying is more likely is a `property` (which changes on click) and not an attribute. `getAttribute` always returns `true` as the reference element has attribute `mute`. to check

[2020-05-04 21:30] moradutf opened #8269 "README.md"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-05-04 21:30] #8269 closed

[2020-05-05 10:58] Tae69 opened #8271 "[NodeJS] ie.ensureCleanSession not working"
## 🐛 Bug Report

Adding capability `ie.ensureCleanSession` for IE is not working.

Don't know if it's related, but I've tried:
- Run command prompt in Administrator Mode
- Uncheck 'Enable Protected Mode' in all tab/section

## To Reproduce
Detailed steps to reproduce the behavior:

- Run the script below, it will output driver capability.

## Expected behavior

`ie.ensureCleanSession` should be `t

[2020-05-05 11:07] #8266 closed

[2020-05-05 11:08] Harsha509 commented on #8271
Hi @Tae69 ,

I've noticed the issue and fixed in commit [f0234ab](https://github.com/SeleniumHQ/selenium/pull/8152/commits/f0234ab2622c04c51aa488355d1ad4ffe345de04)

The fixes will be available in next alpha release!

Also, We need to set capabilities using IEOptions. Here is the document link on how to do it (click on JS to see the code)

https://www.selenium.dev/documentation/en/driver_idiosyncr

[2020-05-05 11:29] TimKoomen opened #8272 "Importing 'SeleniumLibrary' into RobotFramework failed with syntaxError: invalid syntax (StringIO.py)"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce
[ ERROR ] Error in file 'I:\development\robot-scripts\first-script\Resources\Common.robot' on line 2: Importing test library 'SeleniumLibrary' failed: SyntaxError: inva
lid syntax (StringIO.py, line 40)
Traceback (most recent call last):
File "i:\python\lib\site-packages\SeleniumLibrary_init_.py", line 28, in
fro

[2020-05-05 13:28] AutomatedTester commented on #8272
What version of Selenium are you using?

There appears to be some weirdness in the tooling you're using because normal Selenium users have not hit this issue.

[2020-05-05 13:49] TimKoomen commented on #8272
Hi David,

Thanks for your feedback. I’ve selenium 3.141.0 installed, BUT I’ve just (2 minutes ago) solved the issue. It turned out I had Python 3.8.1 32-bit and 3.8.2 64-bit both installed. I assume it went wrong somewhere there. You can close the issue.

Sorry for raising it, Tim

Van: David Burns <notifications@github.com>
Verzonden: dinsdag 5 mei 2020 15:29
Aan: SeleniumHQ/selenium <selenium@n

[2020-05-05 13:51] AutomatedTester commented on #8272
Glad you got it solved.

[2020-05-05 13:51] #8272 closed

[2020-05-05 13:51] #8271 closed

[2020-05-05 16:15] Doaa-Ismael opened #8273 "Expected to read a START_MAP but instead have: END. Last 0 characters"
I ran hub and node like this
`java -jar selenium-server-standalone-3.141.59.jar -role hub -debug`
`java -jar selenium-server-standalone-3.141.59.jar -role node  -nodeConfig nodeConfig1.json -hub http://localhost:4444/grid/register`

nodeConfig1.json
[code]

and here is setup.js
[code]

and emulatorConfiguration used like this
[code]
I got this error
[code]
and here is the complete log
[code]

[2020-05-05 16:15] #8273 closed

[2020-05-05 21:17] diemol commented on #7802
@DeathBeforeDecaf thank you for taking the time to explain the use case, but I believe it is not ideal to include something like this in the code base for the reasons stated in different comments.

I'll close this issue.

[2020-05-05 21:17] #7802 closed

[2020-05-06 09:23] mmphego commented on #7911
Has anyone made any progress with this issue? I'm also experiencing the same issue.

[code]

[2020-05-06 10:43] MrMisterG opened #8276 "Show Actions cursor"
## 🚀 Feature Proposal

While performing some cursor-moving actions using the Actions class such as moving the cursor from an element to a pixel offset (defined by x and y values), show the location of the Actions cursor.

## Motivation

It is important to see live and eventually in screen captures, where exactly the cursor was at the time, so that I can diagnose a problem more easily.

## Example

[2020-05-06 10:55] MrMisterG opened #8277 "TripleClick to select paragraphs"
## 🚀 Feature Proposal

I would like Selenium to be capable of handling triple-clicks properly. This would provide the ability to easily select paragraphs of text.

## Motivation

I have a test that verifies the ability to copy and paste a paragraph. With the Selenium Actions class, I am able to double click to select a word. As soon as I immediately call the click method a third time, I expect the

[2020-05-06 13:26] AutomatedTester commented on #8277
This needs to get updated in the drivers and potentially in the WebDriver specification.

[2020-05-06 13:29] AutomatedTester commented on #8277
This needs to get updated in the drivers and potentially in the WebDriver specification.

[2020-05-06 14:21] StephanBijzitter commented on #8276
This should not be limited to actions, it should just be a property that you can enable/disable on the driver. `element.click()` should just as well be able to show where it actually clicked.

[2020-05-06 16:55] Naumansh opened #8278 "Selenium 4.0.0-alpha-5: cannot access org.openqa.selenium.virtualauthenticator.HasVirtualAuthenticator"
## 🐛 Bug Report

Once upgrading to Selenium 4.0.0-alpha-5, I am seeing the exception of class not found. It is a compile time error.

**There is no issue while working with 3.141.59**

Dependencies used:
[code]

## Environment

OS: OSX
Browser: Not required as compile time error
Browser Driver version:
Language Bindings version: Java 4.0.0-alpha-5
Selenium Grid version (if applicable): 4.0.0-alpha

[2020-05-06 17:19] swergas opened #8279 "Selenium is stuck in sequence of two Alerts when using a FirefoxProfile"
## 🐛 Bug Report

Hi,

The page I'm testing with Selenium has a button. When I tell Selenium to click on it, I expect an Alert to open. Then I tell Selenium to click on the OK button of the prompt using accept(). Then, I expect another Alert to open, and I tell Selenium to click on its OK button using accept().

The problem is that Selenium hangs or stays stuck, blocked, on the first call on accept

[2020-05-06 18:00] barancev commented on #8278
Run `mvn dependency:tree` and check if you have multiple versions of selenium libraries in classpath at once.

[2020-05-06 18:19] Naumansh commented on #8278
@barancev
[code]

[2020-05-06 18:31] barancev commented on #8278
That's exactly what I meant to say -- you have multiple versions of selenium libraries in classpath at once.

[2020-05-06 18:31] #8278 closed

[2020-05-06 19:48] Naumansh commented on #8278
@barancev  i cannot get it. i am only keeping one dependency of selenium-java.

[2020-05-07 13:19] AutomatedTester commented on #8277
Added a wpt for this https://github.com/web-platform-tests/wpt/pull/23456

[2020-05-08 08:03] timothyjmtan opened #8283 "SeleniumGrid: Unable to connect nodes to a hub that is only accessible via a hostname"
## 🐛 Bug Report

I have a Selenium Hub hosted on Openshift and exposed via a route, meaning that it is accessible via a hostname.

When I attempt to launch and register a node on a different machine, I find that I am unable to register the nodes successfully if we define the hostname instead of an `<ip>:<port>` in the nodeConfig.json.

It seems like the selenium-standalone-server-3.141.59.jar file

[2020-05-08 08:13] MrMisterG opened #8284 "Control Actions cursor movement speed"
## 🚀 Feature Proposal

The Duration of a single mouse movement like `moveToElement` seems to be currently hard coded to 100ms. I would like the ability to set a custom Duration.
This can be extended to keyboard (and other?) actions.

## Motivation

In my project, having a very fast mouse movement (namely drag-and-drop) causes inconsistent results between different iterations of the same tests. Slo

[2020-05-08 08:16] barancev commented on #8278
Appium adds an older one.

[2020-05-08 09:09] slhck opened #8285 "Firefox extension is not installed via builder"
## 🐛 Bug Report

Firefox does not install an extension passed via `addExtensions`.

## To Reproduce

See this repo: https://github.com/slhck/web-extension-selenium-test

When I run:

[code]

The extension is installed from its source folder. I do not have a CRX file to test, so I have to use the command line arg instead.

For Firefox:

[code]

It opens Firefox and the test runs, but the add-on is

[2020-05-08 12:33] sampadask opened #8286 "Selenium tests are broken with the Safari 13 release. Webdriver/SafariDriver is Unable to click on buttons on the page."
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0ZjdjYjFhMjVlMjFkZWJmNDYyMmU1OTYyM2Y)
- The

[2020-05-08 12:33] #8286 closed

[2020-05-08 23:01] diemol commented on #5496
Closing as the issue went stale.

[2020-05-08 23:01] #5496 closed

[2020-05-09 03:23] SuperIron opened #8287 "Instance of 'WebDriver' has no 'execute_cdp_cmd' member"
from selenium import webdriver

driver = webdriver.Chrome()
script = '''
    Object.defineProperty(navigator, 'webdriver', {
        get: () => undefined
    })
'''
driver.execute_cdp_cmd("Page.addScriptToEvaluateOnNewDocument", {"source": script})

# but get this -- Instance` of 'WebDriver' has no 'execute_cdp_cmd' member

[2020-05-09 03:24] #8287 closed

[2020-05-09 14:16] Kakanii opened #8288 "After refresh(), driver not able to execute any javascript for IE (inside hostile iframes)"
**To Reproduce**
1.launch IE browser and go to youtube.com (through selenium's webdriver)
2.in YT , search for any video (b/27326081) and click on play (main goal to click on play from hostile iframe)
3.once video starts , wait for 3 sec and refresh browser{driver.refresh()}
4. now ,use driver.execute_script(Any javascript command)

**Expected behavior**
at step 4 , driver should be able to execut

[2020-05-09 14:16] #8288 closed

[2020-05-09 14:23] Kakanii opened #8289 "After refresh(), driver not able to execute any javascript for IE (inside hostile iframes)"
## 🐛 Bug Report

## To Reproduce

Detailed steps to reproduce the behavior:
1.launch IE browser and go to youtube.com (through selenium's webdriver)
2.in YT , search for any video (b/27326081) and click on play (main goal to click on play from hostile iframe)
3.once video starts , wait for 3 sec and refresh browser{driver.refresh()}
4. now ,use driver.execute_script(Any javascript command)

## Exp

[2020-05-09 16:37] #7493 closed

[2020-05-10 02:30] Dude-X commented on #7462
PR https://github.com/SeleniumHQ/selenium/pull/8290 is good enough for 4.0 final release where it still maintains Python 2 compatibility before we think about dropping Python 2 from main and splitting 4.0 into a python 2 only source.
Then we can use uriyo's PR to remove all PY2 stuff.

[2020-05-10 10:49] arnonax-etoro opened #8291 "TakeScreenshot to handle IWrapsDriver"
## 🚀 Feature Proposal

Currently TakeScreenshot works only if the driver implements ITakeScreenshot or IHasCapabilities. But sometimes (e.g. in Protractor.net NgWebDriver) the driver is just a wrapper around another IWebDriver and does not expose these interfaces directly. I suggest to add logic to TakeScreenshot such that in case the given driver does not implement ITakeScreenshot or IHasCapabili

[2020-05-11 04:55] Tae69 opened #8292 "ChromeDriver didn't exit full screen when performing ESC key from Selenium"
## 🐛 Bug Report

I'm trying to simulate exit fullscreen by pressing ESC key.

When manually press ESC button in my keyboard, it can exit fullscreen. But when perform ESC by using `sendKeys(Key.ESCAPE)`, it can't exit fullscreen.

Didn't know if the issue is in chromedriver side or in selenium side.

## To Reproduce
Detailed steps to reproduce the behavior:

- Run the scripts provided below
- When

[2020-05-11 12:28] varora1406 opened #8293 "Security issue in jQuery dependency"
## 🐛 Bug Report

Security issue for web is mentioned in - https://nvd.nist.gov/vuln/detail/CVE-2020-11022

## To Reproduce

Security report points to path -
`selenium-webdriver/lib/test/data/jquery-1.3.2.js`

## Expected behavior

Should selenium-webdriver still using jquery version below 3.5? I believe it should upgrade internal dependencies

[2020-05-11 13:27] AutomatedTester commented on #8293
This is a test only dependency. if you would like to submit a PR with the change that would be great

[2020-05-11 14:28] Harsha509 commented on #8293
Strange, am unable to see such file in [JS] dir. and also `npm audit` doesn't show the above vulnerability.

I've got one file and it is in path https://github.com/SeleniumHQ/selenium/blob/master/common/src/web/jquery-1.3.2.js

Am i missing anything here?

[2020-05-11 15:37] varora1406 commented on #8293
@Harsha509 You are maybe on correct path, I also found only that

[2020-05-11 15:37] varora1406 commented on #8293
@AutomatedTester will try submitting PR

[2020-05-11 16:42] mihalikv opened #8295 "scroll-behavior: smooth breaks click"
## 🐛 Bug Report

If you use following style:
`
html {
    scroll-behavior: smooth !important;
}
`
and Robot Framework command `Scroll Element Into View` you get `MoveTargetOutOfBoundsException: Message: move target out of bounds` error. Also if you use `Click Element` command which is  out of screen and Selenium needs to scroll to this element you get ` Element is not clickable at point`.

## To R

[2020-05-11 17:29] sasha-adb opened #8296 "Running with Edge creates socket-related ResourceWarnings"
## 🐛 Bug Report

Running Selenium drivers on Edge produces ResourceWarnings constantly, caused by unclosed sockets while the code is running.

 The warnings also point to line 374 of [RemoteConnection.py](https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriver/remote/remote_connection.py) on the statement below:
[code]
This does not happen in the same quantity as on Chrome or IE.

[2020-05-11 23:25] thejohnjansen commented on #8277
IIRC: We did not spec "double click" and "triple click" in the spec because they are not standardized. If you manually send two clicks within 500ms of each other and that produces a double-click in your OS, then doing the same thing in webdriver must also produce a double-click. However, we cannot say that "a double-click must do such and such" because double-click is not defined.

[2020-05-12 06:21] MrMisterG commented on #8277
@thejohnjansen, the double click is working as expected for my OS but not the triple click. Does mean I have to create a bug report instead?

[2020-05-12 08:16] AutomatedTester commented on #8277
We decided in the WG not to document it because each OS does this slightly differently and there was no way we could document it properly. Each OS "just knows" the right thing to do. The test I added to wpt in the [above comment](https://github.com/SeleniumHQ/selenium/issues/8277#issuecomment-625250810) should be enough to get drivers to do the right thing.

[2020-05-12 09:04] AutomatedTester commented on #8284
If you build up your own actions and use the `PointerInput` object you will be able to create what you want.

[2020-05-12 09:05] #8284 closed

[2020-05-12 14:49] AutomatedTester commented on #8170
this was added in 13f415bbefc248a149a2db4ebfd1ead4a9728f59

[2020-05-12 14:49] #8170 closed

[2020-05-12 19:44] Harsha509 commented on #8292
Hi @Tae69 ,

Thanks for raising the issue.

As far as i know this feature is only works in Safari (pressing the ESC will exit fullscreen to windowed mode).

Am not sure if Chrome and FF doesn't support this feature (i think they don't).

Regards,
Harsha

[2020-05-12 20:29] Ovicron opened #8298 "Selenium not opening Firefox with new profile I created"
I followed this from a video, who had this code work fine, but it is not working for me.

I opened Firefox with the newly created profile and bookmarked google, and when I execute this code and make it go to google, google is not bookmarked, telling me that the profile isn't working.

from selenium import webdriver

def build_firefox_driver():
    fp = webdriver.FirefoxProfile(r'C:\Users\ovicr\Pyc

[2020-05-12 20:29] #8298 closed

[2020-05-13 02:16] Tae69 commented on #8292
Hi, thanks for reply

Got a reply from chromedriver, and unfortunately they [don't support it].(https://bugs.chromium.org/p/chromedriver/issues/detail?id=3466&q=ESC&can=1)

Closing this issue as it's not related to Selenium.

[2020-05-13 02:16] #8292 closed

[2020-05-13 06:17] siddhant42 opened #8299 "High CPU processor usage with firefox-v40,gecko-0.23 and selenium-v3.14.0"
<b> description::</b>
I am using selenium with firefox-v61 and geckodriver-0.23 for crawling.
I am running it with heavy scale -around 50 simultaneous processes of firefox every time in a new window.
but firefox is using very high processor usage- around 3 processes(including 2 child-Id) for every site opening and rendering . And my total cpu usage of machine is becoming around 60 to 70.
I am open

[2020-05-13 06:17] #8299 closed

[2020-05-13 06:24] siddhant42 opened #8300 "High CPU processor usage with firefox-v61,gecko-0.23 and selenium 3.14.0"
## 🐛 Bug Report

I am using selenium with firefox-v61 and geckodriver-0.23 for crawling.
I am running it with heavy scale -around 50 simultaneous processes of firefox every time in a new window.
but firefox is using very high processor usage- around 3 processes(including 2 child-Id) for every site opening and rendering . And my total cpu usage of machine is becoming around 60 to 70.
I am opening e

[2020-05-13 06:58] kiran-ch opened #8301 "Office 365 - Excel Online Automation with C#"
HI All,

We are writing UI test automation scripts, where, we need to add some contents to excel online opened in the browser. We are using Selenium Automation. Please let us know if we can access excel online through C# code.

I tried below. But, getting element not found exception when finding the name box.

Please suggest whether it can be supported or not. If supported, please help us to achie

[2020-05-13 06:58] #8301 closed

[2020-05-13 06:59] barancev commented on #8300
What processes exactly consume too much CPU -- Selenium or geckodriver or Firefox?

[2020-05-13 07:03] siddhant42 commented on #8300
Its firefox-v61 which usage too much CPU(around 3 process per site opening in a new firefox window). while earlier i was using firefox-v40 which doesn't usage so much processor usage.

[2020-05-13 07:04] kiran-ch opened #8302 "Office 365 - Excel Online Automation with C#"
HI All,

We are writing UI test automation scripts, where, we need to add some contents to excel online opened in the browser. We are using Selenium Automation. Please let us know if we can access excel online through C# code.

I tried below. But, getting element not found exception when finding the name box.

Please suggest whether it can be supported or not. If supported, please help us to achie

[2020-05-13 07:04] #8302 closed

[2020-05-13 07:07] barancev commented on #8300
So please report the issue to the browser vendor.

[2020-05-13 07:07] #8300 closed

[2020-05-13 07:11] kiran-ch opened #8303 "Office 365 - Excel Online Automation with C#"
## 🐛 Bug Report

A clear and concise description of what the bug is.

We are writing UI test automation scripts, where, we need to add some contents to excel online opened in the browser. We are using Selenium Automation. Please let us know if we can access excel online through C# code.

I tried below. But, getting element not found exception when finding the name box.

Please suggest whether it c

[2020-05-13 07:47] barancev commented on #8303
Please note that this issue tracker is not a help form.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0ZjdjYjFhMjVlMjFkZWJmNDYyMmU1OTYyM2Y)
- The [Selenium Users](https://groups.google.com/forum/#!forum/s

[2020-05-13 07:47] #8303 closed

[2020-05-13 13:38] fenchu commented on #8237
MsEdge v80 and higher do not support ChromeOptions() anymore, you have to use EdgeOptions(). For java I do not know, but for python you need to use selenium 4.0.0a5 or newer.

https://docs.microsoft.com/en-us/microsoft-edge/webdriver-chromium

[2020-05-13 18:06] remote-specialist commented on #7339
@jimevans, Is it possible to use this functionality now in .Net somehow? If not - how long it will take until it can be used?

[2020-05-14 03:55] wpyok500 opened #8305 "c# OpenQA.Selenium.WebDriverException:“The HTTP request to the remote WebDriver server for URL http://localhost:55241/session timed out after 60 seconds.”"
OpenQA.Selenium.WebDriverException:“The HTTP request to the remote WebDriver server for URL http://localhost:55241/session timed out after 60 seconds.”

string chromedir = @"D:\Program Files\Chrome\chrome\chrome.exe";
            ChromeOptions options = new ChromeOptions();
            options.BinaryLocation = chromedir;
            options.AddArgument("no-sandbox");
            options.AddArgumen

[2020-05-14 03:55] #8305 closed

[2020-05-14 08:04] markloughery opened #8306 "EdgeDriver does not contain constructor with DriverService parameter"
## 💥 Regression Report

A clear and concise description of what the regression is.

## Last working Selenium version

Worked up to version: 3.14

Stopped working in version: 4.0.0-alpha-5

## To Reproduce

Detailed steps to reproduce the behavior:

- Create a ChromiumEdgeDriverService / EdgeDriverService object

- Create a EdgeDriver object and pass in the ChromiumEdgeDriverService object

[code]

[2020-05-14 14:45] onkarjit opened #8307 "Get the locator from IWebElement"
I'm doing the following:

[code]

As can be seen in the code, the `selectButton` I get from nested sequence of previous `By`. I would like to get the locator for this element, in order to prevent `StaleElementReferenceException`. Because in Selenium once a WebElement goes stale, it always stays stale, however, a locator could be used to keep trying to find the element until it gets a non-stale ele

[2020-05-14 14:46] #8307 closed

[2020-05-14 14:49] MrMisterG commented on #8277
Ah I understand. Many thanks for that; much appreciated!

[2020-05-14 15:03] onkarjit opened #8308 "Ability to retrieve the By locator of a WebElement"
## 🚀 Feature Proposal

Selenium needs a way to retrieve the locator from the WebElement. Especially in cases when we element exists from many `By` it becomes difficult to get its XPath.

## Motivation

This future will help in battling exceptions like for e.g. the `StaleElementReferenceException`. See the example below see the usefulness. Also, it does not seem hard to implement either it's just k

[2020-05-15 00:10] wpyok500 opened #8309 "C# firefox OK，IE OK，Chrome **NG**"
**Error Code：
OpenQA.Selenium.WebDriverException:“The HTTP request to the remote WebDriver server for URL http://localhost:50105/session timed out after 60 seconds.”**

**firefox OK，IE OK，Chrome  **NG**
Code**
           string chromedir = @"D:\Program Files\Chrome\chrome.exe";
            ChromeOptions options = new ChromeOptions();
            options.BinaryLocation = chromedir;
            **IW

[2020-05-15 00:10] #8309 closed

[2020-05-15 00:14] wpyok500 opened #8310 "C# firefox OK，IE OK，Chrome **NG**"
firefox OK，IE OK，Chrome  **NG**
 Error Code
![15](https://user-images.githubusercontent.com/14154547/81997990-f1cf5380-9683-11ea-95b5-a23b39bf95ba.png)

**Environment**
OS: Windows 10
Browser: chrome
Browser version: Version 81.0.4044.138
Browser Driver version: ChromeDriver 81.0.4044.138
Language Bindings version: C#
Software : visual studio 2019
![11](https://user-images.githubusercontent.com/14

[2020-05-15 00:14] #8310 closed

[2020-05-15 00:18] wpyok500 opened #8311 "firefox is OK，IE is OK，Chrome Ng(bug)"
**Environment**
OS: Windows 10
Browser: chrome
Browser version: Version 81.0.4044.138
Browser Driver version: ChromeDriver 81.0.4044.138
Language Bindings version: C#
Software : visual studio 2019
![15](https://user-images.githubusercontent.com/14154547/81998216-8afe6a00-9684-11ea-81c7-0f7806d66bba.png)
![11](https://user-images.githubusercontent.com/14154547/81998228-8fc31e00-9684-11ea-902f-b5468

[2020-05-15 00:18] #8311 closed

[2020-05-15 00:26] wpyok500 commented on #8306
Sorry for borrowing and shipping

firefox OK，IE OK，Chrome  **NG**
Error Code
![15](https://user-images.githubusercontent.com/14154547/81998537-59d26980-9685-11ea-878f-0fede5e26ad6.png)

**Environment**
OS: Windows 10
Browser: chrome
Browser version: Version 81.0.4044.138
Browser Driver version: ChromeDriver 81.0.4044.138
Language Bindings version: C#
Software : visual studio 2019
![11](https://use

[2020-05-15 06:32] rohitgargnj commented on #7369
Did you find any solution? Please help if it worked for you. Iam facing same issue

[2020-05-15 08:39] mrtunguyen opened #8312 "Screenshot with Firefox WebDriver doesn't return image with respective font in html (python)"
## 🐛 Bug Report

I'm trying to generate images from html files which contain different fonts with Selenium WebDriver. But when I take the screenshot, the image I got always returns the same font, but not with the font in html file. Does anyone know how to deal with this problem?

## To Reproduce

Example of code in python
Font in html: **Parkavenue, cursive** but the font in image we got from scre

[2020-05-15 10:11] AutomatedTester commented on #8312
Please log an issue with Mozilla

https://github.com/mozilla/geckodriver

Please be sure to include a completely reproducible test script for them, without a way to reproduce the issue you are seeing there is no good way for them to fix the problem. A reproducible test script includes a WebDriver script and a link to the page in question. If you can not provide a link, create one using [jsfiddle.n

[2020-05-15 10:11] #8312 closed

[2020-05-15 10:52] #7639 closed

[2020-05-15 11:03] #8053 closed

[2020-05-15 14:24] mr-blanket commented on #6812
I've made quite a journey to reach this issue :)

I've made a workaround that I call after `browser.restart()` - it removes duplicated listeners:
[code]

[2020-05-15 14:49] Kakanii commented on #8289
Hi Team,

Gentle Reminder!!

Can we any updates or comments on the above issue?

Thanks

[2020-05-15 14:53] AutomatedTester commented on #8289
The Selenium project is run by volunteers. Please feel free to help diagnose the issue and perhaps submit a PR.

[2020-05-15 19:08] danonorato opened #8313 "High CPU (400%) on selenium/hub:3.141.59 startup"
🐛 Bug Report
I'm seeing an intermittent issue where the selenium-hub consumes 400% cpu immediately after the container starts. This renders the grid useless.  While I've open this ticket at https://github.com/SeleniumHQ/docker-selenium/issues/1040 .   The root seem to be within the java code under this repo.

To Reproduce
Run the attached docker-compose file. It seems to hit about 1 in 10 starts.

[2020-05-15 19:08] #8313 closed

[2020-05-15 19:21] danonorato opened #8314 "High CPU (400%) on selenium/hub:3.141.59 startup"
## 🐛 Bug Report

I'm seeing an intermittent issue where the selenium-hub consumes 400% cpu immediately after the container starts. This renders the grid useless. While I've opened this ticket at SeleniumHQ/docker-selenium#1040 . The root seems to be within the java code under this repo.  So also creating a ticket here.

## To Reproduce

Detailed steps to reproduce the behavior:

Run the attached d

[2020-05-16 15:58] amiluslu commented on #8171
I just made it and created pull request.

you can check;

https://github.com/SeleniumHQ/selenium/pull/8304

If there will be a problem, I can fix it

[2020-05-16 16:03] amiluslu commented on #7761
Can you give me a little bit details about this issue ? If you give me a little bit details or clue, hints, I can start to fix.

[2020-05-16 21:52] navidemad opened #8315 "[rb] Deprecation warnings for Ruby 2.7.1 (webdriver chrome)"
## 🐛 Bug Report

There are deprecation warnings left for Selenium in Ruby 2.7.1 on OSX Mac OS.
They're all from [this change](https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/) to position arguments/kwargs.
Some has been fixed in the past in the following issue : [Ruby 2.7 deprecations #7870
](https://github.com/SeleniumHQ/selenium/issues/7870

[2020-05-17 19:13] p0deje commented on #8315
Thanks for the report! I will address it as soon as possible. Pull requests are also welcome!

[2020-05-17 19:56] barancev commented on #8237
Sorry, but we're not going to backport Edgium support to Selenium v.3, please wait for a stable version of Selenium 4 or try the current alpha.

[2020-05-17 19:56] #8237 closed

[2020-05-17 20:00] barancev commented on #8268
Please report this issue to chromedriver project: https://chromedriver.chromium.org/help

[2020-05-17 20:00] #8268 closed

[2020-05-17 20:07] barancev commented on #8276
Selenium does not affect the operating system level cursor. Otherwise it would be impossible to drive multiple browsers in parallel. How would you suggest to visuallize cusror in this case? What if a browser runs in background or minimized?

[2020-05-17 20:12] barancev commented on #8289
Please provide an executable scenario (in any programming language) instead of a narrative.

[2020-05-17 20:20] barancev commented on #8293
Well, the label was correct, sorry.

There are two issues:
1) why do we use an old version of jQuery in our tests? the answer is "who cares, it's good enough for the tests"
2) why and how JS binding exposes it to the end users? this should be fixed

[2020-05-17 20:32] barancev commented on #8293
I've just installed selenium-webdriver NPM package version 4.0.0-alpha.7 and can't find any mention of jquery there. So the issue seems to be fixed already.

[2020-05-17 20:32] #8293 closed

[2020-05-18 01:28] nguyenhien02 opened #8316 "selenium grid"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-05-18 01:28] #8316 closed

[2020-05-18 12:55] AutomatedTester opened #8317 "Remove references to obsolete browsers"
## 🚀 Feature Proposal

Remove all references to obsolete browsers

## Motivation

Currently, there are large areas of the codebase that are not being used. We don't need that dead code anymore.

## Example

Such as `IEHTA` and `Konqueror` in [BrowserType.java](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/remote/BrowserType.java#L40 ). We also need to remov

[2020-05-18 13:06] AutomatedTester opened #8318 "Remove references to `opera_blink` in favour of `opera`"
## 🚀 Feature Proposal

There are 2 version of Opera that are currently being supported in the code base. We really to just have `opera`

## Motivation
Deleting obsolete code

## Example

we have `OPERA_BLINK` in the [BrowserType.java](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/remote/BrowserType.java#L34) file and we should remove it and all references t

[2020-05-18 14:21] gouru312 opened #8319 "Getting org.openqa.selenium.WebDriverException: Build info without any message"
## 🐛 Bug Report

Sometimes the autotests are failed with exception like below:

[code]

From this exception we cannot understand what happened.

Often this issue is happened during execution of the 'GetElementTagName' command:

[code]

## To Reproduce

Detailed steps to reproduce the behavior:

## Expected behavior

The exception contains any more information about issue. E.g. org.openqa.selenium.

[2020-05-18 14:50] diemol commented on #8314
Replied and closed in the related issue https://github.com/SeleniumHQ/docker-selenium/issues/1040

[2020-05-18 14:50] #8314 closed

[2020-05-18 16:01] danonorato commented on #8314
@diemol   Is there some new way to check the  status of the hub.   I notice contract previously used by check-grid.sh no longer returns results from the hub. ```~/src/piq-customer-ui-e2e-test danonorato [develop] $ curl -sSL http://localhost:4444/wd/status
{
  "value": {
    "error": "unknown command",
    "message": "Unable to find handler for (GET) \u002fwd\u002fstatus",
    "stacktrace": ""
  }

[2020-05-18 16:06] diemol commented on #8314
It is at the root `/status` now, for any more questions please join us in the [IRC/Slack channel](https://seleniumhq.herokuapp.com/) where the community can help you as well

[2020-05-18 16:25] diemol commented on #8319
@gouru312
After having a look at the provided looks it is impossible to know what the exact problem is, seems that it could be related to an element not found or an issue where the page under test is at the unexpected state.

An additional thing seen from the logs is that the Selenium and ChromeDriver versions used are quite old, upgrading might help to solve the problem.

In any case, we cannot r

[2020-05-18 20:58] evnraja32 opened #8320 "Capturing Chrome screenshot in alpha 5 - failed"
## 🐛 Bug Report

## To Reproduce

I wrote a snippet to capture the screenshot of www.google.com site using selenium-webdriver alpha5 in ruby language. The script was hanging until timeout then throwing an error. Whereas the same code snippet was working fine in Window 10

## Expected behavior

Webdriver should successfully capture the screenshot of webpage without any error

## Test script or set

[2020-05-19 09:47] marcozj opened #8321 "WebDrive can't render https://login.proficio.com"
## 🐛 Bug Report

Tried following code to navigate to https://login.proficio.com but the page isn't rendered properly. Same for ChromeDirver and Firefox Driver too.

## To Reproduce
Use following code.

package webtest;

import org.openqa.selenium.By;
import org.openqa.selenium.JavascriptExecutor;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.chrome.ChromeDriver;
import org.openq

[2020-05-19 09:56] AutomatedTester commented on #8321
Does you site have any "bot" protections? Selenium just navigates to a page but if there is bot protections then it can block the site from working with selenium.

Unfortunately I don't have time to reverse engineer the JavaScript to be able to tell you definitively

[2020-05-19 10:15] marcozj commented on #8321
This is an external site so not sure if there is "bot" protection. But I noticed the the html source retrieved under WebDriver is different from the original one.

[2020-05-19 10:21] AutomatedTester commented on #8321
Unfortunately this suggests bot protection. I suggest you contact the site if you need to automate it for them. This is not something that Selenium can solve.

[2020-05-19 10:21] #8321 closed

[2020-05-19 10:58] ryokugyu commented on #8232
Can anyone guide me through this? I want to work on this issue!

[2020-05-19 12:18] #7948 closed

[2020-05-19 12:29] AutomatedTester commented on #8261
looking into this, Firefox is doing the right thing.

If you start using the `*Options` classes, which is the preferred way, this would have worked. Will rework the code that if it sees this to call the options instead.

[2020-05-19 12:47] #8261 closed

[2020-05-19 12:50] AutomatedTester commented on #8296
You haven't put what version of the selenium bindings you are using. Could you see if this is fixed in the latest alpha versions?

[2020-05-19 13:03] AutomatedTester commented on #8003
Closing as this issue as it needs to be fix in each of the drivers.

[2020-05-19 13:03] #8003 closed

[2020-05-19 13:10] sergius-msv opened #8322 "WebSocketException in DevToolsSession"
## 🐛 Bug Report

Chrome Dev Tools closing web socket connection when WebDriver DevToolsSession uses default KeepAliveInterval for ClientWebSocket instance

## To Reproduce

`var driver = new ChromeDriver();`
`var session = driver.CreateDevToolsSession();`
`session.Network.WebSocketFrameError += Network_WebSocketFrameError;`
`session.Network.WebSocketCreated += Network_WebSocketCreated;`
`session.N

[2020-05-19 13:20] AutomatedTester commented on #8322
Could you submit a PR with your suggestion and someone will review. Thanks!

[2020-05-19 13:51] sergius-msv commented on #8322
#8323

[2020-05-19 15:00] p0deje commented on #8168
A use-csae of CDP used API I have is to add JS snippet to be executed on every new page load. In current Ruby this is done in the following way:

[code]

I'm not sure how Selenium API for it might look like.

[2020-05-19 15:05] shs96c commented on #8168
After discussion in the #selenium-tlc slack channel, the current suggestion is for me to put together some strawman APIs to feed the design process.

[2020-05-19 15:17] p0deje commented on #8168
After discussion in the #selenium-tlc slack channel, the API will essentially be a user-facing API for WebDriver BiDi so we can draft based on its scenarios from https://github.com/w3c/webdriver/blob/master/webdriver-bidi/webdriver.md#goals:

- Listen for DOM events
- Log what's going on in the browser including console and JS errors
- Fail fast on any JS error
- Mock backends and intercept networ

[2020-05-19 15:24] ghostwords commented on #8261
Thank you for looking into it, and for suggesting to stop using `DesiredCapabilities`.

Since `DesiredCapabilities` is deprecated, should users of up-to-date bindings see deprecation warnings?

[2020-05-19 16:42] diemol opened #8324 "Nodes can be registered more than once"
## 🐛 Bug Report

A node can be registered more than one time to a distributor/hub in Selenium Grid 4.x

## To Reproduce

Start the whole Grid:

[code]

Then kill the node and start it again, the distributor logs will show this:

[code]

and the status endpoint will look like this:
[code]

## Expected behavior

A node should be registered only once

## Environment

OS: Any
Browser: N/A
Browser vers

[2020-05-19 17:12] diemol commented on #934
Closing this issue since all the discussion was done in the PR, in addition, the PR was not merged but its purpose was achieved in the end through the implementation of generics in the Java bindings for Appium.

[2020-05-19 17:12] #934 closed

[2020-05-19 17:26] diemol commented on #1282
I think the comment above makes a good point, where this would imply changes in many places and the overall benefit would not be higher than the effort needed for its implementation.

[2020-05-19 17:26] #1282 closed

[2020-05-19 17:44] diemol commented on #968
In general, we are discouraging the use of `PageFactory`, but in any case, lots of people use, so making these types of changes would break backward compatibility. Closing this issue since the PR got also closed.

[2020-05-19 17:44] #968 closed

[2020-05-19 17:49] diemol commented on #2840
Closing in favor of the issue raised in the W3C repo.

[2020-05-19 17:49] #2840 closed

[2020-05-19 17:53] diemol commented on #2716
Closing as we never got more feedback from the OP

[2020-05-19 17:53] #2716 closed

[2020-05-19 17:55] diemol commented on #1803
Please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-19 17:58] diemol commented on #3135
Apologies for the poor handling of this issue from our side, if this problem is still present with thee most recent version of Selenium and Firefox, could you please open a new issue and provide all the information required in the template?

[2020-05-19 17:58] #3135 closed

[2020-05-19 18:10] diemol commented on #3090
@couchpotatodude apologies for the poor handling of this issue.
It seems there is something wrong with the profile being used. If this issue is still present in the latest Selenium and Firefox versions, could you please create a new issue with all the information required by the template so we can have a look?
Closing this issue for now.

[2020-05-19 18:10] #3090 closed

[2020-05-19 18:22] diemol commented on #4364
Closing after reading the previous comment.

[2020-05-19 18:22] #4364 closed

[2020-05-19 18:29] diemol commented on #4710
@ViTaLESs could you please provide a script to reproduce the issue in the most recent Selenium version?

[2020-05-19 18:29] #4619 closed

[2020-05-19 18:29] diemol commented on #4618
Closing as implementation has been completed.

[2020-05-19 18:29] #4618 closed

[2020-05-19 18:33] diemol commented on #5352
If this was an issue with docs but no one has chimed in over 2-3 years, I assume it was either solved or it was not needed. Closing.

[2020-05-19 18:33] #5352 closed

[2020-05-19 18:41] diemol commented on #5965
All repos mentioned have been archived or deleted.

[2020-05-19 18:41] #5965 closed

[2020-05-19 18:44] diemol commented on #7258
Closing as the issue went stale.

[2020-05-19 18:44] #7258 closed

[2020-05-19 18:45] diemol commented on #7324
I will close this for now but feel free to open a new issue in case the problem persists.

[2020-05-19 18:45] #7324 closed

[2020-05-19 18:46] diemol commented on #8139
Closing as the OP didn't provide more info.

[2020-05-19 18:46] #8139 closed

[2020-05-19 18:46] diemol commented on #7534
Closing as the issue went stale.

[2020-05-19 18:46] #7534 closed

[2020-05-19 18:53] devopsix opened #8325 "selenium/standalone-chrome:4.0.0: “Host header or origin header is specified and is not localhost”"
# 🐛 Bug Report

Remote WebDriver fails to execute any command through a Selenium 4.0.0 Standalone Server in Chrome if any other (non IP address) hostname than “localhost” is used for connecting to the Selenium Server.

Having URLs with other names than “localhost” for the host part is a very common scenario in a containerized environment. Using IP addresses ususally is not an option in environment

[2020-05-19 18:54] #8325 closed

[2020-05-19 19:03] devopsix opened #8326 "selenium/standalone-chrome:4.0.0: “Host header or origin header is specified and is not localhost”"
## 🐛 Bug Report

Remote WebDriver fails to execute any command through a Selenium 4.0.0 Standalone Server in Chrome if any other (non IP address) hostname than “localhost” is used for connecting to the Selenium Server.

Having URLs with other names than “localhost” for the host part is a very common scenario in a containerized environment. Using IP addresses ususally is not an option in environmen

[2020-05-19 19:06] devopsix commented on #8325
Hmpf, using `#` instead of `##` seems to make the bot fail to recognize the issue type. Reopened as #8326.

[2020-05-20 04:33] DB8851 opened #8327 "Jenkins error with chrome: Chrome failed to start: exited abnormally (unknown error: DevToolsActivePort file doesn't exist)"
Hey,
I am trying to build my code through Jenkins but below error is encountered, pls help to fix:

unknown error: Chrome failed to start: exited abnormally
(unknown error: DevToolsActivePort file doesn't exist)
(The process started from chrome location /usr/bin/google-chrome is no longer running, so ChromeDriver is assuming that Chrome has crashed.)
Build info: version: '3.141.59', revision: 'e82

[2020-05-20 04:33] #8327 closed

[2020-05-20 05:53] diemol commented on #716
Seems this was solved in GeckoDriver and based on the previous comment, that is the status where things will stay.

[2020-05-20 05:53] #716 closed

[2020-05-20 05:56] diemol commented on #826
Closing as the issue went stale, but in addition wee never got any more information.

[2020-05-20 05:56] #826 closed

[2020-05-20 14:21] iadamska opened #8328 "ERROR: An error occurred during the fetch of repository 'local_config_cc'"
## 🐛 Bug Report

When I try run go.bat script I get errors:

Parsing rb/build.desc
** Invoke default (first_time)
** Invoke grid (first_time)
** Invoke selenium-server-standalone (first_time)
** Invoke //java/server/src/org/openqa/selenium/grid:selenium_server_deploy.jar (first_time)
** Execute //java/server/src/org/openqa/selenium/grid:selenium_server_deploy.jar
Loading:
Loading: 0 packages loade

[2020-05-20 14:21] odonovan-johnd commented on #7472
I've just hit this issue on an Angular project, luckily I found this. Unfortunately, I'm not able to do the  "\n" with the way our file uploads are managed. Has there been any work on correcting this behaviour?

[2020-05-20 18:03] gorbysbm opened #8329 "Sporadic org.openqa.selenium.WebDriverException: connection refused"
## 🐛 Bug Report

I have this setup using docker images:
1 Selenium grid hub docker image, 1 Chrome docker image, 1 Firefox docker image-- specified in docker-compose.yml
Occasionally when I try to execute a suite of tests via testNG, I will see this error in my beforeMethod setup and the rest of the test will not execute:

[code]

## To Reproduce

Detailed steps to reproduce the behavior:
clone th

[2020-05-20 18:07] #6167 closed

[2020-05-20 18:08] diemol commented on #6167
This has been fixed for Grid 4, will be available in the next Alpha release.

[2020-05-20 18:19] diemol commented on #8329
Could you please provide the Grid logs when this happens?
This normally happens when the Grid is not ready to receive connections, have you double-checked the Grid is up and running before starting any tests?
Also, I had a look at the repository but I simply got lost between all the configurations and different files, could you please provide a simplified script that can be used to reproduce the i

[2020-05-21 07:21] VijayVarmaKethe commented on #7724
Thanks Harsha.

[2020-05-21 07:21] #7724 closed

[2020-05-21 08:17] bongosway commented on #8318
@AutomatedTester the OPERA browser is currently marked as deprecated. How does that affect this proposal?

[2020-05-21 08:21] AutomatedTester commented on #8318
We need to remove the deprecation and then go through the codebase cleaning up references to everything along the way.

[2020-05-21 08:33] bongosway commented on #8317
@AutomatedTester
for e.g. FIREFOX_PROXY is not used anywhere in the codebase, does `not used` == `obsolete`?
if yes, then I can remove all the `not used` code.

regards.

[2020-05-21 08:36] AutomatedTester commented on #8317
let's start a PR with that and see where we go

[2020-05-21 10:01] diemol commented on #2884
Apologies for the poor handling of this issue on our side. As so much time has passed (and the linked repo does not exist), perhaps this is not a valid issue anymore.

In any case, if the issue is still present, please create a new one and fill out the template completely, issues with reproduction scenarios providing simple automation scripts are preferred instead of narrative descriptions.

[2020-05-21 10:01] #2884 closed

[2020-05-21 10:07] diemol commented on #3086
Apologies for the late reply, I checked the log and didn't see anything strange there.
If the issue is still present with the latest Selenium and IE driver versions, could you please provide a self-contained automation script to reproduce the scenario?

[2020-05-21 10:18] diemol commented on #3124
Apologies for the poor handling of this issue on our side. Since no reproduction scenario with clear and detailed steps was provided, or an automated script to reproduce the issue is present, I will close this issue.

In any case, if the issue is still present with the latest versions of Selenium WebDriver and IE driver, please open a new issue with all the required information filled out.

[2020-05-21 10:18] #3124 closed

[2020-05-21 10:21] diemol commented on #3372
Yes, there is a bug in Grid 3.x where things sent over the wire (profiles, uploading a file...) consume the heap size quickly. The workaround is to increase the heap size, which we understand is not optimal.

In any case, Grid 3.x is not under development anymore. Grid 4 is an entirely new code base, could you please try it from https://www.selenium.dev/downloads/ and open a new issue in case you

[2020-05-21 10:21] #3372 closed

[2020-05-21 10:26] diemol commented on #3686
Apologies for the poor handling of this issue on our side.

Is this issue still valid in the most recent versions of Selenium and Chrome/Firefox?

[2020-05-21 10:27] diemol commented on #3713
Closing as the mentioned PR got merged.

[2020-05-21 10:27] #3713 closed

[2020-05-21 10:29] diemol commented on #3883
Apologies for the poor handling of this issue on our side.

Is this still valid? If so, can you please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-21 10:32] diemol commented on #4077
Exactly, please check https://github.com/yandex-qatools/htmlelements or https://github.com/qameta/atlas for this functionality.

No extense changes will be implemented to the `PageFactory` to keep it backwards compatible and maintainable.

[2020-05-21 10:32] #4077 closed

[2020-05-21 10:34] diemol commented on #4108
Seems this was implemented in all bindings but .NET, in any case, if someone needs this for .NET bindings, please raise a new issue or/and PR.

[2020-05-21 10:34] #4108 closed

[2020-05-21 10:35] diemol commented on #4281
Is this still valid in the most recent version of the .NET bindings?

[2020-05-21 10:40] diemol commented on #4296
This issue has gone stale and it is pretty much clear that it is the expected behavior after reading the comments above.

[2020-05-21 10:40] #4296 closed

[2020-05-21 10:43] diemol commented on #4313
This issue has gone stale, in addition to that, we have a page showing many available tools and frameworks in the ecosystem https://www.selenium.dev/ecosystem/
But documenting the internals of them is not really the project's responsibility.

[2020-05-21 10:43] #4313 closed

[2020-05-21 10:43] deci260 opened #8330 "MutableCapabilities' merge() method doesn't change proxy settings with ChromeDriver (Java)"
Changing proxy settings at runtime with `ChromeDriver` doesn't work as the proxy settings remain the same.

Example (Java):

[code]

OS: Windows 10
Browser: Chrome
Browser version: 81.0.4044.138
Browser Driver version: Chromedriver 81.0.4044.138
Language Bindings version: Java 4.0.0-alpha-5

[2020-05-21 10:43] #8330 closed

[2020-05-21 10:47] deci260 opened #8331 "MutableCapabilities' merge() method doesn't change proxy settings with ChromeDriver (Java)"
## 🐛 Bug Report

Changing proxy settings at runtime with `ChromeDriver` doesn't work as the proxy settings remain the same.

## To Reproduce

[code]

## Expected behavior

I would expect the browser to change proxy server, but this doesn't happen as the IP is the same as before (the two proxies have different external IPs

## Test script or set of commands reproducing this issue

Same as above

##

[2020-05-21 10:50] diemol commented on #4336
Is this still a valid issue? If so, could you please provide a way to reproduce it?

[2020-05-21 10:50] diemol commented on #4336
Please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-21 10:53] diemol commented on #4452
A related issue (#4215)  was closed, where all bindings implemented it.

[2020-05-21 10:53] #4452 closed

[2020-05-21 10:55] diemol commented on #4555
It seems it was implemented in all bindings except .NET, in case any one finds an issue there, please open a new issue.

[2020-05-21 10:55] #4555 closed

[2020-05-21 10:57] diemol commented on #4591
Closing as it was resolved after reading the comments.

[2020-05-21 10:57] #4591 closed

[2020-05-21 11:34] markrason opened #8332 "chromedriver"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-05-21 11:35] #8332 closed

[2020-05-21 13:28] bongosway commented on #8317
I will pass on this one, as this is a really good one for someone newer :-) than me to pick up.

[2020-05-21 17:39] barancev commented on #8318
Unfortunately we can't simply remove it because this will break client code.

The plan is:

- [x] Deprecate OPERA_BLINK and un-deprecate OPERA (PR #8333)
- [x] Add warnings that motivate people to use OPERA
- [x] Ship 4.0 release
- [x] Delete OPERA_BLINK
- [ ] Ship 4.1 release

[2020-05-21 18:19] diemol commented on #3965
@EnoJony is this issue still valid with the most recent versions of Selenium WebDriver and the IE driver?

[2020-05-21 18:33] diemol commented on #4796
Apologies for the late reply, I notice this issue was filled with Firefox Nightly... Is this still valid with the latest version of Selenium and the stable Firefox release?

[2020-05-21 18:34] diemol commented on #4796
If so, please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-21 18:40] diemol commented on #4934
From the Selenium side, and based on some comments, this should have been fixed. Please feel free to open a new issue in case this is still present in the latest versions of Selenium WebDriver, browser driver, and browser.

[2020-05-21 18:40] #4934 closed

[2020-05-21 18:44] diemol commented on #4973
After reading the linked issue and seeing that no reproduction scenario was ever provided, plus the link above explaining more details... this issue has stalled and it will be closed.

If this is still a valid issue, please create a new one and fill out all the required information.

[2020-05-21 18:44] #4973 closed

[2020-05-21 18:46] diemol commented on #4910
Is this issue still valid? If so, please provide a more complete script to reproduce it. In the one above there is an IP used for a proxy which we don't know how it is configured. Again, please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-21 19:02] diemol commented on #5339
We have a new website with docs as well, this issue should be solved there https://www.selenium.dev/documentation/en/

[2020-05-21 19:02] #5339 closed

[2020-05-21 19:05] diemol commented on #5083
After reading a few comments, this issue should be solved. If this is not true, after trying again with the latest versions of WebDriver and the browser driver/browser, please create a new issue with all the required information.

[2020-05-21 19:05] #5083 closed

[2020-05-21 19:08] diemol commented on #5483
Closing the issue as we didn't get more info from the OP

[2020-05-21 19:08] #5483 closed

[2020-05-21 20:39] diemol commented on #5816
As mentioned in the comments above, if the issue still persists, please report it to https://github.com/mozilla/geckodriver/

[2020-05-21 20:39] #5816 closed

[2020-05-21 20:45] diemol commented on #5808
If this works on your localhost and not inside a docker container, it is very much likely a network configuration issue when starting the docker container. Without any more context, it is really hard to know if something else is going on.

In any case, this leads to figuring out how to start the container properly, and you could send this question to:
  * The [Selenium user group](https://groups.g

[2020-05-21 20:45] #5808 closed

[2020-05-21 20:49] diemol commented on #5765
Is this issue still valid? If so, please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-21 20:56] diemol commented on #5804
This issue went stale, we didn't get more information from the OP after the comment made above.

[2020-05-21 20:56] #5804 closed

[2020-05-21 20:57] diemol commented on #6054
This issue has gone stale, if there is still the intention to achieve this, please raise a PR.

[2020-05-21 20:57] #6054 closed

[2020-05-21 21:02] diemol commented on #6056
Is this issue still valid? Why not using Appium directly?

[2020-05-21 21:03] diemol commented on #6076
Linked PR was merged, closing this issue.

[2020-05-21 21:03] #6076 closed

[2020-05-21 21:12] diemol commented on #5943
The issue link in the MS page does not exist anymore, and also a workaround has been provided. In addition, the flavor of Edge menioned in this issue is not under development anymore.

[2020-05-21 21:12] #5943 closed

[2020-05-21 21:14] diemol commented on #6097
Closing as gson is not part of the 3.14.0 release
<img width="516" alt="image" src="https://user-images.githubusercontent.com/5992658/82607284-d7800300-9bb8-11ea-86b4-2b95df7c153b.png">

[2020-05-21 21:14] #6097 closed

[2020-05-21 21:24] diemol commented on #4750
Closing this as the issue went stale, @AutomatedTester feel free to reopen in case you need to.

[2020-05-21 21:24] #4750 closed

[2020-05-21 21:29] diemol commented on #6068
@sasanapu is this issue still valid? If so, can you please provide a [concise reproducible test case](http://sscce.org/), that includes the page required to execute the scenario (a sample page or a public site).

[2020-05-21 21:31] diemol commented on #6452
Not clear what this issue tries to tell us, please open a new one with all the required information from the template. If this was a question, please consider:
  * 📫 Sending it to the [Selenium user group](https://groups.google.com/forum/#!forum/selenium-users)
  * 📮 Post it to [StackOverflow](https://stackoverflow.com/questions/tagged/selenium)
  * 🗣 Or join us in the [IRC/Slack channel](https://

[2020-05-21 21:31] #6452 closed

[2020-05-21 23:41] blourabie opened #8334 "python - call selenium scripte from GUI interface"
**I have interface.py and script.py, I need to run script.py from interface.py after click button.**

**this is the script.py :**

![script py](https://user-images.githubusercontent.com/53751601/82616214-1f545980-9bbc-11ea-9eca-2553c8eee571.JPG)

**this is interface.py :**

![interface py](https://user-images.githubusercontent.com/53751601/82616281-4d399e00-9bbc-11ea-8393-efd8fdaa78d0.JPG)

**I do

[2020-05-21 23:41] #8334 closed

[2020-05-22 00:30] rvallari1 opened #8335 "ERROR:page_load_metrics_update_dispatcher.cc(165)] Invalid first_paint 7.247 s for first_image_paint 6.456 s"
## 🐛 Bug Report

I am trying to get screenshots of certain elements in Python. However, the screenshots are saved with no content in it. Also, It is producing these errors:

[18404:16988:0522/054626.537:ERROR:page_load_metrics_update_dispatcher.cc(165)] Invalid first_paint 7.247 s for first_image_paint 6.456 s
[18404:16988:0522/054523.353:ERROR:page_load_metrics_update_dispatcher.cc(165)] Invalid

[2020-05-22 02:08] rvallari1 commented on #8335
I also tried WebDriverWait(driver, timeout).until(EC.visibility_of_element_located((By.XPATH, locator))).
But the screenshots are not of completed loaded webpage.

[2020-05-22 03:45] gorbysbm commented on #8329
Could you please provide the Grid logs when this happens?

This normally happens when the Grid is not ready to receive connections, have you double-checked the Grid is up and running before starting any tests?

Also, I had a look at the repository but I simply got lost between all the configurations and different files, could you please provide a simplified script that can be used to reproduce the

[2020-05-22 04:33] EnoJony commented on #3965
On Fri, May 22, 2020 at 12:19 AM Diego Molina <notifications@github.com>
wrote:

--
Regards,
Jony

[2020-05-22 04:34] EnoJony commented on #3965
I had managed the issue in different way. Need to check the latest version
though. Thanks for your prompt response.

On Fri, May 22, 2020 at 12:19 AM Diego Molina <notifications@github.com>
wrote:

--
Regards,
Jony

[2020-05-22 04:45] diemol commented on #8329
Thank you for replying, closing the issue now but feel free to open a new one with all the required information, if the issue persists.

[2020-05-22 04:45] #8329 closed

[2020-05-22 04:47] diemol commented on #3965
Thank you for replying.
Closing the issue for now but feel free to open a new one with all the required information in case the issue still exists.

[2020-05-22 04:47] #3965 closed

[2020-05-22 05:25] diemol commented on #8335
@rvallari1 how can we reproduce this? The automation script is incomplete, no public page is provided, also, what exact version of the Python bindings are you using?
What happens if you use the latest Chrome and ChromeDriver? Have you had a look at the ChromeDriver logs to undderstand better what is going on?

[2020-05-22 05:27] diemol commented on #8331
This is not a supported use case, the capabilities cannot be modified if the session has already started.

[2020-05-22 05:27] #8331 closed

[2020-05-22 07:45] AutomatedTester commented on #4750
This got fixed ages ago. Using Geckodriver means we are using Marionette

[2020-05-22 08:29] bongosway commented on #8318
Agreed. PR now updated to reflect.

[2020-05-22 09:13] diemol commented on #8318
That was a mistake, this should have not been closed.

[2020-05-22 11:04] diemol commented on #8247
Closing as we did not get more info from the OP.

[2020-05-22 11:04] #8247 closed

[2020-05-22 13:22] JoeConroy93 commented on #8030
Hi Friend, this issue is also tormenting me! i have automated test suite in cucumber/gherkin which is launching IEDriverServer/Local host per case it seems to work for the first 25% then virtually all cases get this error! cant find anything to resolve. will let you know if i come across something worthwile!

[2020-05-22 15:18] nefcanto commented on #8030
@JoeConroy93 I found no solution.
I just waited for a couple of upgrades and I don't have this problem now.
I don't know what was the cause, and what was the solution.

[2020-05-22 21:37] diemol commented on #8295
@mihalikv could you provide an automation script only using Selenium WebDriver to reproduce the issue?

[2020-05-22 21:41] diemol commented on #8283
@timothyjmtan could you please show us the actual json files used to configure the hub and node? Also the commands to start them.

[2020-05-22 21:45] diemol commented on #8259
Thank you for reporting this @mleblebici, nevertheless, we need to close this because:
- Grid 3.x is not under development anymore, the code is not even present in the tree.
- Grid 4 will have a different UI and we will double-check this issue is not happening.
- Whenever someone deploys a Grid, it should be done in its own environment under restricted network permissions.

[2020-05-22 21:45] #8259 closed

[2020-05-22 22:26] diemol commented on #8258
I can reproduce this with the Alpha 5 but not anymore when I use master, nevertheless I cannot find the commit that fixed it. @barancev do you know?

[2020-05-23 04:17] amodmahajan2016 opened #8336 "Selenium loads an URL using a HTTP POST request POST /session/:sessionId/url but in doc it is written as GET"
In official selenium [doc](https://www.javadoc.io/doc/org.seleniumhq.selenium/selenium-api/latest/org/openqa/selenium/WebDriver.html#get(java.lang.String)), for get() method below is written :-

Load a new web page in the current browser window. This is done using an HTTP GET operation, and the method will block until the load is complete (with the default 'page load strategy'.

I think it is a ty

[2020-05-23 04:17] #8336 closed

[2020-05-23 04:24] amodmahajan2016 opened #8337 "Selenium loads an URL using a HTTP POST request POST /session/:sessionId/url but in doc it is written as GET"
## 🐛 Bug Report

In official selenium doc, for get() method below is written :-

Load a new web page in the current browser window. This is done using an HTTP GET operation, and the method will block until the load is complete (with the default 'page load strategy'.

I think it is a type mistake as per GitHub page, it should be a POST and that works as well.

## To Reproduce
Please launch linked o

[2020-05-23 05:57] wernerwernerwerner888 opened #8338 "Gecko-Driver wont use Socks5 provided through add argument"
Hello,
i would love to use the geckodriver, just bc i dont like chrome. But  i have a problem. When i want to run my code with socks5 through add_argument it would work with chromedriver, but not with geckodriver.

The browser instance is launching, but it still shows my normal ip.

Here is my code:

[code]

[2020-05-23 05:57] #8338 closed

[2020-05-23 09:33] diemol commented on #8337
@amodmahajan2016 could you please provide the link of the pages you mention?

[2020-05-23 16:21] amodmahajan2016 commented on #8337
GitHub reference - https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessionsessionidurl

Selenium Java Doc -
https://www.selenium.dev/selenium/docs/api/java/
Check get() method

[2020-05-23 17:52] barancev commented on #8258
I made no attempt to fix this issue because we're going to deprecate and remove this HTTP client as the whole.

[2020-05-23 18:46] cybermicheal47 opened #8339 "proxies not working with authentication"
please do somehing about this proxies with auth doesn't work on selenium in python

[2020-05-23 18:46] #8339 closed

[2020-05-24 10:20] diemol commented on #8258
I think the HTTP client is not related to this issue. In any case, I don't see this happening, and the next alpha will be released in around one week.
Feel free to open a new issue if this is present in the next alpha release.

[2020-05-24 10:20] #8258 closed

[2020-05-24 11:06] bongosway commented on #8175
possible to add some design pointers(example) to the issue, as I am interested in picking it up? thanks

[2020-05-24 13:26] #8337 closed

[2020-05-24 13:26] diemol commented on #8337
Thank you for provicing the links.

Fixed in the linked commit, live docs will be available when the next release is done.

[2020-05-24 18:48] barancev commented on #8175
There is already a draft implementation in a branch `killing_FindByXXX`

[2020-05-25 04:33] Revanth2020 opened #8341 "Unable to create firefox session in VM getting org.openqa.selenium.SessionNotCreatedException: Cannot establish new session"
Selenium:-3.8.1
Geko:--0.26.0
Code:-
DesiredCapabilities firefoxCapabilities = DesiredCapabilities.firefox();

firefoxCapabilities.setPlatform(Platform.fromString(platform));
				firefoxCapabilities.setCapability("marionette", true);
				fp = new ProfilesIni().getProfile("Admin");
				firefoxCapabilities.setCapability(FirefoxDriver.PROFILE, fp);
				firefoxCapabilities.setCapability("browser.downl

[2020-05-25 04:33] #8341 closed

[2020-05-25 09:10] lind-eduard commented on #6464
Are there any updates on this?

[2020-05-25 15:04] QA-Rahul opened #8342 "Looks like ActionChains is not working with iframe in Python"
## 🐛 Bug Report

I am trying to move an element from outside of iframe to inside iframe but it seems that never worked.

## To Reproduce

This is a website URL where I executed below code: https://grapesjs.com/demo.html

[code]

## Expected behavior

Expecting that element from the right panel should move to left iframe.

## Environment

* OS: Windows
* Browser: Chrome
* Browser version: 81.0.4044

[2020-05-25 18:37] Dude-X commented on #7467
Version 4 of the Python bindings (hopefully) will start using abstract base classes so that you can register WebElement wrappers as a WebElement type.

One can argue that Python code should be ducked type (formally called structural typing), but this would mean that we would have to define a standard of what is a WebElement. You can ask is a WebElement a type that has attributes X and methods Y, b

[2020-05-25 21:47] cy33hc opened #8343 "This thread has been automatically locked since there has not been any recent activity after it was closed. Please open a new issue for related bugs."
This thread has been automatically locked since there has not been any recent activity after it was closed. Please open a new issue for related bugs.

_Originally posted by @lock in https://github.com/SeleniumHQ/selenium/issues/5073#issuecomment-631677348_

[2020-05-25 21:47] #8343 closed

[2020-05-25 22:27] diemol commented on #8117
@burninmedia this is how the JSON response looks in each Grid version...

In Grid 3.x, it is possible to get a payload from a node, eiither from `/wd/hub/status` or `/status`  that looks like this one:
[code]
and in Grid 4.x for nodes, only at `/status`, it could look like this:
[code]

What do you exactly mean when there is no check URL for nodes?

[2020-05-26 07:50] yatharthmaheshwari commented on #8262
.....................................

yatharth would like to stay in touch on LinkedIn.

yatharth maheshwari
--
New Delhi Area, India

View profile https://www.linkedin.com/comm/in/yatharth-maheshwari-3ab708172?trk=eml-guest-invite-pprofile-link-cta&trkEmail=eml-email_m2g_invite_single_01-null-373-null-null-%7E8ztlbc%7Ekanmdf8w%7Ekt-null-neptune%2Fprofile%7Evanity%2Eview&lipi=urn%3Ali%3Apage%3Aem

[2020-05-26 09:07] dunossauro opened #8345 "Drag and Drop [Python]"
## 🐛 Bug Report

Drag and drop don't release Web Element.

## To Reproduce

Run code in section

## Expected behavior

Move element to another element

## Test script or set of commands reproducing this issue
[code]
## Environment

OS: ArchLinux
Browser: Firefox and Chrome
Browser version: Firefox 76.0.1 / 81.0.4044.138 (64bits)
Browser Driver version: geckodriver 0.26.0  /ChromeDriver 81.0.4044.1

[2020-05-26 09:11] dunossauro commented on #8345
maybe related to #8342

[2020-05-26 12:00] kenticomartinh commented on #6790
Same problem here, command key doesn't seem to work against Safari on Mac. Anyone able to workaround that?

[2020-05-26 13:51] #7821 closed

[2020-05-26 13:51] #8326 closed

[2020-05-26 13:53] diemol commented on #7821
This will be released in the next Alpha.

[2020-05-26 13:54] diemol commented on #8326
This will be released in the next Alpha.

[2020-05-26 20:26] asolntsev opened #8346 "Create interface `HasId` to avoid casting to `RemoteWebElement`"
## 🚀 Feature Proposal

I suggest
1. either to add method `getId()` to interface `WebElement`, or
2. to create interface like `HasId` or `HasIdentity` and make `RemoteWebElement` implement it.

## Motivation

People often cast `WebElement` to `RemoteWebElement` just to call method `getId()`.
De-facto all implementations of `WebElement` have method `getId()`.
For me, it's a problem because `RemoteWe

[2020-05-26 20:45] diemol commented on #8221
Closing as we did not get more information from the OP.

[2020-05-26 20:45] #8221 closed

[2020-05-26 20:52] mistermano opened #8347 "[Python] ActionChains click().perform() clicking previous elements"
## 🐛 Bug Report

As I asked here on StackOverflow - https://stackoverflow.com/questions/62029676/selenium-action-clicking-on-every-element-before-current
Basically, if you get a list of elements and run through them in a loop, action click().perform() will click on every previous element before clicking the current one. Tested on Chromium and Firefox, same result.

## How it should behave
action.m

[2020-05-26 21:46] diemol commented on #8324
After checking more, it seems each new registered node has a different UUID, and somehow the `/status` page is showing them all with the same UUID. Need to fix that first.

[2020-05-26 22:13] mistermano commented on #8347
To be sure, this is not a problem with that specific page. I have tried with these other pages and the issue happened on them as well:
https://sites.uwm.edu/mdisc/forum-signup/
https://www.createaforum.com/free-forum.php

[2020-05-27 07:30] barancev commented on #8306
Closed by 373d1fc608913915d5f8c24e5bfc6c0d17471e8e

[2020-05-27 07:30] #8306 closed

[2020-05-27 07:43] diemol commented on #8232
This was closed a few days ago via https://github.com/SeleniumHQ/selenium/commit/09315448aff0a8b5686449f3647e1d795afeb451

[2020-05-27 07:43] #8232 closed

[2020-05-27 07:49] diemol commented on #8126
This was closed via https://github.com/SeleniumHQ/selenium/commit/f57378cfb1aed6eab0afb4b508c6fc0975874a72

[2020-05-27 07:49] #8126 closed

[2020-05-27 07:52] diemol commented on #6698
This is in the done column https://github.com/SeleniumHQ/selenium/projects/2, so I assume this is done.
Feel free to reopen if something is missing.

[2020-05-27 07:52] #6698 closed

[2020-05-27 07:55] diemol commented on #8125
This was closed via https://github.com/SeleniumHQ/selenium/commit/0173ece5fe7c73c978f9ca91c921abafb17dfde5 and https://github.com/SeleniumHQ/selenium/commit/b61e1701acbb12346cd485a80600da2fc6bf8194

[2020-05-27 07:55] #8125 closed

[2020-05-27 08:22] diemol commented on #7934
This was moved to "done" in the Selenium 4 [project](https://github.com/SeleniumHQ/selenium/projects/2), this commit seems to be the one that implemented it https://github.com/SeleniumHQ/selenium/commit/3e4cc2b30cd1d81104571eafcd76f1c63bc517a2

Feel free to reopen if something is still missing.

[2020-05-27 08:22] #7934 closed

[2020-05-27 08:50] diemol commented on #8021
This has been moved to "done" in the Selenium 4 [project](https://github.com/SeleniumHQ/selenium/projects/2), the work seems to be done via https://github.com/SeleniumHQ/selenium/commit/d9f7cefca4de175206bdd2b86cd1b4149b08c224

Feel free to reopen if something is missing

[2020-05-27 08:50] #8021 closed

[2020-05-27 08:55] diemol commented on #7609
This has been moved to "Done" in the Selenium 4 [project](https://github.com/SeleniumHQ/selenium/projects/2), the work was done via https://github.com/SeleniumHQ/selenium/commit/fbb253ff52dc5b1ae771688e712f0e89b29be29f

Feel free to reopen if something is still missing

[2020-05-27 08:55] #7609 closed

[2020-05-27 09:03] diemol commented on #6667
I'll close this since initial support has been added in the linked commits above, the PR discussion will be handled in the PR, and a more detailed discussion on how it will be supported can be followed at #8168

[2020-05-27 09:03] #6667 closed

[2020-05-27 09:18] diemol commented on #7531
This has been moved to "Done" in the Selenium 4 [project](https://github.com/SeleniumHQ/selenium/projects/2), I could not find the commit related to it, but feel free to reopen if something is still missing.

[2020-05-27 09:18] #7531 closed

[2020-05-27 09:25] diemol commented on #7663
Closing as this was moved to "Done" in the Selenium 4 [project](https://github.com/SeleniumHQ/selenium/projects/2), the work was done via https://github.com/SeleniumHQ/selenium/commit/21246c9ae5f48e782653a8f58d4f86798d62da61.

Feel free to reopen if something is still missing.

[2020-05-27 09:25] #7663 closed

[2020-05-27 10:22] moshe-b opened #8349 "js"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-05-27 10:22] #8349 closed

[2020-05-27 16:23] thejohnjansen commented on #6464
@lind-eduard can you elaborate what issue you are hitting?

[2020-05-27 17:05] ehsong opened #8351 "'chromedriver' executable needs to be in PATH although path defined?"
I am trying to run the code
`browser = webdriver.Chrome(exectuable_path='/home/esther_e_song/.local/lib/python3.7/site-packages/chromedriver-2.24.1.dist-info', chrome_options=chrome_options)`

but I get the following error:

[code]

I also tried moving `chromedriver-2.24.1.dist-info` to usr/bin/chromedriver, but I am getting the same issue.

[2020-05-27 17:05] #8351 closed

[2020-05-27 18:44] #8324 closed

[2020-05-27 19:23] jemishgopani opened #8352 "“Open in new tab”, this works with chrome fine on Mac. But with Safari we are unable to open the links with COMMAND+CLICK (Context menu > Open in New Tab)"
“Open in new tab”, this works with chrome fine on Mac. But with Safari we are unable to open the links with COMMAND+CLICK (Context menu > Open in New Tab)

[2020-05-27 19:23] #8352 closed

[2020-05-27 20:39] dmytrokostiuk commented on #7821
Is there a way to monkey patch locally or add the header somewhere?
I'm running into exactly the same problem

[2020-05-27 20:44] diemol commented on #7821
The next release should happen in the next couple of days.

[2020-05-27 20:46] dmytrokostiuk commented on #7821
@diemol Thank you for such a quick response.
I'm kind of tight on deadline for my project, really need to unblock this, so was wondering if there is some quick way to temporarily patch it before the next release.

[2020-05-28 00:25] gorbysbm opened #8354 "Sporadic org.openqa.selenium.WebDriverException: connection refused"
I have this setup using docker images:
1 Selenium grid hub docker image, 1 Chrome docker image, 1 Firefox docker image-- specified in docker-compose.yml
Occasionally when I try to execute a suite of tests via testNG, I will see this error in my beforeMethod setup and the rest of the test will not execute:
**Test Runner Output**`
java.lang.Exception: org.openqa.selenium.TimeoutException: connection

[2020-05-28 00:26] #8354 closed

[2020-05-28 00:39] gorbysbm opened #8355 "Sporadic org.openqa.selenium.WebDriverException: connection refused"
## 🐛 Bug Report
I have this setup using docker images:
1 Selenium grid hub docker image, 1 Chrome docker image, 1 Firefox docker image-- specified in docker-compose.yml
Occasionally when I try to execute a suite of tests via testNG, I will see this error in my beforeMethod setup and the rest of the test will not execute:
**Test Runner Output**`
java.lang.Exception: org.openqa.selenium.TimeoutExcep

[2020-05-28 00:40] gorbysbm commented on #8329
@diemol  Attempt #2 https://github.com/SeleniumHQ/selenium/issues/8355  thanks for all you guys do!

[2020-05-28 03:12] VinceSanityyy opened #8356 "Bluetooth Adapter Getting Default Adapter failed"
## 🐛 Bug Report

Bluetooth Error even if my device does have any bluetooth devices

Error Code
[code]

## To Reproduce

Detailed steps to reproduce the behavior:

Just Copy the code and run it with chrome v 83 and selenium for chrome v83

## Expected behavior

Should not close browser when running script

## Test script or set of commands reproducing this issue

Here is my sample code in testing t

[2020-05-28 06:17] seanpoulter opened #8357 "As a Firefox extension developer, I would like to install a temporary extension from a folder"
**Edit**: 2020-06-11 &ndash; ⚠️ This initial comment is not correct. I misunderstood the GeckoDriver API. I was looking at stale source code. 😓 With new knowledge and some guidance from the GeckoDriver team, I've proposed an approach to handle the "install addon" command from FirefoxDriver consistently for each language. See my [long comment](https://github.com/SeleniumHQ/selenium/issues/8357#issu

[2020-05-28 08:32] AutomatedTester commented on #8357
Please can we have a 2 separate PRs for each language. I will try get them merged ASAP

[2020-05-28 08:33] AutomatedTester commented on #8356
Please log chromedriver issues with the chromedriver project.

https://sites.google.com/a/chromium.org/chromedriver/help

Please be sure to include a completely reproducible test script for them, without a way to reproduce the issue you are seeing there is no good way for them to fix the problem. A reproducible test script includes a WebDriver script and a link to the page in question. If you can

[2020-05-28 08:33] #8356 closed

[2020-05-28 08:34] AutomatedTester commented on #8335
This is ChromeDriver spewing out browser logs. Please log chromedriver issues with the chromedriver project.

https://sites.google.com/a/chromium.org/chromedriver/help

Please be sure to include a completely reproducible test script for them, without a way to reproduce the issue you are seeing there is no good way for them to fix the problem. A reproducible test script includes a WebDriver script

[2020-05-28 08:34] #8335 closed

[2020-05-28 09:47] #7877 closed

[2020-05-28 10:22] lind-eduard commented on #6464
@thejohnjansen I'm currently stuck at point where Edge is started, but I see blank page and error:
Console:
Error: Can't connect to WebDriver.
Error: Failed to create session.
Unable to parse remote response: Unknown error

Please make sure Selenium Server (ChromeDriver or PhantomJS) is running and accessible
Selenium logs:
12:20:34.171 INFO [ActiveSessionFactory.lambda$apply$11] - Matched factory

[2020-05-28 13:50] AutomatedTester commented on #8250
The issue appears to be with how headers are forwarded on, or how Chrome handles them, when there isnt `host` header. My guess is that stdlib's from other languages probably put this in automatically and why we arent seeing it elsewhere.

[2020-05-28 14:47] AutomatedTester commented on #8250
fixed in 4723c25544d9c83bdcf0ddc39ce0fda01b3276b4

[2020-05-28 14:47] #8250 closed

[2020-05-28 16:03] #8315 closed

[2020-05-28 16:04] p0deje commented on #8320
It looks like a ChromeDriver issue according to log:

[code]

Please post ChromeDriver specific issues to [its own bug tracker](https://sites.google.com/a/chromium.org/chromedriver/help).

Closing as nothing to be fixed in Selenium.

[2020-05-28 16:04] #8320 closed

[2020-05-28 17:43] danielmeza opened #8358 "EdgeDriver can't create DevToolsSession with CreateDevToolsSession() method"
## 🐛 Bug Report

When initialize the EdgeDriver the property optionsCapabilityName is not initialize since the base constructor is never called, therefor the CreateDevToolsSession method fails with a `System.ArgumentNullException: Value cannot be null. (Parameter 'key')` exception when called
https://github.com/SeleniumHQ/selenium/blob/e6f53e893b758157c8df2eda30ebea35a1c6fb05/dotnet/src/webdriver/

[2020-05-29 07:08] bongosway commented on #8175
@barancev
Please see update here: https://github.com/bongosway/selenium/commit/5267412285e7290281cdba735df2c686da268402

[ ] Remove FindByXXX from HtmlUnit - as we have unit test failing cos of it.
[ ] Some test have become obsolete, I simply commented them out for now to get your opinion.
[x] Tested on Chrome & Firefox

[2020-05-29 10:17] PhilippSelenium opened #8359 "Attribute error when importing EventFiringWebDriver"
## 🐛 Bug Report

Attribute error on latest alpha in python bindings when importing EventFiringWebDriver

## To Reproduce

[code]

## Expected behavior

* No import error
* Unittest that catches this behavior

## Test script or set of commands reproducing this issue

See above

## Environment

OS:  any
Browser: any
Browser version: latest
Browser Driver version: any
Language Bindings version:  pyth

[2020-05-29 10:36] #7814 closed

[2020-05-29 11:20] ishanm120 opened #8360 "SafariDriver cannot be cast to org.openqa.selenium.html5.LocationContext"
Safari driver is unable to support HTML5 geolocation.

*I am using following piece of code*
Location location = new Location(arg1, arg2, arg3);
((LocationContext) webDriver).setLocation(location);

*Expected* Driver should navigate to respected Url

*Actual* Exception occurs

java.lang.ClassCastException: org.openqa.selenium.safari.SafariDriver cannot be cast to org.openqa.selenium.html5.LocationC

[2020-05-29 11:20] #8360 closed

[2020-05-29 11:23] kovalev007 commented on #7814
@shs96c can you describe why it closed? It is completed and we have commit(s)?

[2020-05-29 11:31] diemol commented on #7814
More info can be seen here:
https://github.com/SeleniumHQ/selenium/issues/8125
https://github.com/SeleniumHQ/selenium/issues/8232

[2020-05-29 11:44] ishanm120 opened #8361 "SafariDriver cannot be cast to org.openqa.selenium.html5.LocationContext"
## 🐛 Bug Report

Safari driver is unable to set Location using LocationContext

**I am using following piece of code:**
Location location = new Location(arg1, arg2, arg3);
((LocationContext) driver).setLocation(location);

**Expected:** Driver should navigate to respected page url

**Actual:** Exception occurs:

**java.lang.ClassCastException: org.openqa.selenium.safari.SafariDriver cannot be cast

[2020-05-29 12:42] AutomatedTester commented on #8359
This is from https://github.com/SeleniumHQ/selenium/commit/0dc42efd8b9bce8f81a1e5a852f24b9caf98e885

[2020-05-29 13:00] rookieInTraining commented on #8317
@AutomatedTester if the work hasn't started on this yet. I would like to contribute to this.

[2020-05-29 13:34] AutomatedTester commented on #8317
Go for it

[2020-05-29 13:52] BVisagie opened #8363 "Starting web driver as a different user (ADFS)"
## 🚀 Feature Proposal

The ability to (optionally) switch user with every initialization of the driver service.

[code]

## Motivation

Within environments that implement single sign-on solutions for their websites there is a need for the ability to sign in with multiple users into your website under test.

As an example within my business we implement a website using Active Directory Federation S

[2020-05-29 14:34] Daryl149 opened #8364 "Chrome driver not able to parse certain characters"
This returns a WebDriverException: Message: unknown error: bad inspector

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdri

[2020-05-29 14:34] #8364 closed

[2020-05-29 16:21] jimevans commented on #8363
@BVisagie The `DriverProcessStarting` event was added for exactly this scenario, though I don't remember what release it first showed up in. You could do something like the following:

[code]
If, for some reason, this doesn't appear to work, it would be interesting to know why.

[2020-05-29 16:38] BVisagie commented on #8363
@jimevans thank you very much for the reply and code example, I will definitely be testing this out over the weekend and will report back what I find!

[2020-05-30 05:38] seanpoulter commented on #8357
Will do. Thanks for the quick reply David.

[2020-05-30 06:43] xiao1272209235 opened #8368 "Using the "withTagName" method produces a "Locator must be serializable to JSON using a 'toJson' method." error"
## 🐛 Bug Report

When I intend to use the "withTagName" method to locate elements, an error such as "Locator must be serializable to JSON using a 'toJson' method." occurs.

## To Reproduce

Use the code provided below.

## Expected behavior

1. open chrome
2. locate the element whose id is su, and input "java".
3. locate the input to the left of the element with an id of su, and click.

## Test sc

[2020-05-30 10:35] alb-i986 opened #8369 "Optimization for ByChained"
## 🚀 Feature Proposal
`ByChained` could be optimized by collapsing the bys in the chain in a single by, thus saving on the findElement(s) calls: 1 instead of N.

The trick is that many Bys can be easily translated into a css selector:

- By.cssSelector -> "xxx"
- By.id -> "#xxx"
- By.name -> "[name=xxx]"
- By.tagName -> "xxx"
- By.className -> ".xxx"

If we concatenate the bys separated with a spa

[2020-05-30 10:58] tchret commented on #6644
Following

[2020-05-31 05:38] Zanga1 commented on #8000
I have the same problem

[2020-05-31 18:53] gravity-api commented on #8291
Will this help?

[code]

[2020-05-31 19:01] gravity-api commented on #8208
It seems your code is not isolated enough (you don't need locks if it is well implemented)
First use TPL to created your routine

This is just pseudo code

[code]

You can call your routine as many times as you like, no thread problems will occur, because the routine state is isolated (do not use statics on MT unless it is cancellation token or something)

Each task will open in new thread for the

[2020-05-31 22:07] diemol commented on #1320
Closing this as it has been stale for over 3.5 years, which either means it is not an issue anymore (OP found a solution or it was solved in a release) or it is not relevant anymore.

If this is still an issue, please open a new one and provide all the required information.

[2020-05-31 22:07] #1320 closed

[2020-06-01 03:49] BVisagie commented on #8363
Hi @diemol , I am encountering some errors when trying to implement this:

![image](https://user-images.githubusercontent.com/12031800/83374121-f194bf00-a3ca-11ea-9645-e252f459b49b.png)

Does not seem like `DriverProcessStarting` functionality is available through `EdgeDriverService`

![image](https://user-images.githubusercontent.com/12031800/83374317-8e575c80-a3cb-11ea-8da4-6eda544917fb.png)

I

[2020-06-01 04:31] seanpoulter opened #8375 "[javascript] Unsure how to fix the failing relative locator test"
## 🐛 Bug Report

One of the recent tests for the relative locators is failing the JavaScript build in Travis CI. Could you please confirm what the expected behaviour is and if you'd like me to attempt a fix? Perhaps the author @AutomatedTester can provide some insight.

The test is [/javascript/node/selenium-webdriver/test/lib/by_test.js#L90-L102](https://github.com/SeleniumHQ/selenium/blame/df8c0

[2020-06-01 05:07] raju249 commented on #8172
Hey @diemol

I will be working on this issue. I have setup the project locally successfully.

I have a few questions as mentioned below:

1. I looked at the codebase particularly [this directory](https://github.com/SeleniumHQ/selenium/tree/master/java/server/src/org/openqa/selenium/grid/sessionmap) and I think what we intend to do in this issue is add a support for JDBC backed session map, similar

[2020-06-01 06:22] Kakanii commented on #8289
@barancev  please find below the executable scenario.

Pre-Requisite : Setup selenium Project
1. Launch IEBrowser and go to youtube.com using selenium webdriver
driver = new org.openqa.selenium.ie.InternetExplorerDriver();
driver.get('www.youtube.com’);
driver.findElement(By.id("masthead-search-term")).sendKeys("b/27326081");
driver.findElement(By.id("search-btn")).click();
Thread.sleep(5000);
//p

[2020-06-01 06:32] BVisagie commented on #8363
@jimevans is it possible that this method is only available within Selenium 4? Found it within the release notes for version `v4.0.0a1`

[2020-06-01 08:03] sbabcoc opened #8376 "SafariDriver throws NoSuchElementException attempting to find child of element reference that's gone stale"
## 🐛 Bug Report

SCENARIO: Invoke the `findElement` method of an element reference that's gone stale
EXPECT: StaleElementReferenceException
ACTUAL: NoSuchElementException

## To Reproduce

Detailed steps to reproduce the behavior:
* Acquire a reference to an element that has children
* Refresh the browser session
* Search for a child of the element reference

With the Java code below:
* [getTagNam

[2020-06-01 08:12] shs96c commented on #8172
You're right: we're doing something analogous to the `RedisBackedSessionMap`, but instead of Redis, we'd be using JDBC.

The entry point is the method with the signature `public static SessionMap create(Config)`. You can create new classes annotated with `HasRoles` (compile with a dependency on `"//java:auto-service"` and a service file will be created automatically) and the `Main` class will add

[2020-06-01 08:16] BVisagie commented on #8363
@jimevans so I am making progress, after being forced to upgrade my project to Alpha 5 of Selenium 4. This will have consequences for my project unfortunately. But I am willing to pursue this process further as I assume there will be no further updates to pre-Selenium 4?

Currently within my code flow though (running Selenium 4) as soon as I hit the following line:

`EdgeDriverService edgeService

[2020-06-01 08:22] haqer1 opened #8377 "Javadoc pointed to should be for the same major version of Selenium as the primary code examples in documentation"
## 🐛 Bug Report

This should be consistent.

## To Reproduce

E.g.:
Javadoc is for Selenium v3: https://seleniumhq.github.io/selenium/docs/api/java/index.html
Starter code example is for Selenium v4 (& doesn't compile with v3): https://github.com/SeleniumHQ/seleniumhq.github.io/issues/448

## Expected behavior

Either both should be for v3 or both for v4.

## Environment

OS: Any
Browser: Any
Brow

[2020-06-01 09:03] BVisagie commented on #8363
@jimevans

So instead of using `CreateDefaultService()` I have tried `CreateDefaultServiceFromOptions(edgeOptions)` (with edge options containing values for  `edgeOptions.BinaryLocation`) and that seems to have worked but, now upon hitting this line:

`Driver = new EdgeDriver(edgeService, edgeOptions);`

I receive:

`Method not found: 'OpenQA.Selenium.Remote.DesiredCapabilities OpenQA.Selenium.Dri

[2020-06-01 12:03] stefano-facchini opened #8379 "Selenium throwing TimeoutException with Build info: version: 'unknown', revision: 'unknown', time: 'unknown' then loading correctly the page"
## 🐛 Bug Report

Selenium run from Burp extension

Issue is encountered using both Firefox and Chrome, both reporting TimeoutException with Build info: version: 'unknown', revision: 'unknown', time: 'unknown'. Once it is thrown, however, the page is loaded correctly.

## To Reproduce

The code executed by my button, which runs the Selenium part of code, is here https://pastebin.com/GEjfT24D

Detai

[2020-06-01 12:16] BVisagie commented on #8368
Out of interest, I was wondering due to state changes on the DOM after your send keys to `kw` have you tried re evaluating `kw` when attempting the `toRightOf` method call?

Example:

[code]

[2020-06-01 12:35] xiao1272209235 commented on #8368
@BVisagie
I don't know how to show you the changed DOM, but you can try the case at "cn.bing.com".

[code]

[2020-06-01 12:42] BVisagie commented on #8368
@xiao1272209235 try: `.toRightOf(By.id("kw")));`

[2020-06-01 12:49] BVisagie commented on #8376
Hey @sbabcoc

Just wondering if you put a breakpoint in your code after the table is successfully cast into the variable `table`, are the table row `tr` children a part of this variable object?

If so I would just raise I think there is a difference between calling:

`.getTagName()` after a page has been refreshed VS calling a `.findElement()` on the variable.

[2020-06-01 13:04] BVisagie commented on #8379
There might be a problem with the code?

Could you try double checking a couple of your values like the absolute path using a breakpoint and variable in your flow:

`String path = this.fileDriver.getAbsolutePath();`

If the value from the path variable meets your expectations I would debug and _step through_ each line of your code to see exactly where it is not happy.

Could these proxy values be

[2020-06-01 13:27] arnonax-etoro commented on #8291
The problem is that often the code that initializes the driver is the only place we know the concrete type, and then for the rest of the code we only use IWebDriver. In this case the compiler won't call the extension method you suggested and instead call the extension method in Selenium.Support which won't work...

[2020-06-01 13:37] stefano-facchini commented on #8379
Hi, thanks for the reply. I checked the file path and it is the expected one. However, if it was wrong, I suppose it wouldn't work at all, instead of timing out and load the page after that. The awkward thing is exactly this, that it DOES load the page after the exception is thrown. I also specify that it works with no problem if the Proxy is not enabled, but this way Burp cannot intercept the tra

[2020-06-01 13:52] BVisagie commented on #8379
@stefano-facchini ah I see, sorry I missed that when reading through your question quickly.

Okay well then you have identified your problem lies between the usage of a `Proxy()` and `Burp` and not the rest of your script.

Now my thoughts go somewhere else, some website have active systems in Javascript and back ends to stop automated web scraping which it might pick up and think you are trying t

[2020-06-01 14:05] stefano-facchini commented on #8379
I have commented the p.setSslProxy(---) line and tried to load the page you specified, but the result is the same.

With your page and launching Burp from cmd, those messages are shown in the cmd window

With Firefox
1591019901565   mozrunner::runner       INFO    Running command: "C:\\Program Files\\Mozilla Firefox\\firefox.exe" "-marionette" "-foreground" "-no-remote" "-profile" "C:\\Users\\Stef

[2020-06-01 14:24] BVisagie commented on #8379
@stefano-facchini have you tried launching all related apps using administrator permission? As an example even when launching Burp from cmd right click run as administrator?

Perhaps you have a network problem on that port? Perhaps run netstat command, example: https://stackoverflow.com/questions/8817500/how-to-make-sure-that-a-certain-port-is-not-occupied-by-any-other-process

Other than that sor

[2020-06-01 14:27] Trollistar opened #8380 "IllegalArgumentException thrown when using Relative Locators in alpha-6 version"
## 🐛 Bug Report

When using any Relative Locator with the alpha-6 version, I am getting the following exception **java.lang.IllegalArgumentException: Argument is of an illegal type: org.openqa.selenium.By$ByTagName** .

The code that you will find below throws the aforementioned exception in version **alpha-6**, but it works properly in alpha-5 and alpha-4.

## To Reproduce

[code]

Detailed steps

[2020-06-01 15:00] stefano-facchini commented on #8379
Yes, I confirm that even using admin privileges ends up with the same results. The port 8080 is occupied by Burp as it should be, if I am correct. I hope this issue gets some visibility since I have been stuck for weeks now and I really have no clue what to do. Thanks for you reply anyway.

[2020-06-01 15:04] teetime514 commented on #8359
The change from 0dc42ef may also reintroduce the problem fixed by 7018.  Unable to confirm due to attribute error mentioned in the bug report.

https://github.com/SeleniumHQ/selenium/pull/7018

[2020-06-01 19:27] gravity-api commented on #8291
I am not following...
The code I suggested will unbox the WrappedDriver into RemoteWebDriver assuming the underline driver is a standard selenium driver which inherit RemoteWebDriver

Than it will check if the driver found under the WrappedDriver is ITakeScreenshot and Remote. If so, will take screenshot based on the interface implemented under RemoteWebDriver.

You can change the signature to ```

[2020-06-01 21:20] sbabcoc commented on #8376
Hi, @BVisagie,

In my original code, I called each method before and after the `refresh`. Prior to refreshing the session, `getTagName` returns "table" and `findElement` returns the child "tr" element. I revised to repro code to include these happy-path method calls.

[2020-06-02 06:44] rookieInTraining commented on #8317
@AutomatedTester
Removed :
[code]

Have kept `PhantomJS` as I'm not sure whether to remove it or not according to [this](https://github.com/ariya/phantomjs/issues/15344). Also have kept`Android, Iphone and IPad` even though there aren't any usages for them.

[2020-06-02 06:53] rookieInTraining commented on #8317
My bad, there are no usages or classes for PhatomJS present now in the code. Removed it.

[2020-06-02 09:26] BVisagie commented on #8363
Alright it seems to be working using the following code, there was a dependency package being referenced for Edge driver called: `Microsoft.Edge.SeleniumTools:` which was relevant when my project was running Selenium 3 but was not required for Selenium 4 :)

[code]

[2020-06-02 09:26] #8363 closed

[2020-06-02 10:44] #8175 closed

[2020-06-02 10:59] BVisagie commented on #8368
Sorry @xiao1272209235 I was not paying attention, I sent the wrong value, meant to say use: `.toRightOf(By.id("sb_form_q")));`

[2020-06-02 12:16] pedrorubster opened #8381 "Issue with FirefoxProfiles and Selenium 4"

[2020-06-02 12:16] #8381 closed

[2020-06-02 12:45] fizzzgen opened #8382 "File not found"
https://github.com/SeleniumHQ/selenium/blob/6d9f39d695b55d9beada263c47f95357e965d028/py/selenium/webdriver/firefox/firefox_profile.py#L58

When moved to path-finding using pkgutil (like another resource loading in your project) issue disappeared.

[2020-06-02 12:45] #8382 closed

[2020-06-02 17:31] evertones commented on #7821
I still see the issue in version `4.0.0-alpha-6`. Should it be fixed in this version?

##### The message in LOGs I see on Selenium Grid
[code]

##### The messages in LOGs I see on the machine that runs the test
[code]

It happens to me when running tests from one machine against a remote Selenium Grid set up in another machine. I have both the hub and the node running in a remote machine.

I'm usi

[2020-06-03 00:17] rj-max opened #8383 "Timeouts in selenium while loading a URL"
## 💥 Regression Report
Selenium UI Timeout after 60 seconds while making a HTTP call to an internal page.
OpenQA.Selenium.Support.UI.DefaultWait`1 .ThrowTimeoutException(String exceptionMessage, Exception lastException)

This happens sporadically but has consistently been happening on one of the test servers today.

I don't believe this is an issue specific to Geckodriver or Chromedriver because w

[2020-06-03 03:25] seanpoulter commented on #8375
Hey @shs96c and @mmerrell, I'm trying to clean up the JavaScript build and have turned to your friendly/relative locator implementation in Java from last year. Do you two remember what the next steps were? Was the following error expected? Thanks!

When I run the tests from the CLI:
[code]

I get the following test results. These are the same as the Travis CI logs for [#6699.5](ci.com/github/Selen

[2020-06-03 08:17] black-snow opened #8384 "IEDriver 3.150.+ sendKeys() slow as hell"
## 🐛 Bug Report

I upgraded from IEDriver `3.14.0` to `3.150.1` (hoping to fix some weird bug) but now `sendKeys()` is slow af - it takes ~30 sec to enter a single character. Thus filling out a form takes like 10 minutes.

## To Reproduce

* Have IEDriver `3.150.1` set up with a hub and a single node (all on the same machine).
* Load any page with a form.

[code]

Get some input field and send som

[2020-06-03 08:34] black-snow commented on #8384
Reverted to `3.14.0` and it's still slow - issue seems to be somewhere else, need to investigate.

[2020-06-03 08:42] jimevans commented on #8384
@black-snow It’s almost guaranteed that the issue is a mismatch between the “bit-ness” of the driver and the instance of IE you're driving. You more than likely need the 32-bit version of the driver, even though you’re on 64-bit Windows. There are historical and [technical](http://jimevansmusic.blogspot.com/2014/09/screenshots-sendkeys-and-sixty-four.html) reasons for this, but try the 32-bit driv

[2020-06-03 08:43] black-snow commented on #8384
@jimevans thanks, that's actually what I just did and it solves the issue.

[2020-06-03 08:43] #8384 closed

[2020-06-03 13:51] shs96c commented on #7761
@amiluslu we discussed this a little on the Slack channel. Do you still need some help getting started? I'm happy to provide more information if needed.

[2020-06-03 15:03] shs96c commented on #8117
There is now a `/readyz` endpoint that conforms to the HTTP Get k8s check's requirements. It's implemented for each server. You can use this to determine whether nodes are maxed out or not.

[2020-06-03 15:03] #8117 closed

[2020-06-03 16:29] shs96c commented on #7779
We recently relaunched the website, and have had a bunch of branding and assets produced. It'd be nice if the UI reused those components where appropriate.

[2020-06-03 16:32] shs96c commented on #7779
Since the UI will ship inside the regular selenium server jar, we should endeavour to keep the size of the UI as compact as possible.

[2020-06-03 20:15] Eki23 commented on #8296
Do you have any news?

I am getting similar error, although tests are running successfully.:

C:\Python\Python36\Lib\site-packages\selenium\webdriver\remote\remote_connection.py:374: ResourceWarning: unclosed <socket.socket fd=1544, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=0, laddr=('127.0.0.1', 55013), raddr=('127.0.0.1', 54999)>
  return self._request(command_info[0], url

[2020-06-03 21:38] fonzi commented on #5765
@diemol This has no longer been an issue for myself. I updated the chrome version to latest and matched it with the WebDriver.

[2020-06-03 21:41] diemol commented on #5765
Thank you for replying!

[2020-06-03 21:41] #5765 closed

[2020-06-04 09:38] raju249 commented on #8164
@diemol - Which library are we talking here about? 🤔

[2020-06-04 11:45] shucon commented on #8020
Working on this.
cc @AutomatedTester

[2020-06-04 15:27] lind-eduard commented on #6464
@thejohnjansen Thanks for help. I found out how to set everything up

[2020-06-04 17:27] avarghese-snaplogic opened #8388 "page timeout"
## 💬 Questions and Help

## Note: You didn't choose a template in the previous step, therefore this will be treated as a "Questions / Help" one.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_

[2020-06-04 17:27] #8388 closed

[2020-06-05 03:22] seanpoulter commented on #8380
I've started working with the repo and found the JavaScript and Java builds fail the same way.

See #8375.

[2020-06-05 10:19] bongosway commented on #8176
Setting Loglevel to ChromeDriverLogLevel.OFF will print:
[code]
Are you suggesting no console logs at all except when flags like e.g. --stacktrace, --debug etc are used?

Setting Loglevel to ChromeDriverLogLevel.INFO will print:
[code]

[2020-06-05 10:47] #8172 closed

[2020-06-05 12:43] cybermicheal47 opened #8391 "Python: Proxy with authentication does not work"
According to your documentation  , I have tried the code & it doesn't work . Please is there a solution to it

[2020-06-05 12:43] #8391 closed

[2020-06-05 13:16] symphonicon commented on #8217
I am also getting this error when test tries to open URL that does not respond for 1 minute

[2020-06-06 09:48] aditya123456 opened #8393 "zoom out doesn't work using keys."
I have tried some combination of the keys but it's doesn't work on mac and windows.
Please find the code
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

webdriver = webdriver.Chrome()
webdriver.get("https://google.com")
el = webdriver.find_element_by_tag_name('html')
el.send_keys(Keys.COMMAND+'+')
el.s

[2020-06-06 09:48] #8393 closed

[2020-06-06 15:11] seanpoulter commented on #8368
If it helps, the test cases should document the intended usage. They are found in [java/client/test/org/openqa/selenium/support/locators/RelativeLocatorTest.java](https://github.com/SeleniumHQ/selenium/blob/6e8cb5b9bb20dbc8b25ea6ec818677b97385c35a/java/client/test/org/openqa/selenium/support/locators/RelativeLocatorTest.java#L33). Those two tests are failing in the TravisCI build.

I've also found

[2020-06-06 18:10] stefano-facchini opened #8394 "Selenium not setting HTTPS proxy"
## 🐛 Bug Report

The proxy running on localhost:8080 cannot intercept the traffic generated by Selenium. Instead, if I browse manually, the proxy is able to intercept the traffic with no issuse.

-->

## To Reproduce

I tried setting the proxy both with the org.openqa.selenium.Proxy object, setting Proxy.setHttpProxy() and Proxy.setSslProxy()

`WebDriver driver;

Proxy proxy = new Proxy();
proxy.s

[2020-06-07 04:18] seanpoulter opened #8395 "[Ruby] What version range is supported?"
## 🐛 Bug Report

## To Reproduce

Read the docs, and one issue.

| Version | URL |
|-|-|
| 2.0 through 2.2 | https://github.com/SeleniumHQ/selenium/tree/master/rb |
| 2.0 through 2.2 | https://www.selenium.dev/selenium/docs/api/rb/index.html |
| >= 2.3 | https://rubygems.org/gems/selenium-webdriver |
| 2.1 through 2.4 | https://github.com/SeleniumHQ/selenium/wiki/Ruby-Bindings |
| 2.5 | https://gi

[2020-06-07 04:19] seanpoulter commented on #8315
Sorry to revive an old issue but is Ruby 2.7.x supported? The docs say otherwise. I've tried to summarize what versions I've found in #8395. It's a bit of a mess.

[2020-06-07 15:20] navidemad commented on #8315
I am using 2.7.1, everything seems to be working for me at least @seanpoulter

[2020-06-07 17:45] seanpoulter commented on #8315
Thanks Navid. I'll update the issue. 👍

[2020-06-07 19:10] aditya123456 opened #8397 "zoom out is not working in selenium."
I tried to zoom out in selenium using different key combination but it's not working at. Any idea?
I tried below options
OS:mac
Browser :Chrome(83)
ChromeDriver: 83
Selenium: 4
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time
webdriver = webdriver.Chrome()

webdriver.get("https://google.com")
# el = webdriver.find_element_

[2020-06-07 19:10] #8397 closed

[2020-06-08 05:58] seanpoulter commented on #8394
**Hypothesis**
The browser doesn't accept the Burp Suite HTTPS certificates.

**Expected Behaviour**
When you navigate to an HTTPS page with the HTTPS proxy enabled, you'll probably see a certificate error in the browser. In Chrome, if you click on "Not Secure" in the address bar you can inspect the certificate and confirm it's the certificate from Burp Suite. The proxy is working, but it doesn't

[2020-06-08 10:31] stefano-facchini commented on #8394
Hi, thanks for the reply. This is not my case sadly, because it doesn't even show the certificate error. This is the screen shown when I comment the driver.quit() line, avoiding the browser to be closed.

![Immagine](https://user-images.githubusercontent.com/45600880/84020321-ee797000-a982-11ea-8af0-c67d81768a9d.png)

The certificate, as you can see, is not even shown in the Not Secure window. But

[2020-06-08 11:45] MagnusJmeter opened #8400 "ERROR o.a.j.t.JMeterThread: Test failed! org.openqa.selenium.WebDriverException: Timed out waiting for driver server to start"
Hi I'm using chromedriverVersion: 83.0.4103.39 and Chrome version =83.0.4103.97  for performance execution on Jmeter , but after few hours of test I'm getting "**ERROR o.a.j.t.JMeterThread: Test failed! org.openqa.selenium.WebDriverException: Timed out waiting for driver server to start**" .

2020-06-05 14:42:53,966 INFO o.a.j.t.JMeterThread: Thread finished: 111.10.10.79:1099-SCENARIO1 4-2
2020-0

[2020-06-08 11:45] #8400 closed

[2020-06-08 14:55] Dude-X commented on #8359
@teetime514 try alpha 6 post 2 and let me know if you have problems.

[2020-06-08 18:23] tzah4748 opened #8402 "LoggingPreferences not working as expected."
## 🐛 Bug Report
JAVA
LoggingPreferences is not working on selenium-server 3.141.59 but works on 4.0.0-alpha-2.

## To Reproduce
1. Create a standalone selenium server.
2. Create ChromeOptions and add the LOGGING_PREFS Capability with DRIVER (or any other type of log) enabled with Level.ALL.
3. Do something with the driver and check for any logs coming from the driver via driver.manage().logs()

##

[2020-06-09 02:04] fabianhick commented on #5299
I encountered another issue when setting the socks version on the Proxy object:
`Caused by: java.lang.ClassCastException: class java.lang.Long cannot be cast to class java.lang.Integer (java.lang.Long and java.lang.Integer are in module java.base of loader 'bootstrap')`

[2020-06-09 03:58] seanpoulter commented on #8394
Hrm. How interesting! We can scratch that off the list of possible causes. Your code looks OK too if you're trusting the certificate.

I'm curious. 🤓  What does Burp Suite look like when the browser hangs like that? Are the network requests intercepted by the Burp Suite proxy and blocked until you decide what to do with them? Here's an example of what I mean:

**Firefox**
![Selenium Java Firefox B

[2020-06-09 10:41] stefano-facchini commented on #8394
I added the insecure certificate lines to the code anyway, to avoid issues.
During my tests the Proxy intercept is off, so the selenium requests are not stopped by Burp. However, If I turn it on, no requests are shown until Selenium times out. Also, Burp GUI is frozen while Selenium tries to load the page, so I cannot switch the view from my extension to the Proxy one.  I assume there are no pendi

[2020-06-09 12:02] dontbesatisfied opened #8404 "[Python] How to escape fileupload modal?"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [SeleniumHQ IRC channel](https://webchat.freenode.net/)
- [SeleniumHQ Slack channel](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0ZjdjYjFhMjVlMjFkZWJmNDYyMmU1OTYyM2Y)
- The

[2020-06-09 12:02] #8404 closed

[2020-06-09 12:07] dontbesatisfied opened #8405 "How to escpae file upload modal?"
#8404

[2020-06-09 12:07] #8405 closed

[2020-06-09 14:45] molina-henrique opened #8406 "Download in mode headless not is working"
When I need to do several downloads for example 5 pdfs (sequencial).
In --headless It's working only at 1st download ,the others no happenned nothing.
If test with browser opened, works very well.

Configuration with headless
[code]
In --headless It's working only at 1st download:

[code]

## Environment

OS: Windows 10 Pro
Browser: Chrome
Browser version: 83.0.4103.97 64 bits
Browser Driver versi

[2020-06-09 14:45] #8406 closed

[2020-06-09 15:05] sasha-adb commented on #8296
My Selenium bindings are Version `3.141.0`.

[2020-06-09 15:18] CRYPTO-7CA opened #8407 "Firefox WebDriver start is very slow"
## 🐛 Bug Report

The part of "webdriver.Firefox" command takes very long time to start (1 whole minute or so) whereas Chrome starts pretty much instantly.

## To Reproduce

I provided a minimalistic Python code, which alone is enough to reproduce the problem (scroll down to the "Test script" section for reference). This problem was encountered on 2 separate machines (each being a different user).

[2020-06-09 15:29] AutomatedTester commented on #8407
I have tried to create the issue and can't. I tweaked the script slightly

[code]

and get
[code]

Could you investigate where the slowdown could be?

[2020-06-09 15:41] CRYPTO-7CA commented on #8407
Hello  AutomatedTester

Thanks for the swift response.
I have just tested your tweaked script on my end and I see, that it now takes 5-6 seconds now, which is a huge improvement. Looks like we got a false positive on a bug report here.

[code]

I noticed, that the biggest difference is in this one code `webdriver_instance_1 = webdriver.Firefox()`
where the path to the geckodriver is absent. Initia

[2020-06-09 15:41] #8407 closed

[2020-06-09 16:52] aravindtv opened #8409 "Unable to instantiate firefox on selenium grid"
## 🐛 Bug Report

## Detailed Description

We have selenium grid setup with HUB and NODES architecture. Architecture includes 1 HUB machine and 10 Node machines all are running on Windows 7. Each node is provisioned with 5 instances of chrome and Firefox web drivers. When i target my selenium tests to selenium grid remotely  choosing chrome as the browser, am able to instantiate the chrome web driv

[2020-06-09 22:18] harshkahlon commented on #7568
How did you resolve the issue ?

[2020-06-10 06:55] rhpijnacker commented on #7521
It's been a while since this was first identified.
Any update on this?

[2020-06-11 01:02] mattbrictson opened #8413 "Ruby: sporadic "stream closed in another thread" IOError"
## 🐛 Bug Report

We are using selenium-webdriver to test a Rails 6 application using capybara and rspec. The tests will sporadically fail with the following error:

[code]

Judging by the backtrace and the port number, I am assuming this is selenium-webdriver failing to communicate with chromedriver.

Backtrace:

[code]

## To Reproduce

Unfortunately I have not been able to consistently reproduce