[2022-10-29 18:50] bhecquet commented on #9708
@ccarmannt : you can look at my custom grid: https://github.com/bhecquet/seleniumRobot-grid/tree/selenium4
Especially
- for servlets on node: https://github.com/bhecquet/seleniumRobot-grid/blob/selenium4/src/main/java/com/infotel/seleniumrobot/grid/node/SeleniumRobotNodeFactory.java
- for servlets on hub/router: https://github.com/bhecquet/seleniumRobot-grid/blob/selenium4/src/main/java/com/infote

[2022-10-30 02:47] Sauravpersonal08 opened #11196 "[🐛 Bug]: Selenium grid keeps on loading in the UI while created through docker"
### What happened?

docker pull selenium/hub
docker pull selenium/node-chrome-debug
docker pull selenium/node-firefox-debug
docker network create mynetworkselenium

Hub
docker run -d -p 4445:4444 --net mynetworkselenium --name seleniumHub selenium/hub
docker run -d -p 4446:5900 --net mynetworkselenium -e HUB_HOST=seleniumHub --name chromeNode selenium/node-chrome-debug
docker run -d -p 4447:5900 -

[2022-10-30 07:23] diemol commented on #11196
`debug` containers are not working for Selenium 4. The new images have everything you need, please follow the instructions at https://github.com/SeleniumHQ/docker-selenium#hub-and-nodes

[2022-10-30 07:23] #11196 closed, assigned to nobody

[2022-10-30 07:30] diemol commented on #11194
I am not really understanding what you mean. Is it to add a JS script that executes in the browser?

[2022-10-30 07:36] diemol commented on #11036
Thanks for the feedback. Closing this issue.

[2022-10-30 07:36] #11036 closed, assigned to nobody

[2022-10-30 11:13] derRichter commented on #11186
maybe is also a problem with the redirects of this site https://meine.santander.de/olb
https://www.whatsmydns.net/redirect-checker?q=https%3A%2F%2Fmeine.santander.de%2Folb

[little.tester new-headless.zip](https://github.com/SeleniumHQ/selenium/files/9895667/little.tester.new-headless.zip)

[2022-10-30 13:39] MiyamuraMiyako commented on #11194
@diemol It's similar to cefsharp or electron, browser can execute c# or nodejs code.

[2022-10-30 13:40] MiyamuraMiyako commented on #11194
@diemol   It's similar to cefsharp or electron, browser can execute c# or nodejs code.

[2022-10-30 13:44] diemol commented on #11194
Can you share a link or an example to understand better?

[2022-10-30 13:51] titusfortner commented on #11193
then apparently the project directory is not accessible to the user executing the tests.

Please read the documentation on 3 options for installing the drivers - https://www.selenium.dev/documentation/webdriver/getting_started/install_drivers/.

[2022-10-30 14:08] titusfortner commented on #11186
For the old headless mode, Google removed a bunch of extra functionality to speed things up for users needing to test basic browser faster.

The "new" headless mode is the full browser just not being displayed. If it is working for one and not the other, it's like a problem with something Chrome removed to speed up headless.

If you're still seeing the error when not headless then that's not the i

[2022-10-30 14:08] #11186 closed, assigned to nobody

[2022-10-30 14:08] MiyamuraMiyako commented on #11194
example:
https://stackoverflow.com/questions/51259813/call-c-sharp-function-from-javascript-using-cefsharp-in-windows-form-app

or

https://www.c-sharpcorner.com/article/communication-between-winforms-application-and-web-application-using-cefsharp-br/

[2022-10-30 14:21] spy653 commented on #11193
[code]

problem persists

log:
[code]

error seen when navigating to `localhost:45465`
[code]

[2022-10-31 08:54] #11177 closed, assigned to nobody

[2022-10-31 09:19] diemol commented on #11194
Thanks for sharing the links. That is out of the scope of this project. In the upcoming standard https://github.com/w3c/webdriver-bidi, there will be a way to register a JS function from the C# code (and other languages as well), but not the other way around.

[2022-10-31 09:19] #11194 closed, assigned to nobody

[2022-10-31 09:47] chik145 opened #11199 "[🐛 Bug]: Perform() function from actions throwing bellow exception in docker but working fine on local system"
### What happened?

I am trying to perform an horizontal scroll by using bellow code

 WebElement element = wait.until(presenceOfElementLocated(By.cssSelector("div[ref = \"eCenterViewport\"]")));
 actions.scrollFromOrigin(WheelInput.ScrollOrigin.fromElement(element), 500, 0).build().perform();

working fine while executing on local system, but getting bellow exception in docker system (Grid Consol

[2022-10-31 09:55] diemol commented on #11129
Can you share a way to reproduce the issue?

[2022-10-31 10:22] diemol commented on #10928
I am going to close this since we did not get much more feedback.

[2022-10-31 10:22] #10928 closed, assigned to nobody

[2022-10-31 10:36] sbakharev commented on #11129
@diemol

You've asked this, I've answered that the working example is https://www.yahoo.com/ . Ok, I've also inserted yahoo.com into the reproduction section of the first post.

What else do I need to do for you to finally see that all the reproduction information is in place? :)

[2022-10-31 11:58] pujagani commented on #11031
Thank you for sharing the details.
"I need to connect to our selenium grid over a secure connection (https). I couldnt figure out a way to do it with the functions that selenium delivers so i decided to use Apaches httpd as an reverse proxy." - Have you tried running the commands https://www.selenium.dev/documentation/grid/configuration/help/#security and using the instructions to set up a secure

[2022-10-31 13:38] ccarmannt commented on #9708
@bhecquet : thanks for this. Much appreciated.

[2022-10-31 17:46] adambonsu opened #11200 "[🐛 Bug]: Ruby - Local Client - 5 second delay between session calls - Net::ReadTimeout: Net::ReadTimeout with #<TCPSocket:(closed)>"
### What happened?

Using Ruby Binding for chromedriver (Local Client), navigate to a url ('https://google.com'), wait 5 seconds, then attempt to navigate to a different url ('https://example.com) => Net::ReadTimeout error

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

macOS Monterey version 12.5

### Selenium version

Ruby 4.5.0

### What are

[2022-10-31 17:48] titusfortner commented on #11199
I think you need at least Chrome 86, and probably Grid >= 4.2 for this functionality to work correctly.

[2022-10-31 17:48] #11199 closed, assigned to nobody

[2022-10-31 17:50] titusfortner commented on #11129
Does it work non-headless?
What if you use `--headless=chrome`?

[2022-10-31 18:07] titusfortner commented on #11129
Never mind, I can reproduce this error without headless.

The only example code I have for this use case uses `await`:
https://github.com/SeleniumHQ/selenium/blob/selenium-4.6.0/dotnet/CHANGELOG#L222-L229

We're going to be working on the BiDi specification as it is being developed, and we are unlikely to prioritize fixing Chrome DevTools Protocol functionality explicitly. I'd recommend posting on

[2022-10-31 18:20] titusfortner commented on #11200
This looks like chromedriver stops working for some reason. You can try to get chromedriver logs to see if there is more info:

[code]

Selenium is sending the correct commands to the driver, so if there is a problem it will need to be reported to Google.

[2022-10-31 18:20] #11200 closed, assigned to nobody

[2022-10-31 19:28] sbakharev commented on #11129
@titusfortner, thanks for joining in.

I've tried this way, makes no difference.

From my point of view it almost definitely looks like a misimplementation of CDP in Selenium. I hoped that fixing this would be trivial for someone who knows the internals well. But ok, if I'll have some free time one day, I'll give it a try. I've anyway rolled back all usages of `Network` from my tests because of th

[2022-10-31 20:52] 0xvasanth commented on #11132
Hi @stevepryde, I am very much interested to work in this feature can you create the plan and roadmap? will help you out on that. we can connect using slack

[2022-11-01 09:00] #10632 closed, assigned to nobody

[2022-11-01 10:32] #11153 closed, assigned to nobody

[2022-11-01 11:50] andos561 opened #11203 "[🐛 Bug]: goog:chromeOptions are not heralded in RemoteWebDriver"
### What happened?

I'm using this code to set the Browser language. It works in ChromeDriver but not in RemoteWebDriver. In RemoteWebDriver the intl.accept_languages preference is ignored.

[code]

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

Java 4.5.2

### What are the browser(s) and version(s) where you se

[2022-11-01 15:51] titusfortner opened #11204 "[🚀 Feature]: Compress Selenium Manager Binaries"
### Feature and motivation

I think the packages themselves get compressed, so I'm not sure if it would benefit us to zip the binaries and unzip in code, or not.

Might be worth checking to see what difference it makes before adding the extra code.

### Usage example

Transparent to the user; everything that was done in 4.6 would still work, just when we call the equivalent `getBinary()` method, i

[2022-11-02 07:43] b-rogowski commented on #9528
Yes, I tried out the newest grid version using docker. It's still pretty unstable - after a certain time, the Chrome nodes stop reacting and then that appears to take down the whole grid, with timeouts and weird error messages. Unfortunately, I haven't been able to get a minimal version to properly recreate this. I have found that restarting Chrome nodes by hand when they get a timeout keeps the e

[2022-11-02 09:23] VictorYakushenko opened #11207 "[🐛 Bug]: Selenium .net test run stops when using DevTool"
### What happened?

Selenium .net test run aborted when using DevTool for monitoring.
This bug is reproduced for NetworkRequestSent and NetworkResponseReceived.
After this bug happens even TearDown is not executed, looks like stackoverflow.

To reproduce this bug you need
- .Net project with Selenium, Chromedriver and Nunit only
- StartMonitoring
- Navigate one or few times to https://www.youtube.

[2022-11-02 09:48] erik-rnbt commented on #11031
I tried setting up a secure grid to get rid of the dependency on Apache, but I'm getting an error:
[code]

For running the Hub i use:
[code]

I tried different selfsigned certificates (.pem, .crt, .cer) which i created with openssl
`openssl req -x509 -newkey rsa:4096 -nodes -keyout key.pem -out cert.pem -sha256 -days 365`

[2022-11-02 10:10] diemol commented on #11031
You need to mount the file to the container, otherwise it won't be able to read it.

[2022-11-02 10:12] diemol commented on #9528
@b-rogowski that could be anything and not exactly this issue. Looking forward to hear from your analysis.

[2022-11-02 10:20] andreyDavid opened #11208 "[🐛 Bug]: unable to store data in chrome local storage"
### What happened?

After my chrome got updated to version 107 i can't store any data in local storage of chrome using selenium - getting timeout - Timeout waiting for response on 113

a simple example code is provided.

I use a mac with m1 pro processor

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

macOS Monterey - version 12.6.1

### Seleniu

[2022-11-02 10:27] diemol commented on #11208
If this happens after the upgrade, it is most likely a Chrome bug.

[2022-11-02 10:27] #11208 closed, assigned to nobody

[2022-11-02 10:28] JulienBreton commented on #9528
@diemol I did not encounter the problems (java.util.concurrent.TimeoutException and java.net.http.HttpTimeoutException) during my last tests. I wait 4.6.0 to confirm that it's ok because currently my tests are interfered with "Unable to parse" or "Failed to decode request as JSON".

[2022-11-02 10:33] b-rogowski commented on #9528
It seems that starting all the nodes in headless mode and then specifying that as an option in the test browser as well fixes our problem. Maybe anyone else who gets weird Chrome crashes could try that as a fix.
Actually, it is awesome to see the stability and speed I was so used to seeing in a grid running on 4.0-rc3 in a current version 😄 try running your grid tests headless, people, even after

[2022-11-02 12:37] erik-rnbt commented on #11031
Thanks for the info. I tried mounting it to the container with:
[code]

I checked that the files are in the container. But I still get the same error.

Do you need a specific cert/key file?

[2022-11-02 12:42] diemol commented on #11031
You need to put the whole path here `--https-certificate cert.cer --https-private-key key.pem`

[2022-11-02 12:58] erik-rnbt commented on #11031
You mean change this line
`-e SE_OPTS="--https-certificate cert.cer --https-private-key key.pem" \`
to
`-e SE_OPTS="--https-certificate /cert.cer --https-private-key /key.pem" \`
?

This also wont work. But thats where the files are, arent they?

[2022-11-02 12:59] diemol commented on #11031
What is the error? Have you checked inside the container if the files are actually there?

[2022-11-02 13:02] evertones commented on #9528
@diemol : I can't see the `TimeoutException` anymore, after moving to the new Java HTTP Client.
I face issues now related to unable to parse, as mentioned by @JulienBreton, but there is the issue [#10489](https://github.com/SeleniumHQ/selenium/issues/10489) already addressing that.

Thank you.

[2022-11-02 13:20] erik-rnbt commented on #11031
This is the error
[code]

The files are there. I looked into the container with:
`docker exec fd1b89292c5f ls`

[2022-11-02 13:24] diemol commented on #11031
Maybe the files are corrupted or do not work. Why don't you try them locally first and then in the image?

[2022-11-02 14:00] diemol commented on #11203
I know that all all options are not shown in the response, but that does not mean the Grid does not honor the preferences set.

I just tried

[code]

and the browser shows the content in Spanish

Can you share a complete code snippet that reproduces what you are saying?

[2022-11-02 15:38] andos561 commented on #11203
Hi, thanks for looking into this.
This code reproduces the issue:

[code]

[2022-11-02 15:46] diemol commented on #11203
This piece of code

[code]

is not really doing much because it is not setting any browser. So, when you do

[code]

The Grid gets both alternatives and picks the first one (most of the time), and matches it in any way it can. In my case it opened Safari, but probably it opened Chrome for you without the setting. Please remove that piece of code and it will work. For example:

[code]

[2022-11-02 15:46] #11203 closed, assigned to nobody

[2022-11-02 15:59] titusfortner opened #11209 "[🚀 Feature]: Better Browser Version Caching"
### Feature and motivation

## TL/DR on current Browser Version Caching:
* Is only done by one driver manager
* Provides very little benefit
* Can cause failures
* Can cause confusion

## Recommendation:
* Keep driver version caching and driver caching and remove default browser version caching.
* Allow users (and bindings) to "opt-in" to browser caching if they feel it's important.

## Cost vs Be

[2022-11-02 16:17] titusfortner opened #11210 "[🚀 Feature]: Selenium Manager IE Driver Support"
### Feature and motivation

Allow Selenium Manager to automatically download the latest version of IE Driver from Selenium Github releases

### Usage example

driver = Selenium::WebDriver.for :ie

[2022-11-02 16:22] ApexK commented on #9528
The issue definitely still exists with selenium v4.5.0 jdk http client and docker selenium 4.5.0 hub.

The exception now shows as
java.net.http.HttpTimeoutException: request timed out.

Also, probably a good idea to not discuss other issues on this thread.

[2022-11-02 16:25] titusfortner commented on #11207
This is at least the same reproduction case for the issue in #11129 so fixing one will fix both; we can track there.

Also of note - we'd welcome any implementation suggestions or Pull requests, but the current code is a temporary solution while we work on getting the WebDriver BiDi protocol implemented.

[2022-11-02 16:25] #11207 closed, assigned to nobody

[2022-11-02 16:30] diemol commented on #9528
@ApexK  docker selenium 4.5.0 hub is not using the new Java 11 HTTP client, this is only available in 4.5.3, which is why you might be bumping still into the issue.

Can you use 4.5.3 and let us know?

[2022-11-02 17:36] titusfortner opened #11211 "[🚀 Feature]: Implement download tracking in selenium manager"
### Feature and motivation

The idea is to get basic usage information about who is using Selenium Manager.

We could create a basic page on `https://www.selenium.dev/selenium/manager`. The Selenium Manager would route all requests for downloads through that page.

Something like:
[code]

Which would redirect and return the correct file, but would allow us to see what language/os/browser/browser v

[2022-11-02 19:38] titusfortner opened #11212 "[🐛 Bug]: Rust definitions prevent Bazel on Windows"
### What happened?

The Rust definitions appear to assume that they will only be used on Linux or Mac.

Because they are in `selenium/WORKSPACE` they are always loaded even when not being used.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 11

### Selenium version

Trunk

### What are the browser(s) and version(s) where you see this is

[2022-11-02 23:27] AutomatedTester commented on #11212
grid builds the java client which builds `Selenium-mananger` does it not?

[2022-11-02 23:57] titusfortner opened #11214 "[🚀 Feature]: Implement Selenium Manager .NET non-windows"
### Feature and motivation

.NET Framework did not differentiate between Linux & Mac, so there is no good way to ensure the right selenium-manager is used in .NET.

It's theoretically possible to use methods like:
[code]
with:
[code]

But we'd have to restrict it to .NET Framework 4.71+
https://learn.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation?view=net-6.0#appl

[2022-11-03 00:12] titusfortner commented on #11212
No, selenium manager is currently only built "manually" (https://github.com/SeleniumHQ/selenium/actions/workflows/build-selenium-manager.yml) and the assets are downloaded and stored in the repo.

[2022-11-03 09:05] YevgeniyShunevych commented on #11214
Let me help you a bit, @titusfortner. You can use C# preprocessor directives for that.

[code]

As .NET Framework (4.0-4.8) supports only Windows, you just reference a Windows version of Selenium Manager, without OS conditions. For other .NET editions use OS conditions.

Additionally `using System.Runtime.InteropServices;` is not needed for .NET Framework and optionally, if you want, can be wrappe

[2022-11-03 11:58] bobylevm opened #11216 "[🐛 Bug]: NetworkAuthenticationHandler invokes unhandled exception when used with domain authentication"
### What happened?

We use NetworkAuthenticationHandler to perform domain authentication on corporate site. To reproduce the issue you need a default IIS site at your network with windows domain authentication.
Unhandled exception is thrown after driver.Quit():
System.InvalidOperationException
  HResult=0x80131509
  Message=A command response was not received: Fetch.getResponseBody
  Source=WebDri

[2022-11-03 14:17] erik-rnbt commented on #11031
The files were currupted. I created a new cert and key file with:
[code]
I tested both and they work now. But i still get the same error if i mount these files to the container. I even tried --mount instead of -v.

[2022-11-03 14:41] titusfortner commented on #11216
Did this used to work and now no longer does? does it work in another context but not this one? We've gotten a few issues reported recently surrounding `driver.Manage().Network.StartMonitoring().Wait();` and I'm not sure if that's coincidence for something that has never worked properly or if something changed.

[2022-11-03 17:01] stevecj commented on #11076
Update: I have been swamped with other stuff. I still intend to look into making a PR for this soon.

[2022-11-03 21:12] titusfortner commented on #11214
It works! Thank you!

[2022-11-03 21:12] #11214 closed, assigned to nobody

[2022-11-03 21:14] titusfortner commented on #11216
I think this is another one to merge with #11129 though. At least I expect the resolution is the same for it.

[2022-11-04 02:09] SylvanLiu opened #11219 "[🐛 Bug]: unknown error: net::ERR_CONNECTION_CLOSED probably related to macOS Ventura 13.0"
### What happened?

To whom it will concern:

This is a very simple code snippet of a headless driver.get(url) request.
And the unchanged code runs into such trouble since I've updated my macbook from [macOS Monterey 12.6] to [macOS Ventura 13.0] yesterday, for now this can be reproduced regardless of which router or ip I use.

### How can we reproduce the issue?

[code]

### Relevant log output

[2022-11-04 04:01] adirzoari opened #11220 "[🐛 Bug]: signing to google cloud platform with selenium shows network issues"
### What happened?

I'm using selenium (4.5.0) & selenium wire (5.1.0) in my project. I'm writing flows to log in google cloud portals..

I enter my google cloud mail then, press on continue in Google sign in and then it log in to gcp.

I got some errors:

![Screen Shot 2022-11-03 at 18 11 29](https://user-images.githubusercontent.com/20258998/199895838-f35f9f57-8e8e-44e1-addf-2865c4849196.jpg)

!

[2022-11-04 05:01] pujagani commented on #11031
Thank you @ehesognp for trying it out locally. If you were successful in setting up locally, does the Grid still crash? Did you get a chance to see if something seems off with the Grid?
Regarding using it with docker, @diemol is the best person to help :)

[2022-11-04 05:19] pujagani commented on #11219
@TamsilAmani Since you recently updated to macOS Ventura, can you help check if you see the same behavior?
@SylvanLiu Does it only happen with ChromeDriver 107 version or any version? Is the same for geckodriver and edgedriver?
Trying to understand if the error is a combination of OS and WebDriver.

[2022-11-04 05:23] pujagani commented on #11216
I think the issue seems same as https://github.com/SeleniumHQ/selenium/issues/10564.

[2022-11-04 05:24] pujagani commented on #10564
@bobylevm Thank you for the details. I tried to reproduce using the code snippet shared in https://github.com/SeleniumHQ/selenium/issues/10564#issuecomment-1291912634. The issue is intermittent and occurred once in multiple runs. I am yet to try out https://github.com/SeleniumHQ/selenium/issues/10564#issuecomment-1294947327 to see if it can be reproduced consistently. I have added it to my work qu

[2022-11-04 05:36] pujagani commented on #11083
[code]
To add to this, similar errors in terms of showing loading state and Grid being stuck were fixed thanks to Diego's work https://github.com/SeleniumHQ/selenium/commit/f569d7f6b1f2a35ea41d9604cdc69dbbd5f58485 . The cause of the error was different but it caused the "loading.." state of the GridUI. The changes will be available as part of the release. I am hoping the fix helps for this scenari

[2022-11-04 07:09] erik-rnbt commented on #11031
The hub still shows me the error when i try to start it with the cert and key. I just made sure i have a valid certificate and key. They both work, but i cant use them for the grid.

I mounted them to the container with -v and --mount. With both ways they are inside the container but the Hub shows me
`Cannot read the certificate file: /cert.cer`

Im sure @diemol can help, like he did in the past w

[2022-11-04 07:35] SylvanLiu commented on #11219
As the newest version of the chrome for macOS seems to be 107.0.5304.62 ,which is the one I produced this bug.
Then I  close the version checking, downgrade my local chrome and have tried the history Version 106.0.5249.91 (Official Build) (arm64), also the 105.0.5195.127.
The bug seems the same has shown (content has been attached at the tail).
As my dev env and code are not changed recently, and

[2022-11-04 09:05] pujagani commented on #11219
Appreciate the quick response. Thank you! I have requested Tamsil to take a look since he recently upgraded to Mac and helps in triaging Selenium issues.

[2022-11-04 09:56] #11220 closed, assigned to nobody

[2022-11-04 09:57] diemol commented on #11220
Most likely the site has some control against automated scripts. There is not much we can do, but probably you can reach out to them to figure out a way to automate those flows.

[2022-11-04 13:56] romovs commented on #10600
Seems like #11079 has fixed the problem. We are not experiencing the issue anymore after upgrade to v4.6.

[2022-11-04 16:35] TamsilAmani commented on #11219
Hello, I tried to debug this issue with the following configuration:
[code]

I encountered no issue with the following code:
[code]
Can you check it once with a different ISP? If possible create a hotspot with your mobile data and run the same code on that. Let me know the result. @SylvanLiu

[2022-11-04 18:42] ctimpany opened #11221 "[🐛 Bug]: ChromeDriver producing NoSuchWindowException for v106+ on macOS"
### What happened?

After an auto update to chrome v106 and it's corresponding driver, whenever we (at least 3 of us have reproduced the issue) try to run our selenium python tests on our mac development machines we get a NoSuchWindowException for tests longer than a few seconds. (Don't know the exact cutoff time, but provided an example below)
This was the same both before and after upgrading to

[2022-11-04 19:26] mhnaeem opened #11222 "[🐛 Bug]: SE_DRAIN_AFTER_SESSION_COUNT drains node before session completes"
### What happened?

**Problem:**
My chrome nodes drain before my session completes, I am running my tasks on AWS ECS as standalone. The hub is run using this image `selenium/hub:4.5.3`. I am passing the variable `SE_DRAIN_AFTER_SESSION_COUNT` to set drain count.

Using JUnit if that counts

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

Some salvagable logs from hub:

[2022-11-04 19:33] diemol commented on #11222
`18:35:17.820 INFO [LocalNode.lambda$new$3] - Session id 8cded5ef9d9b2bf434f4959876037ea1 timed out, stopping...`

The session is timing out because it is not getting any more commands, after that draining works as expected.

[2022-11-04 19:33] #11222 closed, assigned to nobody

[2022-11-04 21:00] symonk commented on #11221
I cannot recreate it on `107` on my end, any more info/context?  Best i can get is `ElementNotInteractable` as the cookies popup appears by default on a fresh session, handling that it works as I'd expect on `4.5.0` & `4.6.0`, I'm leaning towads an issue with chrome over selenium but if you have any more info please share and i'll take a look as best as possible.

[2022-11-04 21:33] ctimpany commented on #11221
@symonk thanks for the quick response.
Unfortunately this is all the information we have so far. We did find it strange that no one else seemed to be talking about the issue, but it definitely is impacting all of us on our team who run selenium/chrome.

What device did you test on? We have only been able to reproduce when running on macOS.

These are my personal system specs if that helps.

Hardwa

[2022-11-05 04:13] SylvanLiu commented on #11219
copy that, I'll check this as your words.

[2022-11-05 08:21] alaahong opened #11223 "[🚀 Feature]: Customized source matrix and Disable/Enable Switch in Selenium Manager"
### Feature and motivation

It's a great feature to provide such universal golden function within Selenium. It can be working well as expected. But do we have the possible to take a look below two feature proposals?

**feature 1 -- Customized source matrix**
No external configuration within SeleniumManager
![image](https://user-images.githubusercontent.com/3264250/200110333-453d5650-b9f4-4de8-88d8

[2022-11-05 15:42] utzlol opened #11224 "[🐛 Bug]: Chrome profile not loaded with headless"
### What happened?

I have chrome profile with credentials inside. It's normal when selenium is not launched by headless, but something really wrong happens with headless. In headless, the profile doesn't load even though options are inserted.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Arch Linux

### Selenium version

Python 4.6.0

### Wha

[2022-11-05 19:11] diemol commented on #11223
There will be a documentation page for Selenium Manager when it gets its first release out of the beta. Right now it is only being released as part of the bindings, but in the future it will be also released on its own. The features of supporting a proxy or a different download URL are part of the roadmap. However, we do not have those particular features public. @bonigarcia @titusfortner should w

[2022-11-05 22:19] stevepryde commented on #11132
See the above github-actions comment above yours. I'm not leading this feature and don't have time to work on it currently, sorry.

[2022-11-06 09:17] bonigarcia commented on #11223
@diemol Yes, if you want, we can create GitHub issues for the next features. So far, the roadmap is the Selenium Manager [README](https://github.com/SeleniumHQ/selenium/tree/trunk/rust), and also, we have a [backlog](https://docs.google.com/document/d/16TwXLJdeW1r4QHp8PlqC-7C4Max1HV25hZGkK5eGUKQ/edit) with ideas about future development etc. at the end of the original Selenium Manager proposal doc

[2022-11-06 09:30] diemol commented on #11224
IIRC, profiles are not supported by headless.

A couple of things, `options.headless = True` will be deprecated soon in favor of passing the argument. Also, we will recommend soon to use the `headless=chrome` option.

You can use it like this `options.add_argument("--headless=chrome")`

Give it a try, and see if profiles work with that mode. If not, most likely you will need to run the full browse

[2022-11-06 09:30] #11224 closed, assigned to nobody

[2022-11-06 09:32] diemol commented on #11167
Closing as we did not get more information.

[2022-11-06 09:32] #11167 closed, assigned to nobody

[2022-11-06 09:33] diemol commented on #11187
Closing as we did not get more information.

[2022-11-06 09:33] #11187 closed, assigned to nobody

[2022-11-06 13:21] arnonax-tr opened #11225 "[🐛 Bug]: OpenQA.Selenium.WebDriverException: 'Unexpected error creating WebSocket DevTools session.'"
### What happened?

After Chrome is updated more than 5 versions, `Driver.GetDevToolsSession()` throws the following exception:
[code]
First, the exception is not informative, as [this comment ](https://github.com/SeleniumHQ/selenium/blob/79f1c02ae20c359daa5652d790894d5e4e24d93f/dotnet/src/webdriver/DevTools/DevToolsDomains.cs#L130) alludes to.
But the more frustrating thing is that I must update

[2022-11-06 18:01] nvborisenko opened #11226 "[🐛 Bug]: Initialization of WebDriver failed when executed tests in parallel"
### What happened?

Selenium Manager is not ready to be executed simultaneously.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

4.6.0

### What are the browser(s) and version(s) where you see this issue?

Chrome

### What are the browser driver(s) and version(s) where you see this issue?

Selenium Manager

###

[2022-11-07 03:08] puneetksha opened #11227 "[🐛 Bug]: WebDriverLink is redirected to 404 error page."
### What happened?

WebDriverLink is redirected to 404 error page.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

windows 10

### Selenium version

4.0

### What are the browser(s) and version(s) where you see this issue?

Chrome 107

### What are the browser driver(s) and version(s) where you see this issue?

ChromeDriver 107

### Are you usin

[2022-11-07 08:28] JulienBreton commented on #11156
I didn't have much hope when I opened this issue but now Selenium 4 is stable. No "Unable to parse" or "Failed to decode request as JSON". Thanks a lot @joerg1985 !

[2022-11-07 09:12] JulienBreton commented on #9528
@diemol with the 4.6.0 I don't face issues anymore. The new Java 11 HTTP client and the fix for #11156 make Selenium 4 stable (in my case at least). Thanks a lot !

[2022-11-07 10:12] dbudim commented on #11068
In 4.6.0 new error😅
Seems new changes in JDK Http client about buffering affected that

[code]

[2022-11-07 11:22] diemol commented on #9528
Thank you for the feedback. I will close this issue and if something related comes up, please open a new one so we can address any variant individually.

[2022-11-07 11:22] #9528 closed, assigned to nobody

[2022-11-07 11:30] diemol commented on #11227
That is legacy documentation and it it kept for historical reasons, the versions mentioned there are not supported or maintained anymore. It is completely possible that a link is broken or not existing anymore. In short, those docs won't be changed and/or maintained.

[2022-11-07 11:30] #11227 closed, assigned to nobody

[2022-11-07 11:30] diemol commented on #11223
@bonigarcia I think it is a good idea to have issues to keep track of the overall progress.

[2022-11-07 11:36] diemol commented on #11065
Not really, I was referring to the API docs.

[2022-11-07 11:37] diemol commented on #10332
We have fixed this in 4.5.3 but wanted to wait until 4.6 to double check. Closing.

[2022-11-07 11:37] #10332 closed, assigned to nobody

[2022-11-07 11:38] diemol commented on #10600
Great, thanks for the feedback, @romovs. I will close this for now, if someone still has the issue, please let us know.

[2022-11-07 11:38] #10600 closed, assigned to nobody

[2022-11-07 12:55] ashishjoshi27 opened #11228 "[🐛 Bug]:"
### What happened?

Drag and drop not working with Selenium latest version

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows10

### Selenium version

selenium-server-4.5.3.jar

### What are the browser(s) and version(s) where you see this issue?

CHROME Version 107.0.5304.88

### What are the browser driver(s) and version(s) where you see

[2022-11-07 13:03] diemol commented on #11228
Duplicate of #10601

https://github.com/SeleniumHQ/selenium/issues/10601#issuecomment-1117937743

[2022-11-07 13:03] #11228 closed, assigned to nobody

[2022-11-07 15:09] andreapesci opened #11229 "[🐛 Bug]: By raises AttributeError: type object 'By' has no attribute 'XPATH'"
### What happened?

First, link to the [StackOverflow](https://stackoverflow.com/questions/74348377/python-selenium-by-raises-attributeerror-type-object-by-has-no-attribute-xpa) post i created, it seems that it may not be a mistake by me, but a problem indeed:

Here is my code:

[code]

and this raises this exception:

[code]

### How can we reproduce the issue?

[code]

### Relevant log output

[

[2022-11-07 15:30] kenjke opened #11230 "[🐛 Bug]: [Python] [Remote Driver] Unable to use devtools for network operations"
### What happened?

I'm using Selenium for web automation testing. I have a case to emulate "throttle" in browser. When I tried to use devtools with Google chrome driver, it worked fine. But for remote driver it didn't work at all.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

macOS Monterrey 12.6.1, Ubuntu 18.04.5 LTS

### Selenium version

S

[2022-11-07 15:37] #11229 closed, assigned to nobody

[2022-11-07 16:50] naveenanimation20 opened #11231 "[🐛 Bug]: Not able to launch Firefox browser with 4.6.0 - Selenium Manager."
### What happened?

Bug Summary: Not able to launch Firefox browser with 4.6.0 - Selenium Manager.

Browser: Firefox
Browser Version: 106.0.5 (64-bit)
Selenium-Java version: 4.6.0

==========sample code======
package demo;

import org.openqa.selenium.WebDriver;
import org.openqa.selenium.firefox.FirefoxDriver;

public class DemoPage {

	public static void main(String[] args) {

		WebDriver driver

[2022-11-07 17:11] symonk commented on #11230
would need to debug, but the actual `async` support is lacking at the moment

edit: ignore, previous advice was not relevant.  will take a look this evening for `Remote` based examples

[2022-11-07 17:26] kenjke commented on #11230
@symonk set geo location works fine for remote driver. All network operations don't work for remote driver.

[2022-11-07 20:12] TamsilAmani commented on #10949
I am looking into this issue

[2022-11-07 20:37] TamsilAmani commented on #11030
I would like to work on this issue.

[2022-11-07 22:03] TsvetanIlchev opened #11232 "[🐛 Bug]: Driver.Manage().Logs.GetLog(LogType.Browser) is not working for Firefox browser."
### What happened?

Browser: Firefox
Browser Version: 106.0.5 (64-bit)
Selenium.WebDriver.GeckoDriver.Win64 version: 0.32.0

Browser: Chrome 107.0.5304.88
Browser Version: 106.0.5 (64-bit)
Selenium.WebDriver.ChromeDriver version: 107.0.5304.6200

Selenium C# version: 4.6.0

======Description======
I'm trying to get everything that is logged into the browser's console on Firefox, but unfortunately

[2022-11-08 00:29] titusfortner commented on #11081
@oluwasegunolu also you can use `--headless=chrome` which might work for your needs. It's the full browser, just headless.

[2022-11-08 00:32] titusfortner commented on #11083
Is this fixed in 4.6?

[2022-11-08 00:48] titusfortner commented on #11221
what does `driver.window_handles` give you?

[2022-11-08 00:54] titusfortner commented on #11225
Selenium 4.2 can only provide devtools support for Chrome v102 since that was what was released at the time. Google does not maintain a stable API for Chrome DevTools, so there will be backwards compatibility issues. We are working on a new WebDriver-BiDi solution that will eventually provide a consistent, backwards compatible API, but in the meantime, you have to use the latest version of Seleniu

[2022-11-08 00:54] #11225 closed, assigned to nobody

[2022-11-08 01:06] titusfortner commented on #11223
You shouldn't be getting an error from Selenium Manager, all of that should be caught with the original "download a driver" error message displayed. Is this happening from a network error? I meant to test these by turning off wifi and seeing what happened.

Yes.

[2022-11-08 01:13] titusfortner commented on #11231
Selenium Manager does not get used when another driver is found on the system. In this case, it appears an old version of geckodriver is in your `WebDriverManager` directory above. Selenium Manager downloads drivers to a `~/.cache` subdirectory.

Remove references to 3rd party driver managers, and delete all drivers from directories on PATH

[2022-11-08 01:13] #11231 closed, assigned to nobody

[2022-11-08 04:07] pujagani commented on #11083
We were not able to reproduce this exactly with CDP. `selenium grid hub is still reachable, but shows "loading..." for all grid nodes (all docker-selenium containers are all still marked healthy)` - this bit was fixed in 4.6. But if something else is causing it then we can reopen the issue.
@mythsunwind Can you please try with 4.6 and let us know? Thank you!

[2022-11-08 05:40] Fradhyle opened #11234 "[🐛 Bug]: Selenium manager not found via Anaconda distribution"
### What happened?

I tried to test new Selenium manager feature with Python 3.9.13 and Edge 107.0.1418.35 (Stable) (64bit), but the exception occurs.

The code I tried
[code]
and the message is this
`WebDriverException: Message: 'msedgedriver' executable needs to be in PATH. Please download from https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/`

If I enter `msedge` on the 'Ru

[2022-11-08 09:33] bonigarcia opened #11238 "[🚀 Feature]: Enhance error handling in Rust logic"
### Feature and motivation

Improve the Rust logic related to error handling.

### Usage example

Instead of using `.wrap()` directly in the Rust code, a `Result` type can be returned in the functions, controlling the error cases in `main.rs`.

[2022-11-08 09:37] bonigarcia opened #11239 "[🚀 Feature]: Support for browser beta/canary/dev versions in Selenium Manager"
### Feature and motivation

Include support for browser version detection, considering not only stable versions, but also beta/canary/dev for Chrome, Firefox, Edge.

### Usage example

If for example Chrome beta is installed in the system, Selenium Manager should be able to detect its versions.

[2022-11-08 09:40] bonigarcia commented on #11223
I have updated the Selenium Manager M2 milestones in its README (see #11235). The GitHub issues for these features are:
#11210, #11132, #11239, and #11238.

[2022-11-08 11:05] symonk commented on #11223
👍 pointing at an internal mirror/artifactory etc for downloads would be useful, even if it was just exposed via environment variables, allowing different browsers to have fine grained control would be nice too there (i.e download chromed from A and geckod from B) via like `SELENIUM_CHROME_HOST` / `SELENIUM_FIREFOX_HOST` (or similar).

[2022-11-08 11:43] diemol commented on #11030
Go for it! 🎉

[2022-11-08 11:50] diemol commented on #11232
Firefox does not have logs in the same way Chrome does.

Different browser vendors are working with the Selenium project to have that feature in a standard way, there are already some bits of the functionality there, but we need to wait some more time to have it in Firefox as well. Please follow the development at https://github.com/w3c/webdriver-bidi

[2022-11-08 11:50] #11232 closed, assigned to nobody

[2022-11-08 13:18] titusfortner commented on #11234
Hmm, it's failing on conditional `if not path.is_file()`. Which is coming from:
[code]
On my mac this is: `/Users/titusfortner/code/seleniumhq.github.io/examples/python/venv/lib/python3.9/site-packages/selenium/webdriver/common/macos/selenium-manager`

1. We should add the path to the error message so it can be investigated.
2. @symonk maybe the way I'm setting the directory doesn't work for all t

[2022-11-08 13:37] symonk commented on #11234
@Sweetbarrow can you drop the output of this in your script:

[code]

As a side note; we should list the files in the path etc to debug better in future.  Once you have the interpreter path above can you check the file system on disk inside its `lib/python.x/site-packages/*` to find the directories inside `selenium/webdriver/common/*` for the platform

[2022-11-08 13:43] Fradhyle commented on #11234
Hi, @symonk
This is the output you requested.
[code]
Plus, I can see `selenium_manager.py` inside `C:\ProgramData\Anaconda3\Lib\site-packages\selenium\webdriver\common`
By the way, I tried same code on Windows 11 22H2, Edge 107.0.1418.35 (Stable) (64 bit), Python 3.9.13 and the same error has raised.

[2022-11-08 13:48] symonk commented on #11234
I will get access to a windows machine and use `anaconda` to test it out thanks! I suspect its to do with that explicitly; as a work around you could manually put the edge driver on your path for now.  Thanks for the report.

@Sweetbarrow  is there a `/common/windows/selenium-manager.exe` file in there?

[2022-11-08 13:52] Fradhyle commented on #11234
@symonk No.
I thought it's included in the code like [webdriver_manager by Sergey Pirogov](https://github.com/SergeyPirogov/webdriver_manager), isn't it?

[2022-11-08 13:56] Fradhyle commented on #11234
@symonk I just downloaded seperate executable from Github and it works well now.
As I just said, I thought it works like [webdriver_manager](https://github.com/SergeyPirogov/webdriver_manager) and didn't think it requires seperate executable.

[2022-11-08 13:57] titusfortner commented on #11234
there is a separate selenium manager executable that is distributed and it is what is figuring out which driver to get.

[2022-11-08 13:59] Fradhyle commented on #11234
@titusfortner Thank you for your answer.
It was my mistake.

[2022-11-08 14:13] symonk commented on #11234
this _should_ be working by default @titusfortner no? I don't think we should close it. (without requiring additional manual installs; pip install should suffice?)

[2022-11-08 14:17] Fradhyle commented on #11234
As user of Selenium, I hope Selenium manager included when get package from package manager.
I don't know how [webdriver_manager](https://github.com/SergeyPirogov/webdriver_manager) works exactly, but the phrase 'batteries included' from [Selenium blog article](https://www.selenium.dev/blog/2022/introducing-selenium-manager/) makes me confused.
That's why I thought it was a bug.

[2022-11-08 14:22] titusfortner commented on #11234
Sorry. I was unclear.

There are 3 selenium-manager executables (one for each of the 3 major OS's) that are bundled with the various selenium packages, including inside the whl file.

Selenium 4.6 in Python should include a `selenium\common\windows\selenium-manager.exe` file.

For some reason on your machine, it appears that it is not getting found. I know relative file path is trickier in Python

[2022-11-08 14:26] Fradhyle commented on #11234
@titusfortner Oh...
Thank you for the answer.
I'll look forward to be fixed in the future release.
For your information, I installed Selenium 4.6.0 by execute `conda update --all -c conda-forge` from Anaconda Powershell Prompt run as Administrator because I was using previous release of Selenium.

[2022-11-08 14:34] Reksa97 opened #11242 "[🐛 Bug]: Get log doesn't return log from an iframe"
### What happened?

I was trying to write a test for checking that an application doesn't log any errors to the browser console.
The issue seems to be that it is inside an iframe, as the logs from outside of it are returned correctly.

I added a python code snippet for reproducing this. I used iframetester.com to embed my [sample app](https://github.com/Reksa97/Reksa97.github.io/blob/main/index.ht

[2022-11-08 16:50] david-pulkowski commented on #11221
We are experiencing a similar issue for our java project. The below issue seems sums it up well.
https://bugs.chromium.org/p/chromedriver/issues/detail?id=4229#c_ts1667806515

[2022-11-08 17:36] ctimpany commented on #11221
@titusfortner changing the code to:
[code]
I can see that `['CDwindow-DFCC50674F3260E12273C33A39049731']` is output from `driver.window_handles`, as well as the original error.

[2022-11-08 17:38] ctimpany commented on #11221
@david-pulkowski thanks for linking! I will keep an eye on that thread.

[2022-11-08 21:08] titusfortner commented on #11242
the browsers are what decides what to store and provide in their logs, so to the extent it is a problem, it needs to be addressed by Google.

Also, you might want to check out the new BiDi implementation for console logs:
https://www.selenium.dev/documentation/webdriver/bidirectional/bidi_api/?language=python#listen-to-consolelog-events

[2022-11-08 21:08] #11242 closed, assigned to nobody

[2022-11-08 21:13] titusfortner commented on #11221
Yeah, whatever the issue here, it's a bug in chromedriver. Looks like Google is working on that issue, hopefully the same fix works for this issue as well.

[2022-11-08 21:14] #11221 closed, assigned to nobody

[2022-11-08 22:35] Sam-H101 commented on #11167
We are running 40 - 50 tests of varying intensity every 2-5 minutes. I’m not able to provide the tests themselves but it does not matter which test they all end up doing it over time

[2022-11-08 23:28] csgbn commented on #11167
So we are also seeing this when node sessions never shuts down and the node session duration is infinite. This started happening with 4.5.0, and we see it in 4.5.2 and also 4.6.0. The session timeout before was respected but not anymore.

We are still investigating this issue but think it might be related to this change https://github.com/SeleniumHQ/selenium/commit/9656da70e574a77213cba49ff00e11a2

[2022-11-09 05:37] pujagani commented on #11068
Thank you for sharing the feedback. I do not see when Grid is used without basic auth. The JDK HTTP Client works as expected. However, when I set up the Grid using basic auth and the same on the client side, I see the errors shared above. I will triage it further today.

[2022-11-09 05:38] pujagani commented on #11068
I see the following log message on the Grid side ` [BasicAuthenticationFilter.lambda$apply$0] - Unauthorized request to (POST) /session`. I am guessing the fix is not working as expected. Apologies for the same. I will try to sort this out.

[2022-11-09 08:30] aaltat opened #11243 "[🐛 Bug]: Do not store Selenium Manager binary files with in the source code repository"
### What happened?

Storing binary files in the source code repository is not recomended: https://github.com/SeleniumHQ/selenium/tree/trunk/common/manager/windows Instead it would be better to store them in the GitHub releases page. or somewhere else.

Storing binary files in the repository makes repository size big and surprisingly fast, which makes the cloning and updating the repository slow.

[2022-11-09 08:53] diemol commented on #11243
Thanks for the feedback!

The project sometimes follows this approach in for different reasons, in this case, because we want to iterate quickly and we wanted to have the files available for the release. In future releases, Selenium Manager will have its own release and binaries will be uploaded to their own release.

[2022-11-09 08:53] #11243 closed, assigned to nobody

[2022-11-09 09:56] AutomatedTester commented on #10949
@titusfortner I have a few questions that I hope you can clarify.

* Does Chrome endpoints still exist when `{w3c:true}`?
* While this is good for Chrome support, do we want to be adding this back just for one browser? Wouldn't it be better to wait for the similar feature set that is coming in WebDriver Bidi
* What value do we see this having over getting people to move over to our OpenTelemetry s

[2022-11-09 10:24] Reksa97 opened #11244 "[🐛 Bug]: BiDi API console log example doesn't work and is missing info"
### What happened?

Tried to run the [bidi console log example in the docs](https://www.selenium.dev/documentation/webdriver/bidirectional/bidi_api/?language=python#listen-to-consolelog-events) but I get

Is the documentation missing something (other than the imports) or what could be the issue?
Tried with python 3.9.2 and 3.10.6
I can open a pr to fix the documentation if I get this to work first

[2022-11-09 10:53] arnonax-tr commented on #11225
Thanks @titusfortner for your answer. But still:
* My code continues to work perfectly fine after the upgrade to Selenium 4.6 without any breaking change
* I recently compared the source code of [V85](https://github.com/SeleniumHQ/selenium/tree/trunk/dotnet/src/webdriver/DevTools/v85) to that of V104, and found not difference other than things related to the version number. I believe that if Ill d

[2022-11-09 11:18] diemol commented on #11167
@csgbn do you have the full stacktrace for:

[code]

[2022-11-09 15:07] #9708 closed, assigned to nobody

[2022-11-09 15:08] diemol commented on #9708
Closing since, thanks to @krmahadevan, we have now documentation that shows how to create your own Node.

[2022-11-09 15:21] ccarmannt commented on #9708
I want to thank @krmahadevan for this documentation work. Very glad to have it!

[2022-11-09 17:10] symonk commented on #11234
the version shipped by `conda` does in fact not ship with the manager directory; I assume conda maybe tries to use a source distribution with setuptools directly? and we don't use that ourselves unfortunately.  Assume they are cloning and relying on `setup.cfg/setup.py` which is completely normal in the python world for most packages, as for a solution - I'm not quite sure as we rely on bazel to d

[2022-11-09 17:18] csgbn commented on #11167
That is a client side error msg, do not have the complete stacktrace but here is a node log from a node that processed 5 tests fine and on the 6 test got stuck/froze after about 2 minutes, session timeout is set to 30 minutes:

11:30:57.390 INFO [LocalNode.newSession] - Session created by the Node. Id: 9e2b7e9714c1266b07d1e044f0d6f2e3, Caps: Capabilities {acceptInsecureCerts: false, browserName: c

[2022-11-09 18:06] AhmedSheri123 opened #11245 "[🐛 Bug]: selenium can't get dom elements in facebook"
### What happened?

**the problem the selenium can't see html elements that generated by javascript or dom in facebook page**

selenium see the javascript or dom code only and can't see rendered html code by javascript or dom

I hope you understand what I mean, thank you

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

windows10

### Selenium ver

[2022-11-09 18:43] csgbn commented on #11167
Here is an example using 4.6.0, using the java 11 built in client, session timeout 3 minutes:

Client log:

[ERROR] java_example.test.test_blocked_amazon_ip  Time elapsed: 349.646 s  <<< FAILURE!
org.openqa.selenium.UnsupportedCommandException:
Unable to find handler for (POST) /session/a2cbae935405669de0fb4249ca8d2e94/url
Build info: version: '4.6.0', revision: '79f1c02ae20'
System info: os.name:

[2022-11-09 20:09] samkhayal opened #11246 "[🐛 Bug]: driver.Manage().Cookies.AddCookie is not adding expiry and adding additional character for domain"
### What happened?

so i am trying to set a cookie in chrome using selenium webdriver c# to bypass sso authentication. however after the cookie is set i found an additional character is added to the domain and the expiry is set as null

 cookie1Dictionary.Add("domain", "somesite.com");
            cookie1Dictionary.Add("path", "/");
            cookie1Dictionary.Add("expiry", expirationdate.ToStri

[2022-11-09 22:35] IssamDerHirte opened #11247 "[🐛 Bug]: Node not registering on Hub on AWS Ec2"
### What happened?

I created a Ec2 Instance. Iable to create a hub but when I'm trying to register the node machine,  it only giving the [NodeServer$1.lambda$start$1] - Sending registration event.

I tried everything to fix this, but everything I tried failed.
If I try to add a node on the same IP I have the Hub on everything works fine, but as soon as I try it on a remote server it doesnt work.

[2022-11-10 09:07] shub22396 opened #11248 "[🐛 Bug]: Getting unexpected Error when creating a devtools session in dot net"
### What happened?

Getting Unexpected error while creating a devtools session on remote in dot net, Tried on different version of chrome but still not able to create a session though remote web driver session is created but not devtools session.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

Dot NET selenium 4

[2022-11-10 10:10] MuhSchaf opened #11250 "[🐛 Bug]: Manager Downloads old Chrome-Driver"
### What happened?

After updating Selenium to version 4.6 in DotNet, the new feature "Selenium manager" downloads an old Chrome driver version.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

DotNet 4.6

### What are the browser(s) and version(s) where you see this issue?

Chrome 107

### What are the browser d

[2022-11-10 11:28] diemol commented on #11250
That seems hard to reproduce. Are you sure there is no other ChromeDriver on the path? Because from the log it seems like Selenium Manager was not used at all.

[2022-11-10 11:31] diemol commented on #11248
What happens if you use Selenium Grid?

[2022-11-10 11:33] diemol commented on #11247
You need to expose the Bus ports when the Hub and Nodes are running on different machines. https://www.selenium.dev/documentation/grid/getting_started/#node-and-hub-on-different-machines

[2022-11-10 11:33] #11247 closed, assigned to nobody

[2022-11-10 11:35] diemol commented on #11246
Are you navigating to the domain first? I do not see that in the code provided.

[2022-11-10 11:39] diemol commented on #11167
I added a commit that should handle the case, so the session is properly terminated when it times out.

[2022-11-10 11:40] diemol commented on #11245
Facebook is most likely blocking the agent used for automation. If you want to automate Facebook, I assume you work there and have authorization to do so, and in that case you can reach out to the developers or DevOps area to allow automation on the site.

[2022-11-10 11:40] #11245 closed, assigned to nobody

[2022-11-10 12:06] MuhSchaf commented on #11250
Well, you are right.
There was an old driver lying around.
I am sorry that I have opened a can of worms unnecessarily.
Thank you for your fast reply.

Be blessed and have a great day.

[2022-11-10 12:07] #11250 closed, assigned to nobody

[2022-11-10 17:07] eregon opened #11251 "[🚀 Feature]: Use Process.spawn instead of the child_process gem"
### Feature and motivation

Since selenium is Ruby 2.7+ it can use Process.spawn which exists since 2.4.
Process.spawn covers the whole API of child_process, so there is no need for that dependency and it should be fairly easy to remove it.
`child_process` is unfortunately not very actively maintained, and that causes issues, for instance https://github.com/oracle/truffleruby/issues/1525 / https:/

[2022-11-10 18:38] csgbn commented on #11167
Thanks, looking forward to try it out. Will it be available in a 4.6.1 release?

[2022-11-10 19:20] samkhayal commented on #11246
driver.Navigate().GoToUrl("https://stg-dd.somesite.com/welcome");
            Thread.Sleep(1000);

var cookies = driver.Manage().Cookies.AllCookies;

            DateTime currentTime = DateTime.Now;
            DateTime expirationdate = currentTime.AddHours(7);

            var cookie1Dictionary = new System.Collections.Generic.Dictionary<string, object>();

cookie1Dictionary.Add("domain", "google

[2022-11-10 21:16] titusfortner commented on #11239
Is this what we're looking to support with this Issue?

[code]

[2022-11-10 21:36] titusfortner commented on #11223
1. Matrix

Is the idea to support users creating their own files to match the remote files currently being parsed, etc with their own links to the various driver versions? Wouldn't it make more sense for the user to put in the code the location of the specific browser and/or driver they want to use? This seems like a lot of extra work for a use case more easily solved by other means.

2. PATH

Rig

[2022-11-10 22:32] titusfortner commented on #11225
yes an example of a breaking change is:
[code]

We didn't create that error just to arbitrarily keep you from using a more recent version. For *some reason chromedriver v107 does not like what Selenium v4.2 & devtools v102 is sending to it wrt getting the devtools session for Chrome v107.

I was just explaining why we can't do anything about it—we can't support a version of Chrome DevTools that do

[2022-11-10 22:35] titusfortner commented on #11234
My question is what are we doing differently with devtools that we aren't doing for Selenium-Manager?

[2022-11-10 22:50] titusfortner commented on #11248
Those aren't valid capabilities for Selenium 4. Is the URL here a grid? What version?
[code]

[2022-11-11 09:48] nihaowa1 opened #11252 "[🐛 Bug]: The second iframe switch took a long time,"
### What happened?

When a web iframe contains a canvas in the style of a map, does selenium wait for everything to load?

Before we can move on?

In my case, I had no problem switching iframes the first time, but when I went back to the outermost part and opened a new window, it might take 5 minutes to wait,

It used to be pretty fast until the map didn't load and started to appear like this

###

[2022-11-11 10:04] eregon commented on #11251
Another advantage is `Process.spawn` is faster than fork+exec s used by `child_process`, because that can use vfork() or posix_spawn for instance.

[2022-11-11 10:18] bonigarcia commented on #11239
My intention for this milestone was only to consider the known commands to discover the browser version, not only for stable browsers, but also for beta/dev/etc. This way, Selenium Manager tries to discover (in order) the version of the stable browser, if not found, then the beta, etc. For M3 (about configuration) we can consider to force the use of beta/dev/etc. In addition, also in M3, we can im

[2022-11-11 11:21] diemol commented on #11252
You can use a different [`pageLoadStrategy`](https://www.selenium.dev/documentation/webdriver/drivers/options/#pageloadstrategy)

[2022-11-11 11:21] #11252 closed, assigned to nobody

[2022-11-11 11:27] diemol commented on #11248
I assume they are trying to use LamdaTest, but I was to rule out an issue by having them check the Grid.

[2022-11-11 11:33] diemol commented on #11246
You need to navigate first to the site where you want to create a cookie
https://www.selenium.dev/documentation/webdriver/interactions/cookies/#add-cookie

[2022-11-11 11:33] #11246 closed, assigned to nobody

[2022-11-11 11:35] diemol commented on #11167
Latest during the 1st week of December.

[2022-11-11 11:38] N1lshui opened #11253 "[🐛 Bug]: InvalidArgumentError: unknown variant `wheel` at await driver.actions()...perform()"
### What happened?

When I try to use await driver.actions()...perform() (only with await) in firefox,
then I get error
InvalidArgumentError: unknown variant `wheel`, expected one of `none`, `key`, `pointer` at line 1 column 115
I'm not able to scroll in JS and this is a problem

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Sel

[2022-11-11 11:39] diemol commented on #11209
The decision made was to set the TTL zero for browser version check.

https://www.selenium.dev/meetings/2022/tlc-11-10/

[2022-11-11 12:32] diemol commented on #11253
Duplicate of #11090

[2022-11-11 12:32] #11253 closed, assigned to nobody

[2022-11-11 14:08] samkhayal commented on #11246
Diemol , i am doing that and still not adding the cookie. not sure why you closed this ticket without reading the code above.
i am navigating to the welcome page and before going to login, i am attemtping to set the cookie. the cookie name is getting set  , the expiry is set as session/null and for the domain it is adding an additional character. did you even read the original post/issue ?

puttin

[2022-11-11 14:12] diemol commented on #11246
Because you are trying to set a cookie on `google.com` but you have not visited the `google.com` domain. Please have a look at the link I shared from the docs.

[2022-11-11 14:17] samkhayal commented on #11246
driver.Navigate().GoToUrl("https://stg-dd.somesite.com/welcome");

driver.Navigate().GoToUrl("https://stg-dd.somesite.com/login");

are these two domains different ?

[2022-11-11 14:20] samkhayal commented on #11246
![image](https://user-images.githubusercontent.com/50032073/201359196-c72628f8-697f-4b99-b9b8-249596bb932b.png)

[2022-11-11 14:21] samkhayal commented on #11246
do you see what is not getting set ? the domain and the expires

[2022-11-11 14:28] samkhayal commented on #11246
I am following the documentation although the documentation was not clear about going to domain first an then go to login :).

[2022-11-11 15:02] titusfortner commented on #11239
I agree we need to implement the flag to specify a custom location for the browser.

I was thinking this feature would be a way to ask selenium-manager to auto-locate bea/dev/canary without having to pass in the location directly.

I don't think selenium-manager should use non-production browseer unless a user specifies it.

[2022-11-11 15:03] titusfortner commented on #11248
LT doesn't require valid w3c capabilities? Interesting.

[2022-11-11 15:07] titusfortner commented on #11246
fwiw, the documentation clearly says:

[2022-11-11 15:09] samkhayal commented on #11246
which is this one https://stg-dd.somesite.com right ? i am going to the welcome page cause if i go to this domain it will take me directly to the /login therefore i am going to /welcome which also on the same domain stg-dd.somesite.com. but as you see in the screenshot there is an additional .added to the domain i am not sure where it is coming from

[2022-11-11 16:44] samacm opened #11254 "[🐛 Bug]: Proxy authentication not working"
### What happened?

We have tried with many possible options for proxy authentication. But still we are not able to authenticate URL's via Proxy

Test 1:
 proxy = new Proxy();
 proxy.setHttpProxy("192.168.0.500");
            proxy.setSocksUsername("test");
            proxy.setSocksPassword("123456789");
            //Add the proxy to our capabilities
            capabilities.setCapability("proxy

[2022-11-11 21:21] KevinTran00 opened #11256 "[🐛 Bug]: Ruby Selenium Header Injection fails on POST requests - Failed to deserialize params.postData"
### What happened?

I would like to inject some headers into all network requests during my tests. This was originally working about 7 months ago. I used this logic of injecting headers for about a month after that and haven't had a need to run this logic since then until this week.

The script throws this exception of `-32602: Invalid parameters: Failed to deserialize params.postData - BINDINGS:

[2022-11-11 21:33] #11251 closed, assigned to p0deje

[2022-11-11 21:34] p0deje commented on #11251
Let's see how it goes, I've also added TruffleRuby to the list of Rubies for unit tests on CI https://github.com/SeleniumHQ/selenium/commit/04ede9e6f163de7d67aaf702caab8b663069f493

[2022-11-11 21:44] nvborisenko commented on #11226
@diemol so is it binding related? I can provide a fix for this in .Net: this binding will never execute Selenim Manager simultaneously. But it will be scoped to process, what means user might even execute his application in different processes simultaneously. I think better place for fix is Selenium Manager itself, it will fix parallel tests execution in all bindings implicitly.

[2022-11-11 22:51] symonk commented on #11234
@titusfortner possibly [this](https://github.com/SeleniumHQ/selenium/blob/trunk/py/BUILD.bazel#L141) but I haven't a clue how bazel operates really

[2022-11-11 23:17] AutomatedTester commented on #11234
Bazel likes things to be explicit. It probably needs you to specify the
module, even if it is auto generated.

It might be worth trying to add `"py.selenium.webdriver.common.linux",
"py.selenium.webdriver.common.windows",` and so on so that it links up the
python packaging ideas like if it were a `MANIFEST.in` file

On Fri, Nov 11, 2022 at 10:51 PM Simon K ***@***.***> wrote:

[2022-11-13 01:21] wuyongzheng opened #11259 "Duplicate filename in selenium-java-4.6.0.zip [🐛 Bug]:"
### What happened?

I downloaded the selenium Java version from https://www.selenium.dev/downloads/. The linux unzip tool complains about duplicated file name. I tried 7zip on Windows, same problem. I remember I had this problem in selenium 4.3.0 as well. I'm surprised that this hasn't been fixed for a year.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operati

[2022-11-13 07:49] arnonax-tr commented on #11225
Thanks. I still don't fully understand, but I get that there are things I'm less familiar with (like those pdl files), so I'll just take your word for it.

[2022-11-13 08:44] krmahadevan commented on #11031
@diemol @pujagani

[The instructions](https://www.selenium.dev/documentation/grid/configuration/help/#security) generated when running

[code]

doesn't seem to help when running in docker mode.

Here's what I have done so far.

1. Installed minica by running `brew install minica`
2. Ran `minica --domains selenium-hub`
3. Ran the key conversion using `openssl pkcs8 -in selenium-hub/key.pem -topk8 -

[2022-11-13 10:29] TamsilAmani commented on #10949
@AutomatedTester I tested the issue with `{w3c:true}`, the end point exists in chrome.

[2022-11-13 13:52] krmahadevan commented on #9845
@diemol - Do you think that this was one of the use-cases for building the reference implementation of `org.openqa.selenium.grid.node.k8s.OneShotNode` ? Maybe we could consider exposing this as maven artifact so that we can perhaps pass in a reference to this implementation via `--node-implementation` ?

[2022-11-13 15:21] krmahadevan commented on #9218
@diemol - This could be one of the use cases for having custom routes being supported in the node being asked in https://github.com/SeleniumHQ/selenium/issues/9708 which I had earlier tried to address via https://github.com/SeleniumHQ/selenium/pull/11233

I tried hacking into whatever is available by doing the following:

1. I created a custom executor which was then fed into the RemoteWebDriver f

[2022-11-13 20:36] TamsilAmani commented on #11030
Firstly, I think the code to reproduce this issue is for DotNet. @titusfortner Please correct me if I'm wrong.

Secondly, I wrote a similar code in NodeJS and things are working as you expect. That is, client tab is offline and admin is not. Below is the code and the order in which I made CDP connections and opened my tabs. Please refer to comments and try to write your code in the same order.

**

[2022-11-13 21:17] diemol commented on #11030
You are right, @TamsilAmani, the code is .NET.

If you have time, any help triaging issues is appreciated 🙇

[2022-11-13 21:23] diemol commented on #9218
@krmahadevan there is no need to add custom rules. When we implement the download functionality in Grid, it would be by adding a route on the Node [next to the one it is used to upload a file](https://github.com/SeleniumHQ/selenium/blob/702b3aae7385adf331d75cdeacd79720cf6b9c84/java/src/org/openqa/selenium/grid/node/Node.java#L150). Probably some rules need to be defined to figure out what can be s

[2022-11-13 21:30] diemol commented on #9845
@krmahadevan there is a solution in a PR in the docker-selenium project, have you checked them? @prashanth-volvocars was kind enough to submit them.

[2022-11-13 21:37] diemol commented on #10949
What I understand is that Chrome works in Grid and probably others work too but the endpoint does not exist, is that right, @titusfortner?

[2022-11-13 21:42] diemol commented on #10877
Closing in favor of #11259

[2022-11-13 21:42] #10877 closed, assigned to nobody

[2022-11-14 02:24] krmahadevan commented on #9218
@diemol

Is this being worked upon ?

[2022-11-14 02:34] krmahadevan commented on #9845
@diemol - No I wasn't aware of the PR. I went back and checked https://github.com/SeleniumHQ/docker-selenium/pull/1714

Even though I dont understand a lot of the k8s lingo yet, I kind of got the idea of what it is doing and looks like that should suffice for the k8s requirement of an autoscaling grid.

[2022-11-14 02:48] krmahadevan commented on #11031
@ehesognp

This is most probably due to permission issues. Please try adding more lenient permissions (`777` worked for me) so that the `seluser` account which runs the JVM inside the docker container is able to access the cert and key available in the physical host via the mount.

[2022-11-14 08:18] #11184 closed, assigned to nobody

[2022-11-14 08:37] TamsilAmani commented on #11244
Looking into this issue

[2022-11-14 10:43] AutomatedTester commented on #10949
Firefox doesn't support this endpoint, and I don't think that safari has support. This is going to only benefit Chrome users. I'm not fully against only supporting just chrome but we need to make it a deliberate choice

[2022-11-14 13:12] diemol commented on #10949
Now remembering, I think this has always been a Chrome/Chromium only feature. I assume that Grid 3 responds in the same way.

Should we leave it as it is and wait for BiDi?

[2022-11-14 13:15] diemol commented on #11031
Thanks for troubleshooting, @krmahadevan!

[2022-11-14 15:28] diemol commented on #9845
Yes, we we merge that, we can close this issue.

[2022-11-14 15:28] diemol commented on #9218
No, but it is something that will be added.

[2022-11-14 15:45] krmahadevan commented on #9218
Is there some place wherein the scope for it is defined? Or is it something as straight forward as adding method similar to uploadfile within the Node implementation? I would like to take a jab at this and hence the curiosity.

[2022-11-14 15:48] diemol commented on #9218
I think the wiring can be done, and it should not be too complicated. Ideally following the same concept of the file upload should be a good start. When we are there, we need to define how the file to be downloaded can be selected.

[2022-11-14 15:50] eregon commented on #11251
Thank you, that was fast!

I see the CI failed at https://github.com/SeleniumHQ/selenium/actions/runs/3448105944/jobs/5754819891
It seems `LANG` is not set or set to `C`, and `HOME` is not set either. Are those variables unset on purpose?

[2022-11-14 15:53] p0deje commented on #11251
I've fixed it in https://github.com/SeleniumHQ/selenium/commit/a2d76326d7c0c04ab29b54345bd855004c544418. Those variables are unset by default by Bazel, so I had to explicitly propagate them. I suppose TruffleRuby also suffers from https://github.com/jruby/jruby/issues/5661

[2022-11-14 16:04] diemol commented on #11226
I guess I did not read the error provided properly, I assumed it was .NET. Sorry.

@bonigarcia , can you please have a look?

[2022-11-14 16:38] eregon commented on #11251
Thank you, I've filed https://github.com/oracle/truffleruby/issues/2784 to account for that.
I'm rather surprised Bazel changes the ENV like this, but that's how it is.

And with your change it seems like TruffleRuby passes the test suite, nice! https://github.com/SeleniumHQ/selenium/actions/runs/3460208424/jobs/5776525182

[2022-11-14 17:00] p0deje commented on #11251
Bazel unsets everything in ENV by default to make builds more hermetic.

[2022-11-14 17:08] alpatron opened #11261 "[🐛 Bug]: Implicit wait is ignoring NoSuchElementException when using relative locators"
### What happened?

When setting WebDriver to use an implicit wait and then using a relative locator that does not immediately find the element, Selenium immediately crashes with a `NoSuchElementException` without waiting and retrying for the set implicit wait time.

The code example uses Chrome, but the same behaviour is happening in Firefox as well.

Explicit waits on the other hand work as expe

[2022-11-14 19:07] samkhayal commented on #11246
why is it adding an extra dot to the domain ?

[2022-11-14 20:55] asolntsev commented on #10877
@diemol It's not important, of course, but I am just curious. :)
What's the logic here: why the older issue is closed in favor of a newer one (which is exactly the same)?
I would rather close the new issue marking it as duplicate.

[2022-11-15 09:01] diemol commented on #10877
Because we do not triage or backport fixes, so if the issue is still present in a more recent version, that is already a way of knowing that it is still valid.

[2022-11-15 12:37] diemol commented on #10847
If someone wants to work on this, there are at least three places where changes need to be done:

- [`Hub`](https://github.com/SeleniumHQ/selenium/blob/ce1b3b180ec21c6d8938ef1c4b98022d128c00f7/java/src/org/openqa/selenium/grid/commands/Hub.java#L190-L195)
- [`RouterServer`](https://github.com/SeleniumHQ/selenium/blob/01bf373e006564840ef82747ef0d437b8f3b9665/java/src/org/openqa/selenium/grid/router

[2022-11-15 12:41] bonigarcia commented on #11226
I cannot reproduce this issue. How exactly did run the tests, @nvborisenko?

[2022-11-15 12:47] nvborisenko commented on #11226
@bonigarcia empty cache of Selenium Manager, and then execute selenium manager many times in parallel.

[2022-11-15 13:10] bonigarcia commented on #11226
@nvborisenko Still, I cannot reproduce it with that description, sorry. An executable piece of code (i.e, a test or script) will be helpful.

[2022-11-15 13:32] nvborisenko commented on #11226
[ConsoleApp4.zip](https://github.com/SeleniumHQ/selenium/files/10013039/ConsoleApp4.zip)

This example starts 10 chrome browsers in parallel. To run it in console `dotnet run`.

![image](https://user-images.githubusercontent.com/22616990/201932141-c5e36319-b386-43fb-872f-078f8372ed72.png)

[2022-11-15 14:31] yashcho commented on #10847
@diemol but for /ui it needs to be done at this point https://github.com/SeleniumHQ/selenium/blob/01bf373e006564840ef82747ef0d437b8f3b9665/java/src/org/openqa/selenium/grid/web/GridUiRoute.java#L51?

[2022-11-15 14:36] krmahadevan commented on #10847
@yashcho - Yes.  Thats because the routing for the UI part is internally handled by `GridUiRoute`

[2022-11-15 15:34] zireael-0 opened #11264 "[🐛 Bug]: "Invalid Host Header" in Firefox 106 w/ geckodriver 0.32.0"
### What happened?

I'm using Firefox 106 with `selenium-firefox-driver:4.5.0` for Java and geckodriver 0.32.0 (via Selenide 6.9.0)

Selenium `GeckoDriverService` launches `geckodriver` and when starting a new browser session it calls `PUT http://localhost:<port>/session`

However, since the `--allow-hosts localhost` flag is **not** provided when starting `geckodriver`, requests to geckodriver  al

[2022-11-15 15:53] diemol commented on #10847
It could be done there or at the server startup, however the [configuration of the UI](https://github.com/SeleniumHQ/selenium/blob/b029dcc71a9baad96355d8c89156aa01e67c0ac9/javascript/grid-ui/package.json#L38) needs to be tweaked to work under subpaths. Not sure how that can be done, would need to research that.

[2022-11-15 16:07] yashcho commented on #10847
What do you mean by server startup?

[2022-11-15 16:10] diemol commented on #10847
The three links I shared above.

[2022-11-15 16:19] zireael-0 commented on #11264
After updating my `/etc/hosts` file to include (it was empty before)
[code]

The issue disappeared. Seems like `geckodriver` performs a reverse-lookup of the address?

However, I still think this should be fixed in Selenium, it's just less severe for me now.

[2022-11-15 16:22] diemol commented on #11264
@whimboo what do you think?

[2022-11-15 16:52] krmahadevan commented on #10847
@diemol I got some basic hard coding to work for the UI endpoints... but am wondering as to what should be the expected behaviour for the new session endpoint as well as the endpoint that deals with existing session ?

For e.g., a test case would basically be doing a POST against  `http://ip:port/session`  which would reach a reverse proxy such as nginx. Now lets say nginx has been configured to r

[2022-11-15 17:21] diemol commented on #10847
@krmahadevan not really, `/wd/hub` is a prefix that already works. So no need to ensure all that apart of running some tests.

[2022-11-15 18:00] yashcho commented on #10847
What is the method to test the changes, I mean how to verify if the changes are working?

For your information I am using GitPod to work on the changes.

[2022-11-15 18:59] diemol commented on #10847
https://github.com/SeleniumHQ/selenium#common-build-targets is a good start for it.

[2022-11-15 23:34] symonk commented on #11261
Thanks for the report.  At a quick glance the `Relative` locators send a sizable blob of javascript internally within `find_elements(..., ...)` via `/w3cExecuteScript` but the normal flow is to dispatch out to `findElement`.  The javascript is quite a sizable script to do the handling there but I assume the root cause is buried in there somewhere.

[2022-11-16 06:12] saiparth opened #11269 "[🚀 Feature]: [Selenium Manager] User should have option to fallback to previous stable version of browser driver"
### Feature and motivation

Thanks for adding selenium manager.
One request is, sometimes latest version of chromedriver may have some issues. Previous version of driver may work with latest version of chrome. hence rather than having blocked, User should be able to specify fallback option so that selenium will download previous stable version.
Ex:
Chrome 106 and Chromedriver 106 - Timed out recei

[2022-11-16 07:32] pogrebnyaksa opened #11270 "[🐛 Bug]: Memory leak by creating multiple HttpClient-*-SelectorManager threads when using jdk11 http client in loop with selenium grid"
### What happened?

I experience memory leak in my app - selenium spawns multiple threads.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Debian 9, Ubuntu 20.04.3

### Selenium version

Java 4.6.0

### What are the browser(s) and version(s) where you see this issue?

chrome 107.0

### What are the browser driver(s) and version(s) where you see

[2022-11-16 07:58] diemol commented on #11270
Also, some evidence and graphs showing the leak would be very helpful to troubleshoot this.

[2022-11-16 08:00] diemol commented on #11269
That is a feature that we need to double check because it is not a common case but for now you can always set the location [of your driver](https://www.selenium.dev/documentation/webdriver/getting_started/install_drivers/#4-hard-coded-location), as Selenium Manager is a fallback for now.

@titusfortner @bonigarcia thoughts?

[2022-11-16 09:20] #11238 closed, assigned to nobody

[2022-11-16 09:45] bonigarcia commented on #11269
I had never heard about this need. Although technically, it is possible to use the previous stable version of a given browser with Selenium Manager, I think this is not the best approach.

Selenium Manager uses the recommended driver version for a given browser. For instance, for Chrome 106, the official chromedriver version should be 106.0.5249.61 (see the [chomedriver download page](https://chro

[2022-11-16 12:51] alpatron opened #11272 "[🐛 Bug]: "Near" relative locator fails to find elements under certain conditions"
### What happened?

The "near" relative locator fails to locate elements in certain cases, like when a narrower object is directly above a wider object (see provided screenshot).
![obrazek](https://user-images.githubusercontent.com/1508117/202175226-2d45f55e-e250-4f48-8734-1fcabd65d185.png)

In this case, trying to locate " 'Rectangle 1' near 'Rectangle 2' " results in a `NoSuchElementException` e

[2022-11-16 13:05] diemol commented on #11272
@alpatron feel free to provide a PR with some non-naive code, please.

[2022-11-16 14:02] joerg1985 commented on #11270
@pogrebnyaksa
could you replace the `TimeUnit.SECONDS.sleep(5);` with a `System.gc(); ` call?
The selector threads should stop when GC is triggered.

In the real world the GC should automatically run after some time.
The loop does not generate enought trash to make it run automatically ;)

[2022-11-16 14:42] bonigarcia commented on #11226
There was a condition race when trying to uncompress/execute the resulting driver (chromedriver, in this case) in parallel for the first time. I have just committed a [patch](https://github.com/SeleniumHQ/selenium/compare/trunk...se_mrg_fix_parallel) to fix this issue.

@nvborisenko I tested with the project you provided (thanks for that!) and the solution seems to work nicely. Can you please test

[2022-11-16 14:55] nvborisenko commented on #11226
@bonigarcia I tested it as well, works good. Thanks.

[2022-11-16 15:31] diemol commented on #11269
I think that is a good point, and in any case, I believe we won't change the interface drastically when Selenium Manager is the default in Selenium, users should be able to set the location of the driver.

[2022-11-16 15:46] pogrebnyaksa commented on #11270
Please, look into repo [https://github.com/pogrebnyaksa/selenium-repo](https://github.com/pogrebnyaksa/selenium-repo).
There you can find sources, threaddumps and screenshoot with threads increasing.

[2022-11-16 16:26] pogrebnyaksa commented on #11270
You are right, manual call GC cleans all hanging threads from jdk11 http client, but it is not normal to spawn such huge amount of threads until GC clean them all. I have reached 700 of threads and that's not the end - it pollutes thread dumps and makes monitoring of service more complicated. Also I think it is a good practice to shutdown threads when they are not needed any more

[2022-11-17 08:34] N1lshui opened #11274 "[🐛 Bug]: ElementNotInteractableError: element not interactable"
### What happened?

Hi,
when I try to use the following command on firefox, all performs correct.
But when I try to use it on Chromium based Browsers on the same site and element, It get the following

await edgeDriver.findElement(By.css('textarea[id^="input-"]'))
                        .sendKeys('Test', Key.ENTER);

ElementNotInteractableError: element not interactable
  (Session info: Microsoft

[2022-11-17 08:36] N1lshui commented on #11274
Sorry, I meant to reproduce you have to use chhrome or EDGE

[2022-11-17 09:16] joerg1985 opened #11275 "[🚀 Feature]: let the UnreachableBrowserException not leak details of the command"
### Feature and motivation

### Motivation
If a `UnreachableBrowserException` is raised in a sensitive area there will be sensitive information in the logs.

e.g. the basic-auth infos are leaked here
[code]

### Feature
There are several options to ensure the parameters are not logged in the CI pipeline:

a) Modify the `UnreachableBrowserException` to only contain the parameter values if `org.open

[2022-11-17 14:01] #11209 closed, assigned to nobody

[2022-11-17 14:07] diemol commented on #11274
Also, if it works in Firefox and it does not work on a Chromium based browser, might be a bug in Chrome. So, if after providing a reduced test case you still have the issue, let us know and we can point you to the ChromerDriver bug tracker.

[2022-11-17 14:55] diemol commented on #11275
Thank you, @joerg1985. Good catch. This makes sense. I believe option a would be more suitable.

[2022-11-17 15:52] #11226 closed, assigned to nobody

[2022-11-17 16:20] titusfortner commented on #11030
Oops, I mis-tagged this, sorry! Thanks for looking @TamsilAmani

[2022-11-17 18:01] titusfortner commented on #10949
At the very least, we need for it `getAvailableLogTypes()` to return an empty list not throw an exception. Or to remove the method if we don't want to support it.

[2022-11-17 18:21] titusfortner commented on #11261
Relative locators are special. Implicit waits are managed by the driver when using a `POST` to the `/element` endpoint. As mentioned, relative locators are implemented with fancy JS code that gets sent to the `/execute/sync` endpoint. The driver does not (can't?) apply implicit wait logic to JS return values. You'll have to manage these with your own explicit wait implementation.

[2022-11-17 18:21] #11261 closed, assigned to nobody

[2022-11-17 18:33] titusfortner commented on #11269
This is a legit use case in either direction (newer or older versions).
The Selenium Manager already supports this, but the bindings do not.

This will give the location of that driver regardless of the browser version.
[code]

The languages need to provide access to this functionality, though.

We should discuss how we want users to pass this info in for future versions of Selenium, I don't think

[2022-11-17 23:10] mcichonqa commented on #11030
Thanks for answers. @TamsilAmani could you execute cdpCommand for first tab and second tab with the same result = page offline?

CDP command works only for tab where before I write "var session = (_driver as IDevTools).GetDevToolsSession()".

Command is sended after this line in below example - _driver = _driver.SwitchTo().NewWindow(WindowType.Tab), when second tab exists and is switched to second

[2022-11-18 16:37] titusfortner opened #11280 "[🚀 Feature]: Publish index of released assets"
### Feature and motivation

Right now users need to use GithubAPI to parse our released assets: https://github.com/SeleniumHQ/selenium/releases

We could publish an xml/json file (similar to https://chromedriver.storage.googleapis.com/) to make it easier for people to determine the location of a specific version of their desired asset.

We should be able to auto-generate this file using Github API

[2022-11-19 04:51] debanjanc01 commented on #11275
Hey @diemol! I'd like to work on this issue. Option A mention above does seem like the suitable fix. Could you please assign this to me?

[2022-11-19 09:20] madchap commented on #11219
I have a similar and possibly related issue when running [this code](https://github.com/madchap/energiapro_gas_consumption) on Raspberry Pi 3 (aarch64), so I thought to comment in this issue. No MacOS involved on my end, but docker containers running a parent image of Alpine.

That same code works fine when the container and code run on a regular x86_64 platform (Linux).

On the raspPi, when I hit

[2022-11-19 10:27] Dor-bl opened #11281 "[🐛 Bug]: bazel build failing on Windows"
### What happened?

Hi,
I'm trying to set up my local ENV after cloning the Selenium repo.
While running the following command: ` bazel build //dotnet/test/common:chrome` it fails with the relevant log output below .

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Microsoft Windows 10 Pro  10.0.19045 Build 19045

### Selenium version

dotnet 4.6

[2022-11-19 13:25] joerg1985 commented on #11270
@pogrebnyaksa I agree a graceful shutdown is good practice and Selenium has a mechanism to clear unused clients.
But there is no way to stop a single java HttpClient, this is usually done automatically.

I created a PR to call `System.gc()` when a client is not in use any more.
This should help in your case, but i am not sure if they will merge it.

[2022-11-20 05:46] joker1024567 opened #11285 "[🐛 Bug]: It's No need driver.quit()"
### What happened?

In the latest stable chromedvider and edgedvier，driver.quit() is No need，It closed on its own
what happen，Is this really a bug，right？

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

Python 4.6.0

### What are the browser(s) and version(s) where you see this issue?

Chrome 107，Edge 107

### Wh

[2022-11-21 08:51] bysxx opened #11287 "[🚀 Feature]: add scroll event in selenium"
### Feature and motivation

Puppeteer can make scroll event by mouse.wheel function,
but Selenium can't make scroll event without execute_script..
I think this structure is not intuitive and it would be more intuitive to incorporate features

### Usage example

driver.scroll(deltaX, deltaY)

[2022-11-21 09:24] erik-rnbt commented on #11031
Thanks @krmahadevan

Changing the permission and mounting them with :z to the container worked.

The hub is running. But when trying to add a node it shows this:
[code]

Do I need to add the certificate to a truststore?

[2022-11-21 12:03] diemol commented on #11287
Please have a look at https://www.selenium.dev/documentation/webdriver/actions_api/

[2022-11-21 12:03] #11287 closed, assigned to nobody

[2022-11-21 12:35] diemol commented on #11031
Yes, the easiest is to build your own docker image with the certs in it.

Thanks for troubleshooting, @krmahadevan!

Closing this as a solution was found.

[2022-11-21 12:35] #11031 closed, assigned to nobody

[2022-11-21 12:48] diemol commented on #11285
Can you share the complete execution logs? This is very unlikely, if this was true, we would have tons of issues related to this.

[2022-11-21 13:37] diemol commented on #11275
@debanjanc01 we usually don't assign issues because that limits the people who want to contribute. Just commenting here is enough. Feel free to send us a PR.

[2022-11-21 15:21] titusfortner commented on #11281
The guide specifies Visual Studio 2019 and it looks like you are using 2022 (different compilers).
I should try installing from scratch again to see what does/doesn't work, but my current (working) setup is using Bazel 4.2.2, so you might also try that.

[2022-11-21 16:16] Dor-bl commented on #11281
Thanks, I'll try updating the bazel version. But what do you mean by start from scratch? You mean the Visual studio? Or all other installations.

[2022-11-21 17:44] titusfortner commented on #11270
Is this a Java issue or a Rust issue? The Java code for Selenium Manager does not do anything with http commands directly, that's all in the selenium-manager executable.

[2022-11-21 17:56] titusfortner commented on #11285
Selenium cleans up after itself. When the Python program exits, the process that the driver is running in will get killed, which in turn closes the browser. If you want the browser to stay open even with the driver is stopped, you can set `detached` to `True`.

https://stackoverflow.com/a/43615712/4072371

You should still manage the quit yourself, especially if you run more than one session in th

[2022-11-21 17:56] #11285 closed, assigned to nobody

[2022-11-21 18:04] titusfortner commented on #11281
I'm just saying my working Selenium Windows dev environment was created a year ago, and I've been careful not to mess with it so it doesn't break what I need. So I'm not sure what, were I to update it, would keep things from working.

[2022-11-21 19:12] ErgondataLucas opened #11288 "[🐛 Bug]:"
### What happened?

I'm trying to use selenium in python to work with Internet Explorer and I'm using windows 11
When I try to open a website, the windown opens, but the script doesn't understand and after few minutes return a error about time response.

I createde the subkey in regedit:
KEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_BFCACHE
DWORD va

[2022-11-21 19:45] aboks opened #11289 "[🚀 Feature]: configure/forward default timezone configuration in dynamic grid"
### Feature and motivation

I know that in a dynamic grid (where a Docker container is spun up for each session, following https://github.com/SeleniumHQ/docker-selenium#dynamic-grid) it is possible to specify a timezone for the child containers using the `se:timeZone` capability. However, I would like to have a way to have a (default) timezone for the child container configured on the grid hub/nod

[2022-11-21 21:41] diemol commented on #11270
This is not related to Selenium Manager.

[2022-11-21 21:51] diemol commented on #11288
That happens when this is not set properly:

2nd bullet point at https://www.selenium.dev/documentation/ie_driver_server/#required-configuration

[2022-11-21 21:51] #11288 closed, assigned to nobody

[2022-11-21 22:04] #11289 closed, assigned to nobody

[2022-11-21 22:28] alpatron commented on #11272
I created a PR with a possible fix (PR #11290).

[2022-11-22 05:47] Dor-bl commented on #11281
@titusfortner I've downgraded the Bazel version to the one you use, and I'm now getting a different Error:

Something with mkdir: command not found

[code]

[2022-11-22 05:58] Dor-bl commented on #11281
The odd thing is that when I use `mkdir **`* separately ,it works with no issues

[2022-11-22 06:35] PriyomSaha opened #11291 "[🐛 Bug]: Using selenium 4.6 in Ubuntu not able to download the required driver (for chrome) instead gives IllegalStateException"
### What happened?

- I am running the Ubuntu in Virtual Box.
- I am running a simple browser opening visiting youtube.com.
- When I am using WebdriverManager it works fine but when I am commenting that particular setup() it throws java.lang.IllegalStateException.
- Using JAVA.
- Attached the small 1 line sample code and error.

- **As I am using a Virtual Machine where can I expect the driver to

[2022-11-22 06:39] aboks commented on #11289
Awesome, thanks!

[2022-11-22 06:50] yanchunhuo opened #11292 "[🐛 Bug]: with JSON Wire Protocol,can not get sessions info"
### What happened?

I used the http client to request the '/sessions' interface and returned an error。

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 7

### Selenium version

selenium server 4.6.0

### What are the browser(s) and version(s) where you see this issue?

chrome

### What are the browser driver(s) and version(s) where you se

[2022-11-22 07:36] VikramMokallaTR opened #11293 "[🐛 Bug]: Too many logs related to 'DEBUG o.a.n.c.ChannelManager - Adding key...' while running automation scripts"
### What happened?

Below logs are displayed in thousands during Selenium automated suite execution:

12:57:21      [AsyncHttpClient-1-16] 12:57:21.320 DEBUG o.a.n.c.ChannelManager - Adding key: http://localhost:62931/ for channel [id: 0x1f18b05f, L:/127.0.0.1:61408 - R:localhost/127.0.0.1:62931]
12:57:21      [Forwarding executeScript on session b2d9187c378ddb9752e5ed47b6a48ac5 to remote] 12:57:2

[2022-11-22 10:44] rupaagra opened #11294 "[🐛 Bug]: Selenium Manager use Proxy info from Browser Options"
### What happened?

**I have tried using Selenium manager feature in selenium version 4.6. On my company network selenium manager is unable to download browser driver.**

Earlier I was using webdriver manager on my company network to download drivers, for that I have set proxy in webdriver manager like this :
WebDriverManager.chromedriver().proxy("proxy").setup(); and it was working fine with web

[2022-11-22 10:54] erik-rnbt commented on #11031
@krmahadevan

I had them same issue when using a self signed certificate. After switching to a cert signed by my ca it worked.

[2022-11-22 10:58] krmahadevan commented on #11031
@ehesognp - Would it be possible for you to please list the steps on how to get the cert signed along with all the steps to generate a cert. Maybe we could add it to the user facing documentation so that, others can benefit easily. I can help document it. But I dont know what the steps are. If you can share them, I can try to document it.

[2022-11-22 13:16] TamsilAmani commented on #11030
@mcichonqa I have tried the following code and it works for both client and admin tabs.

    try{
        const cdpConnection_client = await driver.createCDPConnection('page');
        await cdpConnection_client.execute(
            "Network.emulateNetworkConditions",
            commandParams
        );

        await driver.get("http://google.com") // Error : ERR_INTERNET_DISCONNECTED
    }

[2022-11-22 14:06] diemol commented on #11292
Please check https://www.selenium.dev/documentation/grid/advanced_features/endpoints/

[2022-11-22 14:06] #11292 closed, assigned to nobody

[2022-11-22 15:55] bonigarcia commented on #11294
The current implementation of Selenium Manager (milestone 1, M1) does not support the proxy setup. But indeed, this is a crucial feature for many users, and it is in the [roadmap](https://github.com/SeleniumHQ/selenium/tree/trunk/rust#roadmap) (for M3).

I recommend you keep using WebDriverManager until Selenium Manager M3 is released (currently, we are developing M2).

[2022-11-22 17:52] bonigarcia commented on #11291
Thanks for reporting @PriyomSaha. I reproduced the issue in the same environment (Ubuntu 22.10 with VirtualBox). The underlying problem is that Selenium Manager (which is a CLI application) cannot be executed in this distro:

[code]

The underlying cause seems a problem in the libssl library. I managed to solve by installing the following (see [source](https://stackoverflow.com/questions/72133316/

[2022-11-22 20:01] Dor-bl commented on #11281
With the help of @jimevans, I was able to have a successful build after I added `msys64\usr\bin` to the system Path variable.

[2022-11-22 20:01] #11281 closed, assigned to nobody

[2022-11-22 20:06] johrstrom commented on #11291
This is also affecting the [ruby gem](https://rubygems.org/gems/selenium-webdriver) on Ubuntu 22.04.  Looks like 22.04 has upgraded to libssl3, providing `libssl.so.3`, but this was compiled against `libssl.so.1.1`

Steps to replicate for me in a container:
* apt update
* apt install ruby
* gem install selenium-webdriver

[code]

[2022-11-22 20:14] johrstrom commented on #11291
I picked this up in our updates CI. `4.5.0` (the ruby gem version) worked fine, I'm finding out now because it didn't ship this binary.

I'm not sure how to ship a cross-platform binary that has dynamic libraries like that.   Maybe you need `rpm` and `deb` packages that target those platform:versions (that's my first guess anyhow)?

[2022-11-22 20:17] titusfortner commented on #11270
Sigh. Selector Manager. Sorry. Thanks.

[2022-11-22 20:20] titusfortner commented on #11288
@diemol fyi - you can't set those in Windows 11.

@ErgondataLucas this guide should help - https://titusfortner.com/2022/09/28/edge-ie-mode.html

[2022-11-22 20:24] #11111 closed, assigned to nobody

[2022-11-22 20:28] mcichonqa commented on #11030
@TamsilAmani I tried execute the same case, but in .NET we have only GetDevToolsSession method for create WS connection(CDP connection), maybe Im wrong.

Ok, looks like GetDevToolsSession method is a problem. My colleague tried to create workaround and invoke StartSession method in DevToolsSession class. This resolved the problem. So StartSession method allowed me to create several connection for

[2022-11-22 20:33] titusfortner commented on #11281
Thanks. This issue prompted me to try building a Selenium dev environment in Windows from scratch. Hope to have an updated process soon.

[2022-11-22 22:12] diemol commented on #11274
Closing as we did not get more information.

[2022-11-22 22:12] #11274 closed, assigned to nobody

[2022-11-22 22:13] diemol commented on #11254
Didn't get more information, we'll treat this as a question.

[2022-11-22 22:23] #11254 closed, assigned to nobody

[2022-11-22 23:26] diemol commented on #11288
Maybe that post should be part of our docs?

[2022-11-23 04:19] tqk2811 opened #11299 "[🚀 Feature]: [dotnet] asynchronous"
### Feature and motivation

-Set all functionality using HttpClient as async
-Synchronous function will move to used as extensions (compatible)

Motivation: Performance, just for not create new thread per every Selenium

### Usage example

[code]

Example [commit](https://github.com/tqk2811/selenium/commit/27558a0ac27fd3f24f53e0d1ea175809d63ba355)

[2022-11-23 10:05] rupaagra commented on #11294
Thanks for your reply. This is really helpful for us.

[2022-11-23 15:01] titusfortner commented on #11299
We've discussed this internally. Doing this would essentially double our API and create a large maintenance burden on an already under-served implementation. There's a decent chance we'll create an entirely new async implementation, but it would likely come at the expense of support for the existing code base.

We'll be sure to make announcements if we decide to go this route.

[2022-11-23 15:01] #11299 closed, assigned to nobody

[2022-11-23 17:02] titusfortner opened #11301 "[🚀 Feature]: Selenium Manager Error Handling"
### Feature and motivation

All languages need to be pulling info from stderr during selenium manager execution to show failures along the lines of #11300.

### Usage example

N/A

[2022-11-23 18:18] jeetjddas opened #11302 "[🐛 Bug]: Current version of chrome is not supporting by Selenium Manager"
### What happened?

I was trying to simply open chrome browser and open a website. But i am getting an error on my console.
OS: Windows
Editor: Pycharm
Language: Python

**Note**: Firefox browser is working fine with the new feature of Selenium Manager

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10

### Selenium version

Selenium 4.6

[2022-11-23 18:23] jeetjddas opened #11303 "[🐛 Bug]: Inconsistent shutdown behavior between drivers"
### What happened?

I was trying to use the new feature Selenium Manager using Edge browser
Unfortunately, after every successful run of the program, the browser gets automatically closed

Language: Python
Editor: Pycharm

**Note**: Firefox browser is working fine till now.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Windows 10 pro

### Sele

[2022-11-23 19:15] titusfortner commented on #10397
Per [TLC Meeting](https://www.selenium.dev/meetings/2022/tlc-11-10/):

[2022-11-23 19:28] titusfortner commented on #11210
This has been merged into trunk

[2022-11-23 19:28] #11210 closed, assigned to nobody

[2022-11-23 19:29] titusfortner commented on #10466
@jimevans added this with #11298
I think something still needs to be updated in csproj files?

[2022-11-23 19:35] titusfortner commented on #11301
@nvborisenko can you help with the .NET for this?
@harsha509 can you help with JS?
@symonk can you help with Python?

*should be straightforward what to do, but we can discuss in `#selenium-tlc` if needed.

[2022-11-23 19:44] titusfortner opened #11304 "[🚀 Feature]: Support .NET Selenium Manager via Bazel"
### Feature and motivation

Unlike other bindings, we got Selenium Manager to behave the right way in the nuget package for release, but it is not properly bundled to be able to use with Bazel for testing. Might need to be a part of overall Bazel Build improvements (#10465)

### Usage example

(automatically use Selenium Manager during tests)

[2022-11-23 19:46] titusfortner commented on #11302
It's very likely that you have an old version of chromedriver in some random directory that is on PATH. Please check and let us know.

[2022-11-23 19:48] titusfortner commented on #11303
The browser is supposed to close when the program finishes running. You can keep it open on Chrome & Edge drivers by passing in an Options instance and setting detach = True

[2022-11-23 20:07] titusfortner commented on #11291
@p0deje suggested we might fix this by compiling with `OPENSSL_STATIC=true`

[2022-11-23 20:18] titusfortner opened #11305 "[🚀 Feature]: Expand CI Coverage"
### Feature and motivation

We should have better CI coverage before we do releases.

**Update**: Here's a spreadsheet with [the current coverage ](https://docs.google.com/spreadsheets/d/1H8catmr06r2FjklShf9a5w1NMEsEGuxAzbo3W3V-0CE/edit#gid=0)
It's worth noting that not all Java tests run all the browsers, they have to be explicitly turned on per class.

~@p0deje is adding Windows + Ruby support -

[2022-11-23 20:22] titusfortner opened #11306 "[🚀 Feature]: Add Remote Cache to Bazel Builds"
### Feature and motivation

@p0deje is improving caching on CI, but we can improve performance for both local & CI execution to be able to store cache remotely.

### Usage example

N/A

[2022-11-24 04:18] michelmetran opened #11309 "[🐛 Bug]: [Exception ignored in: <function Service.__del__ at ...] Problem with Services.__del__... driver inside Class"
### What happened?

I'm studying the Page Object Model (POM), to package the driver, all the features and operations needed to do scrapping...
I used to do it through scripts, without using Class and Object Oriented Programming concepts.

However, when creating the driver in the __init__ of a Class, I get an error
*<function Service.__del__ at 0x000001AD36775CF0>*

Tested on Wi10 and PopOS 22.04.

[2022-11-24 08:22] diemol commented on #11304
I think Java has the same problem. I deleted GeckoDriver from the PATH and tests with bazel did not run. Can you try?

[2022-11-24 10:50] carljonghms opened #11312 "[🐛 Bug]: Different results when using an actual string vs a variable"
### What happened?

Listed below is the code to reproduce the issue.  It will work for 29 days as of November 24, 2022.

I'm trying to run this code:

iframe=driver.find_element(By.XPATH,"//iframe[contains(@src,thepath)]")

this is giving me different results than if I run:

iframe=driver.find_element(By.XPATH,"//iframe[contains(@src,'https://pianomarvel.com/uploads/editSlicings/86482')]")

where

[2022-11-24 11:18] jeetjddas commented on #11302
I have checked for the same for the above solution, but I do not have anything on PATH related to chromedriver.
Actually, it's opening the browser and closing instantly. After that I am getting the above-mentioned error in bug report.

[2022-11-24 11:22] jeetjddas commented on #11303
But if I use Firefox, without using Options instance, the browser remains open.
Only in case of Chrome and Edge, the browser is getting closed automatically if I am not using Options instance and setting detach = True.
Is it a valid deviation? @titusfortner

[2022-11-24 11:52] blueyed opened #11313 "[🐛 Bug]: DeprecationWarning: HTTPResponse.getheader() is deprecated and will be removed in urllib3 v2.1.0."
### What happened?

urllib3 1.26.13 starts throwing DeprecationWarnings (via https://github.com/urllib3/urllib3/commit/b8c5d457fc42821b951ea58bec4ad685a0183c02 / https://github.com/urllib3/urllib3/pull/2814).

### How can we reproduce the issue?

[code]
[code]

### Operating System

GHA

### Selenium version

Python 4.6.0

### What are the browser(s) and version(s) where you see this issue?

-

##

[2022-11-24 14:52] mdmintz commented on #11313
I created the PR for that 12 hours ago: https://github.com/SeleniumHQ/selenium/pull/11308
Waiting for someone to merge it.

[2022-11-24 17:05] mdmintz commented on #11309
Fix was committed here: https://github.com/SeleniumHQ/selenium/commit/1d5210a838f559398f7ce33fb9026160f931610d but not yet released.

[2022-11-24 17:57] titusfortner commented on #11304
Java works just fine for me with bazel. Too fine since it is getting all the drivers for some reason. :)

[2022-11-25 08:21] whimboo commented on #11264
Yes, for security reasons geckodriver has to check if the connection request comes from a local host by default. If no host is set at the system level it won't work. An alternative could be to explicitly specify hosts via `--allow-hosts` but IMHO the system configuration should be correct.

[2022-11-25 10:35] bonigarcia commented on #11291
I have just submitted a [PR](https://github.com/SeleniumHQ/selenium/pull/11316) to solve this issue. It consists on using pure TLS, as suggested by @shs96c. I tested the new [binary](https://github.com/SeleniumHQ/selenium/actions/runs/3546985407) in Ubuntu 22.10 (where the previous `selenium-manager` binary failed), and the new one runs nicely.

[2022-11-25 11:56] pavanwashimkar commented on #9528
Hi @therealdjryan / all,
I tried using the suggested way but getting below exception now.
Can someone suggest how to solve this.

java.lang.RuntimeException: org.openqa.selenium.SessionNotCreatedException: Could not start a new session. Possible causes are invalid address of the remote server or browser start-up failure.

Tried below after installing distr grid latest versiob

Include selenium-htt

[2022-11-25 13:00] erik-rnbt commented on #11031
At first you have to add a SAN to your csr and cert by using your own openssl.cnf.
For example openssl.cnf:
[code]

And create your csr and cert with -config openssl.cnf -extensions v3_req

If you use a DNS in the config make sure to put -e SE_NODE_HOST=[servername] when setting up a node, else it will throw your exception again

[2022-11-25 13:13] DudaGod opened #11318 "[🚀 Feature]: write in docs about `se:cdp` capability"
### Feature and motivation

In documentation https://www.selenium.dev/documentation/ I can't find anything about capability `se:cdp`. Found only in changelog - https://github.com/SeleniumHQ/selenium/blob/79f1c02ae20c359daa5652d790894d5e4e24d93f/java/CHANGELOG#L344-L346. Moreover there are another `se:cdp*` capabilities.

Can we describe it?

### Usage example

I want to connect to cdp by myself. B

[2022-11-25 13:21] hpierre001 opened #11319 "[🐛 Bug]: Using EC.frame_to_be_available_and_switch_to_it in EC.all_of inside WebDriverWait.until"
### What happened?

Using EC.frame_to_be_available_and_switch_to_it in EC.all_of inside WebDriverWait.until causes a problem since EC.all doesn't switch back to the original state of the driver in case of a failure.

I use python selenium 3.141 but i copied all_of from 4.0

### How can we reproduce the issue?

[code]

[2022-11-25 13:33] hpierre001 commented on #11319
A way to correct it would be to switch back to the orginal state of the driver before returning false

[2022-11-25 13:45] hpierre001 commented on #11319
I corrected like that but it is not ideal:

Original:
[code]

Correction:
[code]

[2022-11-25 14:15] michelmetran commented on #11309
Thank you for the information!!

[2022-11-25 16:56] mdmintz commented on #11313
Released in https://pypi.org/project/selenium/4.6.1/ a few minutes ago. This ticket can be closed.

[2022-11-25 16:57] mdmintz commented on #11309
Released in https://pypi.org/project/selenium/4.6.1/ a few minutes ago. This ticket can be closed.

[2022-11-25 17:03] onlyis opened #11321 "[🚀 Feature]: Not support multiple environment, by using params webPreferences-> partition"
### Feature and motivation

[🚀 Feature]: Not support multiple environment, by using params  webPreferences-> partition

### Usage example

it can be use multiple environment in chrome account

[2022-11-25 17:12] nvborisenko commented on #11204
Please don't apply it in .Net. Nuget package, which is primary distribution method, is already `zip` archive.

[2022-11-25 17:19] onlyis opened #11322 "[🐛 Bug]: Not support option (prefs -> partition) but i find it on the doc,this version not support it to handle multiple account environment"
### What happened?

not support it to handle multiple account environment

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

win10

### Selenium version

107

### What are the browser(s) and version(s) where you see this issue?

chrome 107

### What are the browser driver(s) and version(s) where you see this issue?

107

### Are you using Selenium

[2022-11-25 17:30] #11309 closed, assigned to nobody

[2022-11-25 17:30] #11313 closed, assigned to nobody

[2022-11-25 18:01] titusfortner commented on #11312
Few things...

1. ChromeDriver 79 shouldn't work with Chrome 107, please update your driver
2. We no longer support Selenium 3, so we require issues to be raised only on the currently supported version of Selenium
3. Selenium doesn't do anything to the XPath string you provide, it sends it directly on to the driver. If you are getting different results, it means Selenium is receiving different str

[2022-11-25 18:02] #11312 closed, assigned to nobody

[2022-11-25 18:06] titusfortner commented on #11302
You only get that error from chromedriver v96. Somewhere on your system there is a chromedriver v96 binary that is getting located. Try calling `gcm chromedriver.exe` to find it.

[2022-11-25 18:11] titusfortner commented on #11303
Nope, that's a bug. I can duplicate it. Thanks for reporting.

[2022-11-25 18:32] michelmetran commented on #11309
Tks,
Already tested!
Not more errors!!!

[2022-11-25 20:02] titusfortner commented on #11303
Did a run through of existing behaviors of different languages:
* Ruby - ensures all drivers are quit with `#at_exit`; drivers are attached to a process group, which we think also closes all processes opened by the driver, so browsers exit as well.
* Python - ensures all drivers are quit with `__del__()`, but browsers remain open
* Java - does not close anything at program complete
* .NET - does n

[2022-11-25 20:38] titusfortner commented on #11264
It doesn't appear to me like we allow args to be modified in the Java services instances; @diemol am I missing something? This implementation of builder pattern is confusing to me, regardless. :)

[2022-11-25 20:49] nvborisenko commented on #10466
@cgv-wd any issues running on .net6 target framework? I am on .net7, works good.

[2022-11-25 21:05] #11291 closed, assigned to nobody

[2022-11-26 01:35] titusfortner commented on #11302
fyi @bonigarcia I think this is a good use case for the manager to also process `PATH`.

We could provide a better error message:

[2022-11-26 05:43] titusfortner commented on #11318
There's nothing user-facing with this capability. The grid adds the value to the capabilities, so the bindings know the correct version to use. You can connect to cdp using the various executeCDP / devtools methods here - https://www.selenium.dev/documentation/webdriver/bidirectional/chrome_devtools/

[2022-11-26 05:43] #11318 closed, assigned to nobody

[2022-11-26 05:53] titusfortner commented on #11319
</Superfluous obligatory note that I personally hate expected conditions classes and wish everyone would use their own lambdas>

It doesn't make sense to include `frame_to_be_available_and_switch_to_it` with a list of other conditions. If you don't want to switch to the frame, you can just wait for the element to be displayed.

[2022-11-26 05:53] #11319 closed, assigned to nobody

[2022-11-26 06:06] titusfortner commented on #11321
I don't know what this means, can you clarify or provide examples?

[2022-11-26 06:09] titusfortner commented on #11204
There are 2 advantages.

1. Smaller binaries stored in repo
2. Some of the packages in some of the languages might be smaller

The task here is to see how much of a difference it would make in which languages, etc. If we don't have to deal with compression in the code that would be nice, but I want to make sure we are making an informed decision about it.

[2022-11-26 06:22] titusfortner commented on #11322
I'm not sure what you're trying to do. Here is a list of available prefs:
https://chromium.googlesource.com/chromium/src/+/master/chrome/common/pref_names.cc

[2022-11-26 06:23] #11322 closed, assigned to nobody

[2022-11-26 07:50] bysxx commented on #11287
I was looking at another document that was like an official document :(

[2022-11-26 16:12] titusfortner commented on #11204
Packages are already compressed, so no end value found. if we're concerned about adding too much overhead to the repo, there are better fixes.

[2022-11-26 16:12] #11204 closed, assigned to titusfortner

[2022-11-26 17:02] titusfortner commented on #11212
fixed by updating my bazel version. :-D

[2022-11-26 17:02] #11212 closed, assigned to nobody

[2022-11-27 01:21] lqyiwwx opened #11325 "[🐛 Bug]: The browser is automatically closed after the code is executed"
### What happened?

edge 107.0.1418.56  and above 4.6.0   The browser is automatically closed after the code is executed

### What browsers and operating systems are you seeing the problem on?

edge 107.0.1418.56  and above 4.6.0   The browser is automatically closed after the code is executed

[2022-11-27 02:12] titusfortner commented on #11239
Discussion in TLC meeting was not to automatically use a non-prod version of a browser unless explicitly requested. Detection of non-prod browsers will be a nice feature for users to specify instead of specific versions.

[2022-11-27 02:13] titusfortner commented on #11301
Ruby - 148e0d5229511d267e41516e979a307c5137d840

[2022-11-27 15:54] titusfortner commented on #11325
Likely a duplicate of #11303.

[2022-11-27 15:54] #11325 closed, assigned to nobody

[2022-11-27 18:19] TamsilAmani commented on #10949
@titusfortner, as per @AutomatedTester it is better to deprecate and remove the method. Shall I make the change?

[2022-11-27 19:09] debanjanc01 commented on #11275
Hey @diemol , I am unable to figure out how to mock the behaviour of `org.openqa.selenium.internal.Debug.isDebugging` inside `RemoteWebDriverUnitTest.java`. The idea is to test out that command parameters are a part of the exception log only when the debug is `true`.
Is there some `Capabilities` that could be passed in while creating the `WebDriverFixture`?
Could you please provide some guidance h

[2022-11-27 23:16] titusfortner commented on #10949
Actually, looking at this again... Chromium supports that endpoint:
https://github.com/bayandin/chromedriver/blob/d856c5891c91d5386e06b7f6ac5356b555e27e0c/client/command_executor.py#L182

So this should be supported via augmenter, instead of through the RemoteWebDriver directly.
Same thing with .NET - adding it to the list of `chromiumCustomCommands`

So, yeah, now I think we should deprecate `log

[2022-11-28 04:01] githubDiabsolut commented on #11207
I am encountering the same bug in my work

[2022-11-28 04:18] pavanwashimkar opened #11327 "[🐛 Bug]: getting java.lang.RuntimeException: org.openqa.selenium.SessionNotCreatedException:with RemoteWebDriver with latest 4.6.0 grid and selenium 4.6.0"
### What happened?

As per the solution provided under below issue.
java.util.concurrent.TimeoutException thrown at random netty read timeouts with RemoteWebDriver #9528

I tried but not able to fix this and still getting the same issue.
Can someone please help.

java.lang.RuntimeException: org.openqa.selenium.SessionNotCreatedException: Could not start a new session. Possible causes are invalid a

[2022-11-28 04:35] krmahadevan commented on #11275
@debanjanc01 - You can try something like this.

First define a handler like this

[code]

Now if you have a test that looks like below, you should be able to trigger that exception

[code]

You would have to enhance

* the test to include the JVM argument enabling/disabling (maybe within a `try..catch` so that you can reset it back after the test runs to completion) and also use the assertion tha

[2022-11-28 05:02] maksimovichsam commented on #11244
I was running into this error too. It looks like this is exception is caused by using `asyncio` to run the async function `main` instead of the `trio` library.  To fix this, make the following changes to the code snippet.
[code]
Example in the documentation should be more clear.

[2022-11-28 06:11] pujagani commented on #11327
Thank you for sharing the details. I have a few questions.
1. The logs shared show an error that is related to browser-start-up. But the bug title mentions TimeoutException. I am confused regarding the exact problem faced. I will appreciate the exact exception faced. Are you also seeing TimeoutException?
2. The issue is no longer Netty related if Java 11 HTTP Client is used. Can you please update

[2022-11-28 06:43] TamsilAmani commented on #11244
Thank you for the fix @maksimovichsam. I'll update the documentation.

[2022-11-28 06:55] pujagani commented on #11293
Selenium 4 uses Netty and AsyncHttpClient under the hood. The logs you see are debug logs from those libraries. There is nothing Selenium can do in this case. I suggest please change the log level if you find the debug level logs noisy. Thank you!

[2022-11-28 06:55] #11293 closed, assigned to nobody

[2022-11-28 06:57] VikramMokallaTR commented on #11293
Thanks Pujagani

[2022-11-28 07:42] pavanwashimkar commented on #11327
@pujagani , Thanks for prompt response.
1.  We were working on fixing concurrent.TimeoutIssue and end up in this session not created issue now. Updated the title of the issue.
2. Yes using java 11 HTTP client.
3. The grid we are running in distributed mode and dont have option to pass the version. But as per the comments under issue #9528, latest version of grid (4.6.0) should already be running o

[2022-11-28 07:51] pujagani commented on #11327
Thank you for your response.
1. Thank you for updating it.
2. Got it 👍
3. 4.6 does not use the Java 11 client by default. As mentioned earlier, please refer to the documentation attached https://www.selenium.dev/blog/2022/using-java11-httpclient/#using-the-java-11-client-in-grid to see how the Grid can use Java 11 HTTP Client. The command remains the same even for distributed mode. The flags need

[2022-11-28 08:37] debanjanc01 commented on #11275
Hey @krmahadevan thanks for the detailed input!

Could you please elaborate on the below?

The problem here is `org.openqa.selenium.internal.Debug#isDebugging` - this is a static method. Currently the `Mockito.mockStatic` is not supported in the codebase.

Even if I set the system property explicitly, since the `Debug` class has a static block, the system property is persisted throughout all the t

[2022-11-28 10:01] krmahadevan commented on #11275
@debanjanc01 - The following steps can be followed ( The exact correctness of them will be determined only by someone who is more Bazel educated). These steps got the below test to  pass.

My sample test case

[code]

Steps that I followed:

1. After [this](https://github.com/SeleniumHQ/selenium/blob/trunk/java/maven_deps.bzl#L98) I added `"org.mockito:mockito-inline:4.8.1",`
2. Now I opened up a

[2022-11-28 10:05] debanjanc01 commented on #11275
@krmahadevan this is exactly what I was planning to do. Thanks for adding the detailed steps on here as well.

Since I'm new to the codebase I'm not sure if adding the mockito-inline dependency is something advisable/something I should be doing.

[2022-11-28 10:08] krmahadevan commented on #11275
The best way to find that out is by having someone from the dev group review it for you :)

Personally speaking, adding this dependency would be the straight forward way of getting past this mockito roadblock. The round about way to do this would be to alter the `Debug` class and then provide a `reset()` and a `reinitialize()` methods in it, for the sake of testing. I dont know if that's something

[2022-11-28 10:19] debanjanc01 commented on #11275
@krmahadevan I agree with this that adding the dependency is the easier solution here.

I'll take your advise and wait for the feedback by the dev group. :)

Thanks for all the help!

[2022-11-28 10:31] Umutayb commented on #11302
It makes sense to point out that this issue is highly reproducible, and @bonigarcia's WDM does not have this issue.

[2022-11-28 11:05] pavanwashimkar commented on #11327
Hi @pujagani ,

Thanks for the input.
Also we are running the grid via docker(distributed mode 4.6.0). Do you by any chance know how to pass these variables (Dwebdriver.http.factory=jdk-http-client and —-ext flags) inside docker.

[2022-11-28 11:51] pujagani commented on #11327
Apologies, I did not know you were running the Grid in docker. In 4.6.0 it defaults to using the Java 11 client when using docker. So you are good on that front. We will need a reproducible test script to reproduce the error.

[2022-11-28 13:55] titusfortner commented on #11302
Keep in mind that the two products are intentionally using different prioritizations.
WDM is a user-opt-in feature that takes priority in managing drivers.
Selenium Manager is an always-on feature that is only used if code would have otherwise failed.

I'm still not getting a reproducible idea of what is going on.

What do you get from:
[code]
or
[code]
What is the `dir` results from:
[code]

[2022-11-28 16:51] jerone commented on #10466
FYI, according to last comment: https://github.com/bazelbuild/bazel/issues/16378#issuecomment-1329234659

[2022-11-28 17:19] Umutayb commented on #11302
My attempt was to give some insight on the issue.
I have an open source library using selenium 4.6, about 40 percent of people who used the new version that is packing selenium 4.6 faced this issue where selenium detects and older version of chrome driver vs the one that is being used.

I too suspect that this is caused by some leftover chrome drivers in the system/PATH. Considering most of the ad

[2022-11-28 17:50] titusfortner commented on #10466
As I understand it, you already should be able to use .net6 & .net7 because Selenium supports netstandard2.1.

That said, I'm finishing up what Jim started and we should have an explicit .net6 target working for the next release.

[2022-11-28 18:07] titusfortner commented on #11302
Thanks for clarifying.

Yeah, there are several options for how we could move forward with this.

1. Have users opt-in to using Selenium Manager in the code somehow (similar to WDM)
2. Have Selenium Manager first locate/use drivers on PATH (better errors and auto-fixes)
3. Have Selenium Manager ignore what's on PATH and just download what it needs

My preference right now is for 2, but we're not r

[2022-11-28 18:14] Umutayb commented on #11302
Looking forward to see how you fix it!

[2022-11-28 20:20] TamsilAmani commented on #11030
I believe this issue is solved for the specific use case. The .NET way of doing things is similar to Java CDP. So I recommend to close this issue.

[2022-11-29 06:25] web159687 opened #11330 "[🐛 Bug]:"
### What happened?

eee

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

ee

### Selenium version

ee

### What are the browser(s) and version(s) where you see this issue?

ee

### What are the browser driver(s) and version(s) where you see this issue?

ee

### Are you using Selenium Grid?

eee

[2022-11-29 06:25] web159687 commented on #11330
dddd

[2022-11-29 06:25] web159687 opened #11331 "[🚀 Feature]:"
### Feature and motivation

ddd

### Usage example

dd

[2022-11-29 08:06] echoidcf opened #11332 "[🐛 Bug]: intercepted response cannot change response code (ruby)"
### What happened?

[code]
can perfectly replace the response body but not the response code.
With the code below, I can get the intercepted body, but the response code is still 404 (I hope it to be 200)

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Centos7

### Selenium version

Ruby 4.6.1

### What are the browser(s) and version(s) where you

[2022-11-29 09:43] pavanwashimkar commented on #11327
Hi @pujagani , I am still working on the process to share few test cases with you. Meanwhile just wanted to give some inputs which might help you in debugging this issue.

1. We are using cucumber(version 7.3.4)) test cases and running them using testng(version 7.3.0). Even with junit runner facing same issue.
2. using testng profile, we running the test cases in parallel mode (around 10-20 test c

[2022-11-29 13:25] #11331 closed, assigned to nobody

[2022-11-29 13:26] #11330 closed, assigned to nobody

[2022-11-29 13:56] p0deje commented on #11332
It should be possible to mutate the response code. Can you please re-run the following code with `Selenium::WebDriver.logger.level = :debug` before and post the output?

[2022-11-29 14:37] gongomgra opened #11333 "selenium-webdriver-4.6.x gem for ARM"
### What happened?

I see latest selenium-webdriver gem's versions 4.6.x install a couple of binary files (linux and macos). However, it looks like the Linux binaries are for x86-64 architecture, but I'm installing the gem in a Debian-11 ARM container. This gem version was installed running the `rails new` command. I see previous minor version 4.5.0 (from September this year) didn't install any bi

[2022-11-29 15:25] titusfortner commented on #11333
The binaries are part of a new beta feature: https://www.selenium.dev/blog/2022/introducing-selenium-manager/
They are created in rust, which should be able to cross compile, but we haven't gotten that all tooled in, so we are using github actions to build them for us and copying them into the repo. Github actions only supports windows, linux and mac, so those are the 3 binaries we're distributing

[2022-11-29 15:25] #11333 closed, assigned to nobody

[2022-11-29 17:08] ImSejin opened #11335 "[🐛 Bug]: RemoteWebDriver.findElement works weirdly"
### What happened?

When I tried to find an element by xpath, it works.

The current call stack of method was done and then jvm went into other method call stack.
I tried to do that again at there, but it doesn't work.

There is no action for ChromeDriver. The changes are only call stack.
I don't understand why.

[code]

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

[2022-11-29 17:15] titusfortner commented on #10466
I think I got everything else covered with this - d2838e1291032fde9e0da47ad6bb809f03c53deb

I built the solution and tested it in Mac, Win10 & Win11 without issues.

[2022-11-29 17:15] #10466 closed, assigned to titusfortner

[2022-11-29 17:58] titusfortner commented on #11335
This is likely an issue of your implementation as it has a number of moving parts. If you think this is a Selenium bug, then you need to provide a short reproducible case that doesn't involve debugging your code repo.

[2022-11-29 19:02] jerone commented on #10466
Thanks @titusfortner for moving this forward. 👍

[2022-11-30 00:35] ImSejin commented on #11335
Okay, I'm going to check my code again.
If I find a prove that the cause is selenium, I reopen this issue.

[2022-11-30 00:35] #11335 closed, assigned to nobody

[2022-11-30 00:38] echoidcf commented on #11332
I know it should be. I check the source code, and it seems nothing wrong with it.
But it happened.

[code]

[2022-11-30 00:39] echoidcf commented on #11332
![コメント 2022-11-30 093322](https://user-images.githubusercontent.com/25361271/204679392-6e69f882-2170-4438-8a02-ef277e423492.png)

[2022-11-30 00:44] echoidcf commented on #11332
Oh, another thing. I noticed that code in response object is string instead of a int.
So, if I change the code from
```r.code = 200 ```
to
```r.code = "200" ```
and it just crashed.
[code]

[2022-11-30 01:06] p0deje commented on #11332
You should not use strings for status codes so the crash is expected.

What looks off to me is that the response is intercepted correctly:

[code]

And when it's fulfilled, the response code is properly set to 200:

[code]

And then there is an event that response is received with a 200 code too:

[code]

So I suppose we do everything correctly and it's an issue in Chrome itself. I wonder if it ha

[2022-11-30 05:18] pujagani commented on #11327
I appreciate the details. However, the test framework used does not help much unless the issue is related to it. The goal is to isolate the issue to Selenium and narrow it down so we can triage and fix it. Thank you for putting the test cases together. Since you are using docker and have a test framework setup, it might be a good idea to put everything in a Github repo with instructions on how to

[2022-11-30 05:46] Codude opened #11336 "[🐞 Bug]: Socket connection is not getting closed in the hub node in Selenium grid 4.6.0"
### What happened?

Selenium grid : 4.6.0
OS : ubuntu 18.04 LTS

While we run more threads in parallel several drivers are created simultaneously. For a single automation run, we are getting many unclosed processes piled up on on JVM (PFA). This happens after we migrated from selenium 4.2.2 to 4.6.0

<img width="792" alt="Screenshot 2022-11-30 at 11 09 12 AM" src="https://user-images.githubusercon

[2022-11-30 09:08] frafra opened #11337 "[🐛 Bug]: 4.6.1 is on PyPI, but there is no tag on GitHub"
### What happened?

See the title.

### How can we reproduce the issue?

[code]

### Relevant log output

[code]

### Operating System

Not relevant

### Selenium version

Not relevant

### What are the browser(s) and version(s) where you see this issue?

Not relevant

### What are the browser driver(s) and version(s) where you see this issue?

Not relevant

### Are you using Selenium Grid?

_No r

[2022-11-30 09:12] frafra opened #11338 "[🐛 Bug]: Cannot install selenium 4.6.1 on Python using PDM"
### What happened?

I use pdm as Python package manager, and it fails to add selenium==4.6.1, while it works with 4.6.0. I cannot reproduce using other packages manager at the moment.

### How can we reproduce the issue?

[code]
[code]
[code]

[2022-11-30 15:52] bonigarcia commented on #11302
It is easy to implement that Selenium Manager processes the PATH, so we can do it. As I see it, Selenium Manager can discover if a driver is in the path and if the version is suitable to drive the browser. If the driver is not compatible (typically, since it is an old version), IMO, Selenium Manager should fix the problem (i.e., resolve the proper driver and ignore the driver in the PATH).

Then,

[2022-11-30 16:01] Umutayb commented on #11302
Sounds pretty straight forward!

[2022-11-30 17:04] pabloFuente opened #11340 "[🐛 Bug]: Selenium Manager not directly usable in Ubuntu 22.04 due to missing library libssl.so.1.1"
### What happened?

It seems that selenium-manager binary fails when trying to run it in a clean Ubuntu 22.04 machine. It is missing library **` libssl.so.1.1`**:

[code]

[code]

After installing the missing library manually, it worked fine:

[code]

[code]

I don't know if this is something expected, but I just find a little weird that Selenium Manager does not work out-of-the-box with the curre

[2022-11-30 18:28] titusfortner commented on #11302
@bonigarcia I like that solution! Some of the bindings will have an easier time outputting the logging of that than others, so we need to figure out how to make that look good.

[2022-11-30 18:34] titusfortner commented on #11340
duplicate of #11291

[2022-11-30 18:34] #11340 closed, assigned to nobody

[2022-11-30 19:10] Codude commented on #11336
Reverted back to selenium 4.2.2, I can still see those CLOSE_WAIT processes not closed for this version too. Only difference is amount of processes. grid 4.6.0 has more ( atleast 3 times ) processes in this state than grid 4.2.2.

[2022-11-30 21:26] diemol commented on #11336
Seems to be the same as #11270, can you please double check?